//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #fdfdfd;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten:       #c3e5e5;
$base-color-light:         #00a6ff;
$base-color-main:          #f9a454;
$base-color-dark:          #0072bb;
$base-color-darken:        #22465c;
$base-color-disabled:      #afbdc7;


//brand-info
$color-type-1a:            #869dab;
$color-type-1b:            #99b4c1;
$color-type-1c:            #2f4d59;
$color-type-1d:            #dce4e9;
$color-type-1e:            #bcc7ce;

//brand-danger
$color-type-2a: #e55c5c;
$color-type-2b: #d93636;
$color-type-2c: #e52222;

//brand-warning
$color-type-3a: #ffaa00;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #2db386;
$color-type-4b: #2ab100;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #22465c;
$color-type-6b: #cad3df;

//black&white
$white-lighten: #fff;
$white: #fafafa;
$white-darken: #f0f0f0;

$gray-lighten: #eee;
$gray: #ddd;
$gray-darken: #ccc;
$gray-darken-1: #bbb;
$gray-darken-2: #777;

$black: #333;
$black-darken: #000;