ul.breadcrumbs.hidden__xs.hidden__sm
    if title == 'Главная'
        li
            a(href="#") Главная
    else
        li
            a(href="#") Главная
        li
            a(href="#") О компании
        li.active= title