.btn-catalog.text--normal
    button.btn.btn--primary.btn--full.btn__lg.btn__icon--left.show--js(type='button')
        i.icon.icon-23.icon--cat
        | Каталог товаров
    ul.fg-menu.fg-menu--ver.fg-menu--ver-l.fg-menu--catalog
        li: a(href="#")
            |  Кабель и изоляционная арматура
        li.parent
            a(href="#")  Кабель-каналы
            .fg-menu--sub.fg-menu--sub_twice
                .fg-menu--sub_col
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li.active: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
                .fg-menu--sub_col
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
        li.parent
            a(href="#") Трубы и аксессуары
            .fg-menu--sub
                .fg-menu--sub_col
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li.active: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
                    ul.fg-menu--sub_cat
                        li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                        li: a(href="#") Средневольтное оборудование
                        li: a(href="#") Счётчики, приборы измерения
                        li: a(href="#") Источники бесперебойного питания (ИБП)
                        li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                        li: a(href="#") Контакторы, пускатели. Реле
                        li: a(href="#") Опоры и мачты освещения
                        li.foot: a(href="#") Все категории
        li: a(href="#")
            |  Колонны и лючки
        li: a(href="#")
            |  Розетки и выключатели
        li: a(href="#")
            |  Изделия для изоляции, крепежа и маркировки
        li: a(href="#")
            |  Материалы для электромонтажа
        li: a(href="#")
            |  Шинопровод
        li: a(href="#")
            |  Металические лотки. Кабельные эстакады
        li: a(href="#")
            |  Телекоммуникационное оборудование
        li: a(href="#")
            |  Светильники, датчики
        li: a(href="#")
            |  Источники света
        li: a(href="#")
            |  Электротехническая шина
        li: a(href="#")
            |  Автоматы, узо, рубильники
        li: a(href="#")
            |  Инструмент
        li: a(href="#")
            |  Система молниезащиты и заземления
        li: a(href="#")
            |  Шкафы,щиты, боксы
        li: a(href="#")
            |  Средневольтное оборудование
        li: a(href="#")
            |  Счётчики, приборы измерения
        li: a(href="#")
            |  Источники бесперебойного питания (ИБП)
        li: a(href="#")
            |  Трансформаторы, стабилизаторы и электродвигатели
        li: a(href="#")
            |  Контакторы, пускатели. Реле
        li: a(href="#")
            |  Опоры и мачты освещения