aside.cell.cell__lg-3.cell__xs-12
    form.filter
        if title == 'Кабель и изоляционная арматура'
            ul.fg-menu.fg-menu--ver.margbot10
                li.active: a(href="#") Металические лотки. Кабельные эстакады&nbsp;(31)
                li: a(href="#") Кабель - каналы&nbsp;(56)
                li: a(href="#") Изделия для изоляции, крепежа и маркировки&nbsp;(118)
                li: a(href="#") Телекоммуникационное оборудование&nbsp;(61)
                li: a(href="#") Кабель и изоляционная арматура&nbsp;(65)
        else if title == 'Аналоги для Кабель NYM ТУ 3 х 1.5 100 м'
            .fg-accordion__section
                a.fg-accordion__section_title.accordion-title.active(href="#"): b Кабель и изоляционная арматура
                .accordion-content.accordion-content--mobile.active(style="display: block;")
                    ul.fg-menu.fg-menu--ver
                        li: a(href="#") Металические лотки. Кабельные эстакады&nbsp;(31)
                        li.active: a(href="#") Кабель - каналы&nbsp;(56)
                        li: a(href="#") Изделия для изоляции, крепежа и маркировки&nbsp;(118)
                        li: a(href="#") Телекоммуникационное оборудование&nbsp;(61)
        else if title == 'Результаты поиска'
            p: a.btn--link(href="#")
                i.icon-angle-up
                span Все товары категории
            .fg-accordion__section
                a.fg-accordion__section_title.accordion-title.active(href="#"): b Металлические лотки и кабельные эстакады
                .accordion-content.accordion-content--mobile.active(style="display: block;")
                    ul.fg-menu.fg-menu--ver
                        li: a(href="#") Листовые металлические лотки и аксессуары
                        li.active: a(href="#") Лестничные металлические лотки и аксессуары
                        li: a(href="#") Проволочные металлические лотки
                        li: a(href="#") Стеклопластиковые лотки
                        li: a(href="#") Лотки для подвеса светильников  и акссесуары
                        li: a(href="#") Напольные монтажные системы  и акссесуары
                        li: a(href="#") Монтажные элементы
                        li: a(href="#") Система крепежа (метизы), таккелаж
                        li: a(href="#") Кабельные  эстакады
                        li: a(href="#") Огнестойкие проходки
        else if title == 'Совместимые товары для Кабель NYM ТУ 3 х 1.5 100 м'
            .fg-accordion__section
                a.fg-accordion__section_title.accordion-title(href="#"): b Кабель-каналы
                .accordion-content.accordion-content--mobile(style="display: none;")
                    ul.fg-menu.fg-menu--ver
                        li: a(href="#") Металические лотки. Кабельные эстакады&nbsp;(31)
                        li: a(href="#") Кабель - каналы&nbsp;(56)
                        li: a(href="#") Изделия для изоляции, крепежа и маркировки&nbsp;(118)
                        li: a(href="#") Телекоммуникационное оборудование&nbsp;(61)
                a.fg-accordion__section_title.accordion-title.active.main-parent(href="#"): b Металические лотки. Кабельные эстакады
                .accordion-content.accordion-content--mobile.active(style="display: block;")
                    ul.fg-menu.fg-menu--ver
                        li: a(href="#") Прямые элементы - без основания (25)
                        li: a(href="#") Прямые элементы - с перфорированным основание (106)
                        li: a(href="#") Прямые элементы - с неперфорированным основанием (15)
                        li: a(href="#") Прямые элементы - донная вставка (30)
        .accordion.fg-filter
            .fg-accordion__section
                a.fg-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                    b.text__lg
                        i.icon.icon-20.icon--filter
                        span  Фильтры
                .accordion-content.accordion-content--mobile
                    .board
                        +fieldCheckbox('Акционный товар', 'prod_1', false)
                        +fieldCheckbox('Товар в наличии', 'prod_2', false)
                        +fieldCheckbox('Производство Россия', 'prod_3', false)
                    .fg-accordion--mini.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title.active(href="#"): b Цена
                            .fg-accordion__section_content.accordion-content.active(style="display: block;")
                                .this-or-this.range-slider
                                    .this-or-this__this.range-slider__item
                                        input#start.form-control(type="text", class="start")
                                    .this-or-this__this.range-dot.text--center.padright10.padleft10  —
                                    .this-or-this__this.range-slider__item
                                        input#end.form-control(type="text", class="end")
                                #rangeSlider
                    .fg-accordion--mini.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title.active(href="#"): b Бренд
                            .fg-accordion__section_content.accordion-content.active(style="display: block;")
                                +fieldCheckbox('Novkabel', 'brand1', false)
                                +fieldCheckbox('Prysmian', 'brand2', false)
                                +fieldCheckbox('Reka cables', 'brand3', false)
                                +fieldCheckbox('Helukabel', 'brand4', true)
                                +fieldCheckbox('TELE-FONIKA Kable', 'brand5', false)
                                .hide--all.margtop10(style="display:none")
                                    +fieldCheckbox('Novkabel', 'brand6', false)
                                    +fieldCheckbox('Prysmian', 'brand7', false)
                                    +fieldCheckbox('Reka cables', 'brand8', false)
                                    +fieldCheckbox('Helukabel', 'brand9', true)
                                    +fieldCheckbox('TELE-FONIKA Kable', 'brand10', false)
                                .margtop10
                                    a.btn--link.text__xs.show--all(href="#")
                                        span Еще бренды (7)
                    .fg-accordion--mini.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title.active(href="#"): b Серия
                            .fg-accordion__section_content.accordion-content.active(style="display: block;")
                                .row
                                    .cell.cell__md-6.cell__xs-12
                                        +fieldCheckbox('204', 'check1', false)
                                        +fieldCheckbox('235', 'check2', false)
                                        +fieldCheckbox('У 675', 'check3', false)
                                        +fieldCheckbox('Е 427', 'check4', true)
                                        +fieldCheckbox('734', 'check5', false)
                                    .cell.cell__md-6.cell__xs-12
                                        +fieldCheckbox('204', 'check6', false)
                                        +fieldCheckbox('235', 'check7', true)
                                        +fieldCheckbox('У 675', 'check8', false)
                                        +fieldCheckbox('Е 427', 'check9', false)
                                        +fieldCheckbox('734', 'check10', false)
                    .fg-accordion--mini.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#"): b Расширенный поиск
                            .fg-accordion__section_content.accordion-content(style="display: none;")
                                p.text__xs Толщина сечения
                                .row.form__group
                                    .cell.cell__md-6.cell__xs-12
                                        +fieldCheckbox('2,3', 'check31', false)
                                        +fieldCheckbox('2,5', 'check32', false)
                                        +fieldCheckbox('2,8', 'check33', false)
                                        +fieldCheckbox('3,0', 'check34', true)
                                        +fieldCheckbox('3,3', 'check35', false)
                                    .cell.cell__md-6.cell__xs-12
                                        +fieldCheckbox('2,3', 'check36', false)
                                        +fieldCheckbox('2,5', 'check37', false)
                                        +fieldCheckbox('2,8', 'check38', false)
                                        +fieldCheckbox('3,0', 'check39', true)
                                        +fieldCheckbox('3,3', 'check40', false)
                                p.text__xs Материал жилы
                                +fieldCheckbox('Алюминий', 'brand31', false)
                                +fieldCheckbox('Медь', 'brand32', false)
                                +fieldCheckbox('Сталь', 'brand33', false)
                                +fieldCheckbox('Алюминий + медь', 'brand34', true)
                    ul.list--inline.margtop20.clearfix
                        li.cell__md-7.pull-left
                            a.btn.btn--transparent.btn--full(href='#') Применить
                        li.cell__md-5.pull-right
                            a.btn.btn--default.btn--full(href='#') Сбросить