.navbar
    .mobile-table.hidden__lg.hidden__xlg
        .header__logo
            a(href="/")
                img(src="images/logo.png", alt="Company ltd.")
    .mobile-table.hidden__lg.hidden__xlg
        a.btn--link.text--warning(href="#"): span Санкт-Петербург
    .mobile-table.hidden__lg.hidden__xlg
        a.header-phone.popup-modal(href='#call-id'): b
            i.icon.icon-20.icon--phonem &nbsp;
            span +7 (812)
            span.lg  740-75-70
    .navbar__right.mobile-table
        ul.main-nav__cabinet
            if title == 'Личный кабинет'
                li
                    b: a.btn--link.btn--link-dark(href="#")
                        i.icon.icon-20x17-lk.icon--lk-hlog.mob
                        i.icon.icon-20x17-lk.icon--lk-hlogw.desc
                        span  Иванов А.
                li
                    b
                        a.btn--link.btn--link-dark(href="#")
                            i.icon.icon-20.icon--log-out.mob &nbsp;
                            i.icon.icon-23.icon--out.desc &nbsp;
                            span Выйти
            else
                li: b: a.btn--link(href="#"): span Регистрация
                li
                    b
                        a.btn--link.btn--link-dark#login(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            i.icon.icon-20.icon--log-in.mob &nbsp;
                            i.icon.icon-23.icon--in.desc &nbsp;
                            span Вход
                        .dropdown-menu.dropdown-menu--md(aria-labelledby="login")
                            form
                                .form__group
                                    +fieldInput('text', 'name', 'login', 'Ваш логин', false)
                                .form__group
                                    +fieldInput('password', 'name', 'pass', 'Ваш пароль', false)
                                .form__group
                                    a.text__xs.btn--link(href="#"): span  Забыли пароль?
                                ul.list--inline-pure.text--right.margtop20
                                    li: a.btn.btn--transparent(href='#') Войти
                                    li: b: a.btn--link.btn--link--sec(href='#'): span  Отмена
    nav.nav.main-nav.navbar__left.mobile-table
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            b Меню
            span.icon-bar &nbsp;
        .main-nav__collapse
            +menu(navigation)