ul.pagination
    li.pagination__item.pagination__item--nude
        a(href='#')
            i.icon-left-dir
    li.pagination__item.active
        a(href='#') 1
    - for (var x = 2; x < 3; x++)
        li.pagination__item
            a(href='#')= x
    li.pagination__item.pagination__item--nude
        a(href='#') ...
    li.pagination__item
        a(href='#') 15
    li.pagination__item.pagination__item--nude
        a(href='#')
            i.icon-right-dir