ul.pager
    li.previous
        a.arr(href='#')
            i.icon-left-dir
        a(href='#')
            b Следующая новость
            i.icon-right-dir
    li.next
        a(href='#')
            b Next Page Hover
            i.icon-right-dir
        a.arr(href='#')
            i.icon-left-dir