//popups

#resume-id.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    h3 Отклик на вакансию
    form
        .form__group
            +fieldInput('text', 'login', 'login', 'Ф.И.О. *', true)
        .form__group
            +fieldInput('text', 'phone', 'phone', 'Ваш телефон *', true)
        .form__group
            +fieldInput('email', 'email', 'email', 'Ваш e-mail *', true)
        .form__group
            +fieldInput('text', 'link', 'link', 'Ссылка на резюме', false)
        .form__group
            +fieldTextarea('text', 'text', '', 'Ваше сообщение', 4, false)
        .form__group
            .dropbox
                input.input__file-js(type="file", multiple)
                .dropbox__inner
                    img(src="images/dropbox-img.png", alt="")
                    p.input__text-js
                        span.text--warning Загрузить файл
                        br
                        span.text__xs Перетащите сюда файл, чтобы прикрепить его к отклику
        .text--center
            button.btn.btn--transparent(type="submit") Отправить отклик



#contract-id.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    h3 Заключить договор
    form
        .form__group
            fieldset
                select.select-hard.form-control
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard ООО «Сидоров и КО»
        .form__group
            fieldset
                select.select-hard.form-control
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard Организация, с которой заключается договор
        .text--center
            a.btn.btn--transparent.popup-modal.popup-modal-dismiss(href="#contract-suc") Отправить заявку


#contract-suc.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center.padtop40.padbot40
        img(src="images/contacts-fly.png", alt="")
        p.text__lg.text--primary Благодарим за Вашу заявку!
            br
            | Мы свяжемся с Вами в ближайшее время.

#suc.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-okey
        p.text__lg.text--primary Изменения успешно сохранены!


#docorder.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon--documents-lk
        p.text__lg.text--primary Документы заказаны.
            br
            | Они будут доступны после подтверждения
            br
            | Вашим менеджером.

#adduser.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center.margtop20.margbot20
        span.text__lg.text--primary Сотрудник успешно добавлен!

#addcancel.mfp-hide.white-popup-block.mfp-md
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center.margtop20.margbot20
        p.margbot30.text__lg.text--primary Позиции, которых нет в наличии, добавлены #[br] в отдельный черновик в Вашем личном кабинете.
        a.btn.btn--default(href="#") Отменить добавление

#adderror.mfp-hide.white-popup-block.mfp-md
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center.margtop20.margbot20
        p.text__lg.text--primary Внимание! #[br] Часть выбранных товаров нет в наличии!
        p.margbot30 По #[a(href="#") правилам заказа], такой заказ требует предоплаты.
        ul.list--inline-pure
            li: a.btn.btn--transparent(href="#") Оставить товары, которые есть в наличии
            li: a.btn.btn--transparent(href="#") Оставить как есть


#addlist.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-adduser
        p.text__lg.text--primary Сотрудник успешно добавлен!


#addullist.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-adddoc
        p.text__lg.text--primary Организация успешно добавлена!


#addobj.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-map
        p.text__lg.text--primary Объект успешно добавлен!


#delitem.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-del
        p.text__lg.text--primary.margbot30 Вы действительно хотите удалить #[br] эти позиции?
        ul.list--inline-pure
            li: a.btn.btn--transparent(href="#") Да, удалить
            li: a.popup-modal-dismiss(href="#"): b.text--info Отмена


#additem.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    .text--center
        i.icon.icon-40-lk.icon--lk-okey
        p.text__lg.text--primary Позиции добавлены в новый черновик #[br] в Вашем личном кабинете!



#one-click.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    h3 Купить в один клик
    .form__group
        +fieldInput('text', 'name', 'namew', 'Ф.И.О. *', true)
    .form__group
        +fieldInput('text', 'phone', 'phonew', 'Ваш телефон *', true)
    .form__group
        +fieldTextarea('text', 'textw', '', 'Ваш комментарий', 4, false)
    .form__group.text--center
        a.btn.btn--transparent(href="#") Отправить заказ



#call-id.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    h3 Обратный звонок
    .form__group
        +fieldInput('text', 'name', 'nameq', 'Ф.И.О. *', true)
    .form__group
        +fieldInput('text', 'phone', 'phoneq', 'Ваш телефон *', true)
    .form__group
        fieldset
            select.select-hard.form-control
                option(default)
                option Санкт-Петербург
                option Санкт-Петербург
                option Санкт-Петербург
                option Санкт-Петербург
            label.label-hard Город
    .form__group
        +fieldTextarea('text', 'textq', '', 'Ваше сообщение', 4, false)
    .form__group.text--center
       a.btn.btn--transparent(href="#") Заказать звонок



#analog-id.mfp-hide.white-popup.mfp-lg
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-23.icon--close
    include ../cards/_analogs-f
    h3 Товары аналоги
    .fg-sort
        .row
            .cell.cell__md-3.cell__xs-12.text--left
                fieldset
                    select.select-hard.form-control
                        option(default)
                        option Dropdown
                        option Dropdown Hover
                        option Dropdown Selected
                        option Dropdown Disabled
                    label.label-hard Сортировать по
            .cell.cell__md-3.cell__xs-12.text--left
                fieldset
                    select.select-hard.form-control
                        option(default)
                        option Dropdown
                        option Dropdown Hover
                        option Dropdown Selected
                        option Dropdown Disabled
                    label.label-hard Бренд
            .cell.cell__md-6.cell__xs-12.text--left.text__md--right
                ul.list--inline-pure.v-middle
                    li
                        +fieldCheckbox('Товар в наличии', 'get', false)
                    li: a.btn.btn--transparent(href="#") Применить
                    li: a.btn.btn--default(href="#") Сбросить
    - for (var x = 0; x < 3; x++)
        include ../cards/_analogs

//popups