aside.cell.cell__lg-3.cell__xs-12.hidden__sm.hidden__xs.hidden__md
    ul.fg-menu.fg-menu--ver
        li: a(href="#")
            i.icon.icon-23.icon--build
            |  О компании
        li: a(href="#")
            i.icon.icon-23.icon--desc
            |  Проекты
        li: a(href="#")
            i.icon.icon-23.icon--sert
            |  Сертификаты
        li.active: a(href="#")
            i.icon.icon-23.icon--bag
            |  Вакансии
        li: a(href="#")
            i.icon.icon-23.icon--paper
            |  Контакты
    ul.fg-citymenu
        li: b: a.btn--link(href="#")
                i.icon.icon-23.icon--location
                span  Москва
        li: a.btn--link(href="#"): span Санкт-Петербург
        li: a.btn--link(href="#"): span Самара
        li: a.btn--link(href="#"): span Нижний новгород
        li: a.btn--link(href="#"): span Краснодар
        li: a.btn--link(href="#"): span Ростов-на-Дону
        li: a.btn--link(href="#"): span Череповец
        li: a.btn--link(href="#"): span Петрозаводск
        li: a.btn--link(href="#"): span Архангельск
        li: a.btn--link(href="#"): span Казань
        li: a.btn--link(href="#"): span Воронеж
        li: a.btn--link(href="#"): span Вся Россия
