.fg-sort
    if title == 'Результаты поиска'
        p
            b.text__lg.text--primary Вы искали:
            span  кабель nym
    .pull-left.cell__md-4.cell__xs-12.text--left
        fieldset
            select.select-hard.form-control.edited
                option(default)
                option Dropdown
                option(selected) Dropdown Hover
                option Dropdown Selected
                option Dropdown Disabled
            label.label-hard Сортировать по
    .pull-right.cell__md-6.cell__xs-12.hidden__xs.hidden__sm
        ul.list--inline-pure.text--left.text__md--right
            li.text-md Показано: 45 товаров
            li
                .btn__group.tabs__caption
                    button.btn.btn--default.btn__icon--center.btn__sm.active
                        i.icon.icon-30.icon--tabs1
                    button.btn.btn--default.btn__icon--center.btn__sm
                        i.icon.icon-30.icon--tabs2
                    button.btn.btn--default.btn__icon--center.btn__sm
                        i.icon.icon-30.icon--tabs3