//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 2px solid transparent;
  @include button-size($padding-base-vertical, $padding-base-horizontal, 14px, 1.3, $btn-border-radius-base);

  min-width: 100px;

  height: 40px;

  &--width {
    width: 170px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &.focus {
    //color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &:disabled {
    color: #fefefe;
    border-color: #c8ccce;
    background-color: #c8ccce;
    cursor: auto;
    &:hover,
    &:active,
    &:focus,
    &.focus {
      color: #fefefe;
      border-color: #c8ccce;
      background-color: #c8ccce;
      cursor: auto;
    }
  }

  &--natural{
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  // Button with icon
  .icon {
    //font-size: 130%;
    //height: $base-padding * 4;
    //position: relative;
    &:before {
      //line-height: ($base-padding * 4) - 2;
    }
  }
  &__icon--text {
    padding: 0 ($base-padding / 2);
    .icon {
      float: left;
      margin: 0 ($base-padding);
    }
    .sign {
      display: inline-block;
      font-size: 10px;
      line-height: 30px;
      margin: 0 ($base-padding / 2);
      text-transform: uppercase;
    }
  }
  &__text {
    display: inline-block;
    height: ($base-padding * 4);
    line-height: ($base-padding * 4) - 2;
    padding-right: $base-padding * 1;
  }
  &__icon {
    padding: 0;
    width: $base-padding * 4;
  }
  &__icon--left {
    padding-left: 37px !important;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      margin: auto;
    }
  }
  &__icon--center {
    //padding-left: 40px !important;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
  &__icon-right {
    padding-right: 47px;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto;
    }
  }
  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &--success {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--transparent {
      @include button-variant-tr($btn-transparent-color, $btn-transparent-bg, $btn-transparent-border);

      &:disabled {
        color: $base-color-disabled;
        background-color: #fff;
        &:hover,
        &:active,
        &:focus,
        &.focus {
          color: $base-color-disabled;
          background-color: #fff;
        }
      }
    }
  }

  &--link {
    color: $base-color;
    text-decoration: none;
    position: relative;
    display: inline-block;
    &-ico {
      position: absolute;
      top: 0;
      right: -20px;
    }
    &.active {
      font-weight: 700;
    }
    span {
      border-bottom: 2px dotted $base-color;
    }
    &.text--brand span {
      border-bottom: 2px dotted #00a6ff;
    }
    &.active,
    &:hover {
      color: $color-type-1c;
      span {
        border-color: $color-type-1c;
      }
    }
    &.active {font-weight: 600;}
    &.disabled {
      color: $base-color-disabled;
      span {
        border-color: $base-color-disabled;
      }
    }
    &--sec {
      border-bottom: none;
    }

    //i {
    //  background-color: #fff;
    //}
    //&-dark {
    //  i {
    //    background-color: #5b6b72;
    //  }
    //}
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, 13px, $line-height-btn, $btn-border-radius-large);
      height: 50px;
      text-transform: uppercase;
    }
    &__sm {
      @include button-size($padding-large-vertical, $padding-large-horizontal, 13px,$line-height-btn, $btn-border-radius-large);
      //height: 40px;
      height: 50px;
      min-width: inherit;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }


  &--round {
    @include border-radius(50px);
  }

  // Button group
  @if $use-btn-group == true {
    &__group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -2px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}