//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  //display: 400;
  max-width: 100%;
  margin-bottom: 5px;
  color: $color-type-1a;
}


input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

//
//input[type="number"]{
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  margin: 0;
//}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.form-control {
  display: block;
  width: 100%;
  //height: $input-height-base;
  padding: $padding-base-vertical $padding-base-vertical;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  text-align: left;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  height: 50px;

  @media (min-width: $screen-adaptive-nav) {
    padding: $padding-base-vertical 15px;
  }
  &:disabled {
    color: $base-color-disabled;
    border-color: $base-color-disabled;
    cursor: auto;
  }

  @include form-control-focus;

  @include placeholder;

  &:invalid {
    border: 1px solid #ffc2c2;
    box-shadow: 0 0 6px rgba(255, 55, 55, 0.16);
  }
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
  resize: none;
  font-family: inherit;

  &:disabled {
    color: $base-color-disabled;
    border-color: $base-color-disabled;
    cursor: auto;
  }

}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arr-d.png") center right 23px no-repeat, #fff;
  padding-right: 35px;

  &:focus {
    background: url("../images/arr-d.png") center right 23px no-repeat, #fff;
  }

  &:disabled {
    color: #c8ccce;
    border-color: #c8ccce;
    cursor: auto;
  }

}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
  padding-right: 39px !important;
  background: url("../images/icons/search_icon.png") no-repeat center right 15px, $input-bg;
  &:focus {background: url("../images/icons/search_icon.png") no-repeat center right 15px, #fff;}
}


.form__group {
  margin-bottom: $form-group-margin-bottom;
  @media (min-width: $screen-adaptive-nav) {
    margin-bottom: $form-group-margin-bottom * 2;
  }
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  min-height: 25px;
  //display: block;
  color: $base-color;
  label {
    padding-left: 34px;
    margin-bottom: 0;
    cursor: pointer;
    //line-height: 1.6;
    display: block;

    font-size: 13px;
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      display: block;
      border: 1px solid $color-type-1d;
      background-color: $input-bg;
    }

    &:disabled {
      color: $base-color-disabled;
      border-color: $base-color-disabled;
      cursor: auto;
      &:after {
        border-color: $base-color-disabled;
        cursor: auto;
      }
    }
  }
  &:hover {
    color: $color-type-1c;
  }
}

.checkbox {
  input[type="checkbox"] {display: none;}
  label:after {
    width: 25px;
    height: 25px;
  }
}
.radio {
  input[type="radio"] {display: none;}
  label:after {
    width: 18px;
    height: 18px;
  }
}
.checkbox label{
  line-height: 25px;
  &:after {
    @include border-radius(3px);
  }
}
.radio label {
  padding-left: 25px;
  &:after {
    @include border-radius(50%);
  }
}

.checkbox input[type="checkbox"]:checked {
  + label {
    color: $color-type-1c;
    &:after {
      background: url('../images/icons/icoCheck.png') center center no-repeat, $input-bg;
    }
  }
}
.radio input[type="radio"]:checked {
  + label {
    color: $color-type-1c;
    &:after {
      background: url('../images/icons/icoRadio.png') center center no-repeat, $input-bg;
    }
  }
}


fieldset {
  position: relative;
  .require {
    position: absolute;
    top: -14px;
    right: -8px;
  }
  .select-hard ~ label,
  input + label {
    position: absolute;
    top: 13px;
    left: 15px;
    color: #8c9ba9;
    font-size: 15px;
    font-weight: 400;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }
  input {
    transition: all 0.2s ease-in-out;
    &.edited,
    &:focus {
      padding: 22px 15px 10px;
    }
    &:focus {
      //outline: 0;
      //background: rgba(255,255,255,1);
    }
    &.edited + label,
    &:focus + label {
      font-size: 12px;
      transform: translate3d(0, -10px, 0);
    }
  }
  > .select-hard {
    transition: all 0.2s ease-in-out;
    &.edited + .select2-container--default .select2-selection--single,
    ~ .edited.select2-container--default .select2-selection--single {
      padding: 22px 15px 10px;
    }
    &:focus {
      outline: 0;
    }
    &.edited ~ label,
    ~ .edited + label {
      font-size: 12px;
      transform: translate3d(0, -10px, 0);
    }
    //~ .select2-container {
    //  height: 55px;
    //  .select2-selection--single {
    //    height: 55px;}
    //}
  }
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  //padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 20px;
}

@if $use-input-group == true {
  .input__group {
    position: relative;
    display: table;
    border-collapse: separate;

    &[class*="col-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .form-control, .select-group {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .select-group,
  .input__group--select,
  .input__group--addon,
  .input__group--btn,
  .input__group .easy-autocomplete,
  .input__group .easy-autocomplete ,
  .input__group .form-control {
    display: table-cell;

    &:not(:first-child):not(:last-child) .form-control,
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input__group--addon,
  .input__group--btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .input__group--select {
    width: 47%;
    white-space: nowrap;
    vertical-align: middle;
    @media (min-width: $screen-adaptive-nav) {
      width: 24%;
      &-f {
        width: 31%;
      }
    }
  }

  .input__group--addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $border-radius-base;

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  // Reset rounded corners
  .input__group .easy-autocomplete:first-child .form-control,
  .input__group .easy-autocomplete:first-child,
  .input__group .form-control:first-child,
  .input__group--addon:first-child,
  .input__group--btn:first-child > .btn,
  .input__group--btn:first-child > .btn__group > .btn,
  .input__group--btn:last-child > .btn__group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input__group--addon:first-child {
    border-right: 0;
  }
  .input__group .easy-autocomplete:last-child,
  .input__group .form-control:last-child,
  .input__group--addon:last-child,
  .input__group--btn:last-child > .btn,
  .input__group--btn:last-child > .btn__group > .btn,
  .input__group--btn:first-child > .btn:not(:first-child),
  .input__group--btn:first-child > .btn__group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input__group--addon:last-child {
    border-left: 0;
  }
  .input__group .input__group--select .form-control {
    @include border-left-radius(3px);
  }

  .input__group--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn__group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn__group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}
