//
// Base -> Tables
// --------------------------------------------------


table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  text-align: left;
}
th {
  text-align: left;
}


@if $use-table == true {
  // Baseline styles
  .table {
    width: 100%;
    margin-bottom: $line-height-computed;
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    img {vertical-align: middle;}
    p {margin-bottom: 0;}
    th,
    td {
      padding: $table-cell-padding;
      line-height: $base-line-height;
      vertical-align: top;
      //border: 1px solid $table-border-color;
    }
    .active {
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      position: relative;
      &:after {
        content: '';
        border-style: solid;
        border-width: 10px 15px 0 15px;
        border-color: #ffffff transparent transparent transparent;
        position: absolute;
        bottom: -9px;
        left: 14%;
        z-index: 10;
      }
    }
    > thead th {
      vertical-align: middle;
      height: 55px;
      text-align: center;
      font-weight: 600;
      //border: 1px solid $table-border-color;
      color: #fefefe;
      background-color: #99b4c1;
      font-size: 13px;
    }
    > tbody + tbody {
      border-top: 2px solid $table-border-color;
    }
    .table {
      //background-color: $base-background;
      box-shadow: none;
      > thead th {
        background-color: #f7f5f5;
        color: #2f4d59;
      }
    }
    tr:not(:last-child) {
      border-bottom: 1px solid #f9f9f9;
    }

    // Condensed table w/ half padding
    &--condensed {
      th,
      td {
        padding: $table-condensed-cell-padding;
      }
    }

    // Bordered version
    &--bordered {
      border: 1px solid $table-border-color;
      th,
      td {
        border: 1px solid $table-border-color;
      }
      > thead td {
        border-bottom-width: 2px;
      }
    }
    // Bordered version
    &--light {
      th,
      td {
        padding: 12px 4px;
      }
      .checkbox {
        width: 25px;
        margin: auto;
      }
    }

    // Zebra-striping
    &--striped {
      > tbody > tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
      }
    }

    // Hover effect
    &--hover {
      > tbody > tr:hover {
        background-color: $table-bg-hover;
      }
    }

    &--mobile {
      tbody td {
        display: block;
        padding: 3px 12px;
        @media (min-width: $screen-tablet) {
          padding: 12px;
          display: table-cell;
        }
        &:before {
          content: attr(data-th)": ";
          color: #2f4d59;
          font-size: 13px;
          font-weight: 400;
          width: 110px;
          display: table-cell;
          @media (min-width: $screen-tablet) {
            display: none;
          }
        }
      }
      @media (max-width: $screen-sm-max) {
        background-color: transparent;
        box-shadow: none;
        tbody tr {
          padding: 8px 0;
          display: block;
          background-color: white;
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
          margin-bottom: 10px;
          &.table-content--js {display: none !important;}
        }
        tbody td {
          font-size: $font-size-tiny;
          > * {
            display: table-cell;
          }
        }
        thead {
          display: none;
        }
      }
    }



    &--order {
      box-shadow: none;
      margin-bottom: 0;
      border-bottom: 1px solid #f9f9f9;
      th {
        padding: 9px 3px;
        @media (min-width: $screen-xlg-desktop) {
          padding: 12px;
        }
      }
      td {
        vertical-align: middle;
        padding: 10px 8px;
      }
    }


    // Responsive effect
    &--responsive {
      @media (min-width: $screen-tablet) and (max-width: $screen-lg-max){
        min-height: .01%;
        overflow-x: auto;
        white-space: nowrap;
      }
      .table { margin-bottom: 0;}
      .icon-img {
        max-width:inherit;
      }
    }

    &--mid {
      td {
        vertical-align: middle;
      }
    }
  }

  @if $use-column-table == true {
    .t5  { width: 5% }
    .t10 { width:10% }
    .t12 { width:12.5% }     /* 1/8 */
    .t15 { width:15% }
    .t20 { width:20% }
    .t25 { width:25% }       /* 1/4 */
    .t30 { width:30% }
    .t33 { width:33.333% }   /* 1/3 */
    .t35 { width:35% }
    .t37 { width:37.5% }     /* 3/8 */
    .t40 { width:40% }
    .t45 { width:45% }
    .t50 { width:50% }       /* 1/2 */
    .t55 { width:55% }
    .t60 { width:60% }
    .t62 { width:62.5% }     /* 5/8 */
    .t65 { width:65% }
    .t66 { width:66.666% }   /* 2/3 */
    .t70 { width:70% }
    .t75 { width:75% }       /* 3/4*/
    .t80 { width:80% }
    .t85 { width:85% }
    .t87 { width:87.5% }     /* 7/8 */
    .t90 { width:90% }
    .t95 { width:95% }

    // Cell alignments
    .numerical {
      text-align: right;
    }
    .danger {
      border: 1px solid #ffc2c2;
      box-shadow: 0 0 6px rgba(255, 55, 55, 0.16);
    }
    // Table backgrounds
    @if $use-color-table == true {
      @include table-row-variant('active', $table-bg-active);
      @include table-row-variant('success', $state-success-bg);
      @include table-row-variant('info', $state-info-bg);
      @include table-row-variant('warning', $state-warning-bg);
      @include table-row-variant('danger', $state-danger-bg);
    }
  }
}