//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   {
  font-size: 18px;
  margin-top: 10px;
  @media (min-width: $screen-adaptive-nav) {
    font-size: $font-size-h1;
    margin-top: 0;
  }
}
h2, .beta    { font-size: $font-size-h2; }
h3, .gamma   { font-size: $font-size-h3; }
h4, .delta   { font-size: $font-size-h4; }
h5, .epsilon { font-size: $font-size-h5; margin-top: 7px;}
h6, .zeta    { font-size: $font-size-h6; }


// Body text
p { margin: 0 0 9px; }

b { font-weight: 600; color: $color-type-1c; }

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }
.text--normal       { white-space: normal; }


// Responsive alignment
@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media (min-width: $screen-xlg-min) {
    .text__xlg--left { text-align: left;}
    .text__xlg--right { text-align: right;}
    .text__xlg--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__xxs { font-size: 11px;}
.text__xs { font-size: $font-size-tiny; line-height: 1.85;}
.text__sm { font-size: $font-size-small; }
.text__md { font-size: $font-size-medium; }
.text__lg { font-size: $font-size-large; }


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', $color-type-4a);
  @include text-emphasis-variant('.text--info', $color-type-1a);
  @include text-emphasis-variant('.text--warning', $color-type-6a);
  @include text-emphasis-variant('.text--danger', $color-type-2a);
  @include text-emphasis-variant('.text--brand', #00a6ff);
}

sup {
  color: red;
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.link-grey {
  text-decoration: none;
  color: #99b4c1;
  &:hover {
    text-decoration: underline;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--inline-pure {
    @include list--unstyled;
    margin-left: -5px;
    margin-bottom: 0;
    > li {
      display: inline-block;
      //vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    margin-left: 0;
    > li {
      //margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        color: $base-color-main;
        font-size: 15px;
        margin-right: 7px;
      }
    }
  }

  &--okey {
    @include list--unstyled;
    margin-left: 0;
    > li {
      margin-bottom: 20px;
      line-height: 2;
      position: relative;
      padding-left: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url("../images/icons/icons_lk_15x15.svg");
        background-position: -70px 0;
        background-size: 85px auto;
        display: block;
        margin-right: 7px;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }

  &--number {
    counter-reset: items;
    padding-left: 0;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &::before {
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        margin-right: 5px;
        font-weight: 400;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--counter {
    max-width: 450px;
    @include list--unstyled;
    //margin-bottom: 0;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      //margin-bottom: 15px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px dotted #666;
      }
      .sec {
        position: absolute;
        right: 40%;
        top: 0;
        background: #fff;
        padding: 0 5px;
        display: inline-block;
        z-index: 3;
      }
      .key {
        //display: inline-block;
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
        max-width: 142px;
      }
      .value {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-left: 5px;
      }
    }
  }
  &--counter-card {
    max-width: 610px;
    @include list--unstyled;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      @media (min-width: $screen-tablet) {
        &:after {
          content:'';
          display: block;
          position: absolute;
          bottom: 4px;
          left: 0;
          width: 100%;
          height: 2px;
          border-top: 1px dotted #666;
        }
      }
      .key {
        display: inline-block;
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
      }
      .value {
        display: block;
        float: right;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-left: 5px;
        @media (min-width: $screen-tablet) {
          position: absolute;
        }
      }
    }
  }
  &--table {
    display: table;
    width: 101%;
    margin-bottom: 0;
    margin-left: -8px;
    > li {
      display: table-cell;
      padding-left: 8px;
    }
  }
}



// Blockquotes
blockquote {
  padding: 0 $line-height-computed 0 ($line-height-computed * 1.8);
  margin: $line-height-computed * 2 0;
  font-size: $blockquote-font-size;
  line-height: 1.6;
  position: relative;
  //border-left: 3px solid $blockquote-border-color;
  //background: linear-gradient(to top, #0082d5 0%, #a234d5 100%);

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    @include background-gradient(#a234d5, #0082d5);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}