//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.footer {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #f0efef;
  @media (min-width: $screen-adaptive-nav) {
    padding-top: 65px;
    padding-bottom: 25px;
  }
  &__phone {
    span {
      font-size: 22px;
    }
  }
  p { margin-bottom: 4px; }
  &__authors { }
  &__copyrights { }
  .btn__icon-right {
    padding-right: 60px;
    .icon {
      top: auto;
    }
  }
  &-inner {
    margin-top: 10px;
    @media (min-width: $screen-tablet) {
      display: table;
      width: 100%;
      margin-top: 20px;
    }
    @media (min-width: $screen-desktop) {
      display: block;
      margin-top: 0;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      @media (min-width: $screen-tablet) {
        width: auto;
        display: table-cell;
        vertical-align: middle;
      }
      @media (min-width: $screen-desktop) {
        display: block;
        &--doub {
          margin-left: 2%;
        }
      }
      &:last-child {
        vertical-align: middle;
      }
    }
  }
  &-mtxt {
    @media (max-width: $screen-sm-max) {
      font-size: 11px;
    }
  }
}