//
// Partials -> Header
// ------------------------------------

body {
 &.active {
   overflow: hidden;
   @media (min-width: $screen-adaptive-nav) {
     overflow: auto;
   }
 }
}

//
// Header
//
.header {
  @include clearfix();
  background-color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  &-top {
    @include clearfix();
    @media (min-width: $screen-adaptive-nav) {
      background-color: #5b6b72;
    }
  }
  &-middle, &-fixed {
    padding: 0 0 10px;
    @media (min-width: $screen-adaptive-nav) {
      padding: 20px 0;
    }
    .inner {
      display: table;
      width: 100%;
      margin-top: 10px;
    }
    .item {
      display: table-cell;
      vertical-align: middle;
    }
    .media {
      min-width: 215px;
      margin: 0;
    }
  }
  &-fixed {
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 0 15px;
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    display: none;
    z-index: 66;
    &.fix {
      @media (min-width: $screen-tablet) {
        position: fixed;
        display: block;
      }
    }
    .header__logo {
      max-width: 152px;
    }
    .btn-catalog {
      width: auto;
      .btn {
        min-width: inherit;
      }
    }
  }
  &-bottom {
    @media (max-width: $screen-sm-max) {
      .cell {
        padding-left: 2px;
        padding-right: 2px;
      }
      .row {
        margin-right: -2px;
        margin-left: -2px;
      }
    }
    @media (min-width: $screen-adaptive-nav) {
      margin-top: 20px;
    }
  }
  &__logo {
    max-width: 120px;
    @media (min-width: $screen-tablet) {
      max-width: 150px;
    }
    @media (min-width: $screen-adaptive-nav) {
      float: left;
      max-width: inherit;
    }
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      //max-width: 60px;
    }
    span {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  &-phone {
    text-decoration: none;
    span.lg {
      font-size: 18px;
      @media (min-width: $screen-adaptive-nav) {
        font-size: 24px;
      }
    }
  }
  &-cart {
    position: relative;
    &__inner {
      position: absolute;
      left: 33px;
      right: 0;
      top: 5px;
      .count {
        float: left;
        margin-right: 7px;
        font-size: 9px;
        font-weight: 700;
        padding: 3px;
        margin-top: 9px;
        @include border-radius(50%);
        display: inline-block;
        color: #fff;
        background-color: $base-color;
        @media (min-width: $screen-tablet) {
          margin-top: 0;
          font-size: 12px;
        }
      }
    }
    &__i {
    }
  }
  .search {
    background-color: white;
    border-color: $base-color-main;
    border-width: 3px;
  }
  #search {
    //background: url("../images/search.png") no-repeat center right 23px, white;
    padding-right: 40px;
    @include transition();
    @media (min-width: $screen-adaptive-nav) {
      //background: white;
      padding-right: 12px;
    }
  }
  .active #search {
    position: absolute;
    width: 249px;
    right: 0;
  }
}
.main-nav {
  //float: left;
  &__cabinet {
    @extend .list--inline;
    margin-bottom: 0;
    > li {
      //padding: 0;
      padding: 13px 0;
      &:last-child b {
        border-left: 1px solid $color-type-1c;
        @media (min-width: $screen-adaptive-nav) {
          border-left: 1px solid #fff;
        }
      }
      > b > a {
        color: $color-type-1c;
        &:hover {
          color: $color-type-1c;
        }
        @media (min-width: $screen-adaptive-nav) {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
        span {
          border-color: $color-type-1c;
          @media (min-width: $screen-adaptive-nav) {
            border-color: #fff;
          }
          &:hover {
            border-color: transparent;
          }
        }
      }
      b {
        padding: 0 5px;
      }
    }
  }
}

.mobile--btn {
  display: none;
}
@media (max-width: $screen-md-max) {
  .navbar {
    display: table;
    width: 100%;
  }
  .mobile-table {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
  }
  .mobile--btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    .btn {
      background-color: transparent;
      min-width: inherit;
    }
  }
}
@media (max-width: $screen-sm-max) {
  .mobile-table {
    .header-phone span,
    .btn--link span {
      display: none;
    }
    .dropdown-menu .btn--link span {
      display: block;
    }
  }
}
//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }