//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
  min-height: 45.5vh;
}

.relative {
  position: relative;
}

.v-top {vertical-align: top;}
.v-middle {vertical-align: middle;}
.v-bottom {vertical-align: bottom;}
.v-baseline {vertical-align: baseline;}

//tempaltes
.text-template {
  padding: 20px 0;
}
.dark-template {
  padding: 20px 0;
  background-color: $base-color-darken;
}
.board {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  & + & {
    margin-top: 10px;
  }
  @media (min-width: $screen-tablet) {
    padding: 20px;
  }
}
.with-sidebar {
  margin-top: 10px;
  margin-bottom: 30px;
  @media (min-width: $screen-tablet) {
    h1 {
      margin-top: 0;
    }
  }
}
.dotted {
  border: 2px dashed $color-type-1b;
  border-radius: 5px;
  padding: 15px;
}
.line-v {
  width: 1px;
  height: 20px;
  background-color: $color-type-1a;
  display: inline-block;
  vertical-align: middle;
}
//tempaltes


.fg {


  &-sort {
    @include clearfix();
    @extend .board;
    margin-bottom: 20px;
  }

  &-tags {
    margin-bottom: 20px;

    position: relative;
    ul {
      @media (min-width: $screen-tablet) {
        width: 70%;
      }
      @media (min-width: $screen-xlg-desktop) {
        width: 100%;
      }
    }
    @media (min-width: $screen-tablet) {
      .btn--link {
        float: right;
        position: relative;
        top: -33px;
      }
    }
    &__item {
      @extend .btn;
      font-weight: 400;
      min-width: 40px;
      cursor: pointer;
      border-width: 1px;
      color: $color-type-1a;
      background-color: $base-color-lighten-1;
      border: 1px solid $color-type-1d;
      //margin-bottom: 5px;
      height: auto;
      min-height: 40px;
      &:hover {
        border-color: $color-type-1b;
      }
      span {
        margin-left: 11px;
      }
    }
    .more-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top:100%;
      left:0;
      z-index: 9999;
      min-width: 200px;
      transition: 0.5s;
      @media (min-width: $screen-tablet) {
        right:0;
        left: auto;
        //min-width: 200px;
      }
      .fg-tags__item {
        display: block;
        margin-bottom: 5px;
      }
    }
    .more {
      position: relative;
      &:hover .more-menu {
        visibility: visible;
        opacity: 1;
        display: block;
        padding: 5px 5px 0;
        background-color: white;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      }
    }
  }

  &-tabs {
    &__caption {
      //color: #678293;
      //font-size: 15px;
      font-weight: 600;
      @extend .list--inline-pure;
      li {
        cursor: pointer;
        //margin: 0 10px;
        padding: 12px 0;
        border-bottom: 3px solid transparent;
        &.active {
          color: $color-type-1c;
          border-color: $base-color-main;
        }
        &:hover {
          color: $color-type-1c;
        }
      }

    }
    &__content {
      @extend .board;
      & + & { margin-top: 0;}
    }
  }

  &-fastorder {
    @extend .board;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
    min-width: 300px;
  }

  &-menu {
    a {
      text-decoration: none;
      color: $base-color;
    }
    i {
      vertical-align: middle;
      margin-left: 0;
    }
    &--hor {
      margin-bottom: 0;
      background-color: white;
      padding: 20px 15px 0;
      @media (min-width: $screen-adaptive-nav) {
        background-color: transparent;
        padding: 0;
      }
      li {
        padding: 0 0 12px;
        margin-right: 28px;
        border-bottom: 3px solid transparent;
        i {
          margin-left: 0;
        }
        &.active {
          border-color: $base-color-main;
          a {color: $color-type-1c;}
        }
        &:hover {a {color: $color-type-1c;}}
      }
      li + li {
        //padding-left: 28px;
      }
    }
    &--ver {
      @include list--unstyled;
      background-color: white;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      width: 100%;
      @media (min-width: $screen-adaptive-nav) {
        //width: 225px;
      }
      > li {
        display: block;
        > a {
          display: block;
          padding: 10px 20px;
          &:hover {
            color: $base-color-light;
            text-decoration: underline;
            //color: #fff;
            //background-color: $color-type-1b;
          }
        }
        &.active {
          > a {
            color: #fff;
            background-color: $color-type-1b;
          }
        }
      }
      &-l {
        width: 300px;
        @media (min-width: $screen-phone) {
          width: 337px;
        }
      }
    }
    &--catalog {
      font-weight: 400;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 99;
      display: none;
    }
    &--sub {
      //display: none;
      @extend .board;
      @include clearfix();
      padding: 0;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 7;
      width: 0;
      overflow: hidden;
      @include transition();
      @media (min-width: $screen-tablet) {
        .parent:hover > & {
          width: 350px;
          //display: block;
        }
      }
      @media (min-width: $screen-adaptive-nav) {
        bottom: 0;
        .parent:hover > &_twice {
          width: 700px;
        }
      }
      li {
        padding: 3px 0;
        display: block;
        &.active a,
        a:hover {
          text-decoration: underline;
          color: #01a4ff;
        }
      }
      a {
        color: $color-type-1c;
        display: inline-block;
      }
      .title {
        @extend .text--primary;
        @extend .text__lg;
        font-weight: 600;
      }
      .foot {
        a {
          color: $base-color;
          font-weight: 600;
          border-bottom: 1px dotted $base-color;
          &:hover {
            color: $base-color;
            border-color: transparent;
            text-decoration: none;
          }
        }
      }
      &_twice {
        .fg-menu--sub_col {
          width: 100%;
          @media (min-width: $screen-adaptive-nav) {
            width: 50%;
            float: left;
          }
        }
      }
      &_cat {
        min-width: 370px;
        padding: 17px 30px 17px 20px;
      }
    }
    &_footer {
      margin-bottom: 0;
      li {
        margin: 5px 0;
        @media (min-width: $screen-adaptive-nav) {
          display: block !important;
        }
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: $screen-sm-max) {
        border-bottom: 1px solid #fcfbfb;
        li:not(.title) {
          display: none;
        }
        a {
          display: block;
          padding: 5px;
        }
        .title {
          margin: 0;
          b {
            cursor: pointer;
            display: block;
            padding: 7px 5px;
            border-top: 1px solid #fcfbfb;
            position: relative;
            &::after {
              font-family: "fontello";
              content: '\e809';
              position: absolute;
              right: 20px;
              top: 0;
              font-size: 31px;
              color: $base-color-main;
              line-height: 1;
            }
          }
          &.active b::after {
            content: '\e80a';
          }
        }
      }
    }
  }
  &-citymenu {
    //@include list--unstyled;
    @extend .board;
    font-weight: 600;
    b a {
      color: $color-type-1c;
      span {border-color: $base-color-main;}
    }
    li {
      margin: 5px 0;
    }
    .icon {margin: 0;}
  }

  &-accordion {
    &__section {
      margin-bottom: 20px;
      &_title {
        width: 100%;
        padding: 11px 45px 11px 20px;
        min-height: 50px;
        display: inline-block;
        position: relative;
        z-index: 9;
        text-decoration: none;
        transition:all linear 0.15s;
        background-color: white;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
        .icon {
          margin-left: 0;
        }
        //b {line-height: 1.1;}
        span {
          color: $base-color;
        }
        &::after {
          font-family: "fontello";
          content: '\e809';
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 31px;
          color: #758c9c;
          line-height: 0;
        }
        //&:hover,
        &.active {
          //background:#4c4c4c;
          &::after {
            content: '\e80a';
          }
        }
        :last-child & {
          border-bottom:none;
        }
      }
      &_content {
        padding: 20px;
        display: none;
        background-color: white;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
        //line-height: 18px;
        margin-bottom: 20px;
      }
    }
    &--mini {
      margin-top: 10px;
      //max-width: 255px;
      background-color: white;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      .fg-accordion__section {
        margin-bottom: 0;
        &_title {
          color: #2f4d59;
          background-color: transparent;
          box-shadow: none;
        }
        &_content {
          background-color: transparent;
          box-shadow: none;
          //padding-top: 5px;
        }
      }
    }
  }

  &-social {
    @extend .list--inline;
    //margin-bottom: 0;
    li {padding: 0 3px;}
    &__item {
      background-color: $color-type-1b;
      border-radius: 5px;
      padding: 2px;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid $color-type-1b;
      @media (min-width: $screen-adaptive-nav) {
        font-size: 20px;
      }
      &:hover {
        color: $color-type-1b;
        background-color: #fff;
      }
      &[class^="icon-"]::before, &[class*=" icon-"]::before{
        width: 1em;
      }
    }
  }

  &-filter {
    //margin-bottom: 20px;
    &__title {
      @media (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    .accordion-content {
      display: none;
      @media (min-width: $screen-adaptive-nav) {
        display: block;
      }
    }
    .fg-accordion__section_content {
      padding: 0 20px 20px;
    }
    .fg-accordion__section_title {
      //display: block;
      @media (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
  }

  &-goods {
    @media (min-width: $screen-tablet) {
      margin-bottom: 40px;
    }
  }

  //inner
  &-vacancies {
    @extend .board;
    font-size: 13px;
    margin-bottom: 20px;
    img {
      vertical-align: middle;
      margin-bottom: 20px;
    }
  }

  &-about {
    @extend .board;
    font-size: 13px;
    margin-bottom: 20px;
    > img {
      vertical-align: middle;
      margin-bottom: 20px;
    }
    p {margin-bottom: 19px;}
    @media (max-width: $screen-md-max) {
      .this-or-this, .this-or-this__this {
        display: block;
      }
    }
  }

  &-type {
    @extend .board;
    margin-bottom: 20px;
    img {
      vertical-align: middle;
      margin-bottom: 20px;
    }
    h3 {margin-top: 0;}
    p {font-size: 13px;}
  }

  &-certificates {
    margin-top: 20px;
    margin-bottom: 50px;
    &__item {
      background-color: white;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      padding: 10px;
      margin-bottom: 30px;
      position: relative;
      .link {
        display: block;
        opacity: 0;
        text-decoration: none;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,0.9);
        @include transition();
        &__inner {
          display: inline-block;
          margin-top: -75px;
          top: 50%;
          position: relative;
        }
      }
      &:hover .link {
        opacity: 1;
      }
    }
    &__img {
      text-align: center;
      height: 192px;
    }
    &__title {
      max-height: 105px;
      overflow: hidden;
    }
  }

  &-contacts {
    h3 {margin-top: 0;}
    .icon {margin-left: 0;}
    &__map {
      padding: 0;
      //background-color: white;
      //box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      //margin-bottom: 10px;
      img {
        vertical-align: middle;
      }
    }
    &__mark {
      padding: 10px 8px 10px 20px;
      border-top: 1px solid #dce4e9;
      cursor: pointer;
      &.active {
        background-color: $color-type-1b;
        color: #fff;
        border-color: transparent;
        b {color: #fff}
      }
    }
    .inner {
      padding: 10px 8px 10px 20px;
      display: none;
      &--stripped {
        padding: 20px;
        border-top: 1px solid $color-type-1d;
      }
    }
    .details {
      padding: 20px;
    }
    @media (min-width: $screen-tablet) {
      &--inner {
        height: 400px;
        overflow: auto;
      }
      &--mapinner {
        height: 400px;
        overflow: hidden;
      }
    }
  }

  &-news {
    margin-top: 20px;
    @media (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
    &__item {
      background-color: white;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      margin-bottom: 30px;
      position: relative;
      &--inner {
        padding: 10px;
      }
      &--date {
        color: #afbdc7;
      }
      &--title {
        //max-height: 105px;
        //overflow: hidden;
        h2 {
          margin-top: 10px;
        }
        a {color: #2f4d59;}
      }
      &--desc {
        @media (min-width: $screen-tablet) {
          max-height: 120px;
          overflow: hidden;
        }
      }
    }
    &__img {
      text-align: center;
      height: 192px;
    }
  }

  &-new {
    @extend .board;
    margin-bottom: 40px;
    &--date {
      color: #afbdc7;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    p + p {
      margin-top: 25px;
    }
  }
  &-share {
    @extend .board;
    margin-bottom: 40px;
    &--img {
      background: url("../images/share.jpg") no-repeat center left;
      padding: 27px 13px;
      position: relative;
      margin-bottom: 20px;
      @include clearfix();
      @media (min-width: $screen-desktop) {
        padding: 27px;
      }
      .date {
        float: right;
        background: #fff;
        color: #2f4d59;
        padding: 15px 12px;
        @media (min-width: $screen-tablet) {
          padding: 29px 19px;
        }
      }
      h1 {
        display: none;
        @media (min-width: $screen-tablet) {
          display: block;
          float: left;
          font-size: 33px;
          font-weight: 900;
          margin-top: 20px;
          color: #fff;
        }
        @media (min-width: $screen-desktop) {
          font-size: 36px;
        }
      }
    }
    p + p {
      margin-top: 15px;
    }
  }

  &-brand {
    @extend .board;
    margin-bottom: 10px;
    &--desc {
      p {margin-bottom: 30px;}
    }
    &-gal {

    }
  }

  &-brands {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    font-size: 0;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    &__item {
      display: inline-block;
      text-align: center;
      width: 50%;
      font-size: 15px;
      padding: 10px 5px 0 5px;
      border-right: 1px solid #f7f5f5;
      border-bottom: 1px solid #f7f5f5;
      h3 {font-size: 15px;}
      @media (min-width: $screen-tablet) {
        width: 33.33333333%;
        h3 {font-size: 18px;}
      }
      @media (min-width: $screen-desktop) {
        width: 25%;
      }
      @media (min-width: $screen-xlg-desktop) {
        width: 20%;
      }
      a {
        text-decoration: none;
        color: $color-type-1c;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__img {
      height: 91px;
      line-height: 91px;
      vertical-align: middle;
      img {
        vertical-align: middle;
      }
    }
    .inner {
      vertical-align: middle;
      display: inline-block;
    }
  }

  &-sitemap {
    @extend .board;
    padding: 20px 0;
    &-parent {
      margin-bottom: 20px;
      @media (min-width: $screen-tablet) {
        margin-bottom: 60px;
      }
      a { text-decoration: none; color: #678293;}
      li { margin: 13px 0;}
      > li {
        > a {
          color: #2f4d59;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    &-inner {
      &-f {
        padding-left: 11px;
        > li {
          > a {
            border-bottom: 2px dotted #678192;
            &:hover {
              color: $base-color-main;
              border-color: $base-color-main;
            }
          }
        }
      }
      &-s {
        padding-left: 19px;
        > li {
          > a {
            &:hover {
              color: #01a4ff;
              text-decoration: underline;
            }
          }
        }
      }
      &-t {
        padding-left: 18px;
        @extend .list--bullet;
        > li {
          > a {
            font-size: 13px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.main-parent {
  background-color: $color-type-1b;
  b { color: #fff;}
  &::after { color: #fff;}
}

.cards {
  & + & {margin-top: 10px;}
  &__item {
    @include clearfix();
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    position: relative;
    & + & {
      margin-top: 10px;
    }
    @media (min-width: $screen-tablet) {
      padding: 15px;
    }
  }
  .icon {
    margin-left: 0;
  }
  &-offer {
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    &__item {
      border-bottom: 1px solid #dce4e9;
      padding: 15px;
      @media (min-width: $screen-tablet) {
        padding: 20px;
      }
      .cards__price {
        @media (min-width: $screen-tablet) {
          float: right;
        }
        @media (min-width: $screen-xlg-desktop) {
          float: none;
        }
      }
      .list--table {
        > li {
          padding: 0 8px;
          white-space: nowrap;
        }
      }
      .error {
        border: 2px dashed #f7f5f5;
        border-radius: 3px;
        color: #00a6ff;
        font-size: 13px;
        padding: 5px;
        margin-top: 8px;
        display: inline-block;
      }
    }
  }
  &-colors {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    border-radius: 3px;
    display: inline-block;
  }
  &__img {
    @media (min-width: $screen-tablet) {
      float: left;
    }
    img {
      vertical-align: middle;
    }
    &--full {
      float: none;
      text-align: center;
    }
  }
  &__name {
    //width: 60%;
    //float: left;
    @media (min-width: $screen-tablet) {
      display: table-cell;
      vertical-align: top;
    }
    &--full {
      display: block;
    }
  }
  &__desc {
    @media (min-width: $screen-tablet) {
      float: right;
      padding-left: 8px;
    }
    &--noimg {
      float: none;
    }
  }
  &__counter {
    position: relative;
    @media (min-width: $screen-adaptive-nav) {
      float: left;
      .conter {
        margin-right: 10px;
      }
    }
  }
  &__price {
    @media (min-width: $screen-tablet) {
      display: table-cell;
      vertical-align: top;
      text-align: right;
    }
    @media (min-width: $screen-adaptive-nav) {
      width: 220px;
    }
    @media (min-width: $screen-xlg-desktop) {
      width: 240px;
    }
    &--full {
      display: block;
      width: 100%;
      text-align: left;
    }
    .counter {
      color: #00b300;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      vertical-align: middle;
      display: inline-block;
      span {
        border-bottom: 2px dotted #00b300;
      }
      &:hover span {
        border-color: transparent;
      }
    }
    .price {
      font-size: 22px;
      font-weight: 600;
      color: $color-type-1c;
      //position: relative;
      &--full {
        line-height: 1.5;
        @media (min-width: $screen-tablet) {
          line-height: 1.2;
        }
      }
      span {vertical-align: middle;}
      &--new {
        color: red;
      }
      &--old {
        color: #678293;
        text-decoration: line-through;
        font-size: 15px;
        font-weight: 400;
      }
      &--bonus {
        color: #ffb200;
        font-size: 13px;
      }
    }
  }
  &__top {
    @media (min-width: $screen-tablet) {
      display: table;
      width: 100%;
    }
  }
  &__bottom {
    li {
      vertical-align: middle;
      font-size: 14px;
    }
  }
  &-sidebar {
    @extend .board;
    padding: 10px;
    margin-bottom: 20px;
    &--img {

    }
    &--desc {

    }
    &--bottom {
      margin-top: 22px;
    }
  }
}


.value-input {
  position: relative;
  &::after {
    content: 'м';
    color: #678293;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 13px;
    z-index: 2;
  }
  input {
    padding-right: 25px;
    text-align: center;
  }
}

.badge {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 1px 6px 10px;
  position: absolute;
  top: 5px;
  left: -1px;
  border-bottom-left-radius: 5px;
  &:before, &:after{
    position:absolute;
    content: '';
    display: block;
  }
  span {
    position: relative;
    z-index: 10;
  }
  &:before{
    width: 100%;
    height: 7px;
    padding: 0;
    top: -4px;
    left: 1px;
    border-bottom-left-radius: 5px;
    background: #fff;
  }
  &:after{
    right: -15px;
    bottom: 0;
    z-index: 0;
    border-width: 15px 8px;
    border-style: solid;
    border-color: #fff transparent #fff #fff;
  }
  &--new {
    background-color: #f9a454;
    &:after{
      border-color: #f9a454 transparent #f9a454 #f9a454;
    }
  }
  &--share {
    background-color: red;
    &:after{
      border-color: red transparent red red;
    }
  }
  &--sale {
    background-color: #00b300;
    &:after{
      border-color: #00b300 transparent #00b300 #00b300;
    }
  }
}

.mini-contacts {
  .icon {
    margin-left: 0;
  }
}

.title-sub {
  @extend .list--inline;
  li {
    vertical-align: middle;
  }
  h1 {
    margin-bottom: 0;
  }
}

.btn-catalog {
  display: inline-block;
  vertical-align: top;
  position: relative;
  @media (min-width: $screen-tablet) {
    //position: relative;
  }
  @media (min-width: $screen-adaptive-nav) {
    width: 202px;
  }
  @media (max-width: $screen-md-max) {
    .btn__icon--left {
      text-indent: -999px;
      min-width: inherit;
      width: auto;
      padding: 5px;
    }
  }
}


.dropbox {
  border: 2px dashed #99b4c1;
  border-radius: 3px;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding: 15px 28px 7px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
input[type="file"] {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}


@media (max-width: $screen-sm-max) {
  .mobile-input {
    & + & {
      margin-top: 10px;
    }
  }
}

.desc {display: none;}
.mob {display: inline-block;}
@media (min-width: $screen-adaptive-nav) {
  .desc {display: inline-block;}
  .mob {display: none;}
}

//filter
.range-slider {
  .form-control {
    //text-align: right;
    //padding: 11px 6px;
  }
  &__item {
    position: relative;
  }
}
.filter {
  .fg-filter {
    .accordion-content {
      display: block;
    }
    .fg-accordion__section_title {
      display: block;
    }

    .accordion-content--mobile{
      display: none;
      @media (min-width: $screen-adaptive-nav) {
        display: block !important;
      }
    }
    .accordion-title--mobile {
      //display: block;
      @media (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
  }
}
//filter

//plugins
.tabs {
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
  &__caption {
    .btn {
      border-width: 1px;
      width: 50px;
    }
    .btn--default:hover {
      background-color: #fff;
    }
    .btn--default.active {
      background-color: #fff;
      border-width: 2px;
    }
    &.btn__group > .btn + .btn {
      margin-left: -1px;
    }
  }
}
//plugins

//shame code
.brand_badges .btn--link {
  padding-right: 25px;
}
//shame code
