//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 4px;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-size: 13px;

    > li {
      display: inline-block;

      a {color: $breadcrumb-color;
        text-decoration: none;}

      + li {
        &:before {
          font-family: "fontello";
          font-size: 13px;
          content: "#{$breadcrumb-separator}";
          padding: 0 9px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    + h1 {
      margin-top: 0;
    }
  }
}