//
// Modules -> Media
// --------------------------------------------------
@if $use-media == true {
  .media {
    display: block;
    margin: 20px 0;
    @extend .clearfix;
    &__body {
      //overflow: hidden;
      position: relative;
      display: inline-block;
      ul {
        margin: 0;
        li:last-child {
          p {margin: 0;}
        }
      }
      i {
        margin-left: 0;
      }
    }
    &__img {
      float: left;
      margin-left: 12px;
      margin-right: 12px;
      &--rev {
        float: right;
        margin-left: $line-height-computed;
      }
    }
    &__title {
      font-size: 17px;
    }
  }

  .media__img img,
  .media__img--rev img {
    display: block;
  }

  .media__body,
  .media__body > :last-child {
    margin-bottom: 0;
  }
}