//
// Modules -> Navs
// --------------------------------------------------
.shadow {
  background: rgba(255,255,255,0.5);
  position: fixed;
  z-index: 77;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  .active & {
    display: block;
  }
  @media (min-width: $screen-adaptive-nav) {
    .active & {
      display: none;
    }
  }
}
.nav {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix;
  }
  li {
    position: relative;
    display: block;
    font-size: 18px;

    @media (min-width: $screen-adaptive-nav) {
      padding: 14px 4px;
      font-size: 14px;
    }
    @media (min-width: $screen-xlg-desktop) {
      padding: 13px;
      font-size: 15px;
    }
    a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      text-decoration: none;
      color: white;
      background-color: #5b6b72;
      border-bottom: 1px solid #758891;
      @media (min-width: $screen-adaptive-nav) {
        padding: 0;
        background-color: transparent;
        border: none;
      }
    }
    &:hover a,
    &:focus a {
      color: #fff;
    }
  }

  @media (min-width: $screen-adaptive-nav) {
    ul {
      //display: table;
      //width: 100%;
    }
    li {
      //text-align: center;
      display: inline-block;
    }
  }
  li > a > img {
    max-width: none;
  }

  &__justified {
    width: 100%;

    li {
      float: none;
      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    @media (min-width: $screen-adaptive-nav) {
      li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.sub-nav {
  display: none;
  li {
    display: block;
    font-size: 15px;
    a {
      //padding-left: 30px;
      padding: 8px 8px 8px 41px;
      background-color: #2f4d59;
      border: none;
    }
    a:hover {
      //background: $subnav-link-hover-bg;
      text-decoration: underline;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    //display: none;
    position: absolute;
    background: #5b6b72;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 19;
    li:hover & {
      display: block;
    }
    li {
      padding: 0;
      a {
        //padding-left: 15px;
        padding: 8px 8px 8px 15px;
        background-color: transparent;
        &:hover {
          background-color: #2f4d59;
          text-decoration: none;
        }
      }
    }
    li + li {
      border-top: 1px solid #bdc4c7;
    }
  }
}

.main-nav__item--parent {
  position: absolute;
  &::after {
    content: '\f106';
    font-family: "fontello";
    color: #b2bcc5;
    position: absolute;
    right: 20px;
    top: 13px;
    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
  }
  &.active::after {
    content: '\f107';
  }
}

.main-nav {
  &__toggle {
    position: relative;
    //float: right;
    //padding: 9px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    width: 33px;
    height: 33px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 101;

    //@include transition(background-color 0.5s 0.5s);

    b {
      position: absolute;
      left: 20px;
      top: 15px;
      color: white;
      display: none;
    }
    &:focus {
      outline: 0;
    }
    //.icon-bar {
    //  display: block;
    //  width: 33px;
    //  height: 3px;
    //  background-color: #5b6b72;
    //  //border-radius: 1px;
    //}
    //.icon-bar + .icon-bar {
    //  margin-top: 6px;
    //}
    span, span::before, span::after {
      /* hamburger icon in CSS */
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 31px;
      margin: 0;
      background: #5b6b72;
    }

    span {
      /* line in the center */
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -2px;
      @include transition(background .3s .3s);
    }

    span::before, span::after {
      /* other 2 lines */
      content: '';
      right: 0;
      /* Force Hardware Acceleration in WebKit */
      @include transform(translateZ(0));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      @include transform-origin(0% 50%);
      @include transition(color .5s ease);
      @include transition(transform .5s ease);
    }

    span::before {
      /* menu icon top line */
      top: -8px;
    }

    span::after {
      /* menu icon bottom line */
      top: 8px;
    }

    &.nav-is-visible {
      position: fixed;
      top: 0;
      width: 320px;
      right: 0;
      height: 55px;
      background-color: #2f4d59;
      @include transition(background-color 0.5s ease);
      span {
        background: rgba(white, 0);
        //position: fixed;
        //right: 25px;
        //top: 25px;
      }
      b {
        display: block;
      }
      span::before, span::after {
        background: rgba(white, 1);
      }
      span::before {
        @include transform(translateX(4px) translateY(-3px) rotate(45deg));
      }
      span::after {
        @include transform(translateX(4px) translateY(2px) rotate(-45deg));
      }
    }

    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
  }
  &__collapse {
    border-top: 1px solid transparent;
    //box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    background-color: #2f4d59;
    @include clearfix;
    -webkit-overflow-scrolling: touch;
    clear: left;
    //display: none;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 320px;
    padding-top: 55px;
    @include transition();
    &.nav-is-visible {
      right: 0;
      overflow: auto;
    }

    @media (min-width: $screen-adaptive-nav) {
      position: static;
      display: block !important;
      width: auto;
      border-top: 0;
      box-shadow: none;
      padding-top: 0;
      background-color: transparent;
      //padding-right: $navbar-padding-horizontal;
      //padding-left: $navbar-padding-horizontal;

      //&.collapse {
      //  display: block !important;
      //  height: auto !important;
      //  padding-bottom: 0;
      //  overflow: visible !important;
      //}
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}