//
// Modules -> Pager pagination
// --------------------------------------------------

@if $use-pager == true {
  .pager {
    padding-left: 0;
    margin: $line-height-computed 0;
    list-style: none;
    //text-align: center;
    font-size: 18px;
    @include clearfix;
    li {
      display: inline;
      > a,
      > b {
        display: inline-block;
        text-decoration: none;
        padding: 5px 9px;
        height: 50px;
        line-height: 40px;
        margin: 0 9px;
        font-weight: 600;
        color: $color-type-1a;
        background-color: $pager-bg;
        border: 1px solid $pager-border;
        border-radius: $pager-border-radius;
        &.arr {
          //width: 50px;
        }
      }

      > a:hover,
      > a:focus {
        //border-width: 2px;
        text-decoration: none;
        border-color: #99b4c1;
      }
    }

    .next {
      > a,
      > b {
        float: right;
      }
    }

    .previous {
      > a,
      > b {
        //float: left;
      }
    }
  }
}
