//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    //padding-left: 0;
    //margin: $line-height-computed 0;
    //border-radius: $border-radius-base;
    text-align: center;
    @extend .board;
    @media (min-width: $screen-tablet) {
      text-align: right;
    }

    &__item {
      display: inline-block;
      //margin-left: -5px;
      vertical-align: top;
      @media (min-width: $screen-tablet) {
        margin: 0 10px;
      }
      a,
      span {
        font-size: 18px;
        padding: 9px 6px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        display: block;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        @include border-radius(3px);
      }
      &:first-child {
        a,
        span {
          margin-left: 0;
          @include border-left-radius($border-radius-base);
        }
      }
      &:last-child {
        a,
        span {
          @include border-right-radius($border-radius-base);
        }
      }
      &--nude {
        margin: 0;
        a,
        span {
          width: auto;
          background-color: transparent;
          border-color: transparent;
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-width: 3px;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
