//
// Modules -> This-or-this (table method for align)
// --------------------------------------------------

@if $use-this-or-this == true{
  .this-or-this {
    display:table;
    width:100%;
    @media (max-width: $screen-sm-max) {
      &--mobile {
        display: block;
        > div {
          display: block;
        }
      }
    }
    @media (max-width: $screen-md-max) {
      &--tablet {
        display: block;
        > div {
          display: block;
        }
      }
    }
  }
  .this-or-this__this,
  .this-or-this__or {
    display:table-cell;
    vertical-align:middle;
  }
}