//
// Pages -> Index
// ------------------------------------

.page-index { }


.v-top {
  vertical-align: top;
}

.slideshow {
  position: relative;
  .inner {
    position: absolute;
    left: 90px;
    max-width: 350px;
    color: #2f4d59;
    z-index: 1;
    top: 23px;
    padding: 20px;
    background: rgba(255,255,255,0.9);
  }
  @media (min-width: $screen-adaptive-nav) {
    margin-top: 40px;
    .inner {
      padding: 40px;
    }
  }
}

.index {
  &-catalog {
    @extend .board;
    //@include clearfix();
    padding: 0;
    font-size: 0;
    margin-bottom: $base-bottom-margin;
    &__item {
      font-size: 15px;
      //float: left;
      vertical-align: top;
      width: 100%;
      display: table;
      //border-bottom: 1px solid #f7f5f5;
      padding: 10px 10px;
      h3 {
        font-size: 15px;
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;
      }
      @media (min-width: $screen-tablet) {
        text-align: center;
        display: inline-block;
        width: 25%;
        //border-right: 1px solid #f7f5f5;
        h3 {
          display: block;
          margin-top: 14px;
          font-size: 18px;
          padding-left: 0;
        }
      }
      @media (min-width: $screen-adaptive-nav) {
        width: 20%;
      }
      &--img {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        img {
          vertical-align: bottom;
        }
        @media (min-width: $screen-tablet) {
          display: block;
          height: 170px;
          line-height: 170px;
          width: auto;
        }
      }
    }
  }

  &-shares {
    margin-bottom: $base-bottom-margin / 2;
    &__item {
      @extend .board;
      padding: 0;
      margin-bottom: 30px;
      &--img {
        img {
          vertical-align: middle;
        }
      }
      &--title {
        text-align: center;
        h2 {line-height: 1.1;}
        @media (min-width: $screen-tablet) {
          height: 68px;
        }
      }
      &--inner {
        padding: 0 15px 15px;
        @media (min-width: $screen-tablet) {
          padding: 0 20px 20px;
        }
      }
      &--desc {
        @media (min-width: $screen-tablet) {
          max-height: 110px;
          overflow: hidden;
        }
      }
    }
  }

  &-sevices {
    margin-bottom: $base-bottom-margin;
    &__item {
      @extend .board;
      padding: 0;
      text-align: center;
      position: relative;
      cursor: pointer;
      .inner {
        opacity: 0;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 10;
        @include transition();
      }
      &:hover {
        .inner {
          opacity: 1;}
      }
      @media (min-width: $screen-tablet) {
        margin: 0 20px;
        height: 400px;
      }
      &--img {
        img {
          vertical-align: middle;
        }
      }
      &--title {
      }
      &--inner {
        padding: 20px 15px;
        @media (min-width: $screen-tablet) {
          padding: 23px 26px 37px;
        }
        @media (min-width: $screen-xlg-desktop) {
          padding: 23px 46px 37px;
        }
      }
      &--desc {
        @media (min-width: $screen-xlg-desktop) {
          margin-top: 50px;
        }
      }
    }
  }

  &-brands {
    text-align: center;
    &--inner {
      @extend .board;
      padding: 37px 0;
      overflow: hidden;
    }
    &__item {
      margin: 0 15px;
      img {display: inline-block;}
    }
  }
}