//
// Pages -> Index
// ------------------------------------

.page-index { }

.lk {
  img { vertical-align: middle;}
  &-shares {
    @extend .board;
    padding: 0 20px;
    margin-bottom: 30px;
    h2 {margin-top: 0;}
    &__item {
      padding: 20px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #f7f5f5;
      }
      &--body {
        border: 2px dashed #f7f5f5;
        border-radius: 3px;
        padding: 20px 28px;
      }
      .icon {
        margin-left: 0;
      }
    }
  }
  &-status {
    margin-top: 20px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    padding: 8px 15px;
    text-align: center;
    h2, p {
      margin: 0;
    }
    &__item {
      margin-bottom: 10px;
      display: inline-block;
    }
    @media (min-width: $screen-tablet) {
      padding: 20px 10px;
      text-align: left;
      display: table;
      width: 100%;
      &__item {
        margin-bottom: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }
    @media (min-width: $screen-xlg-desktop) {
      padding: 20px;
    }
  }
  &-info-status {
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    padding: 20px;
    .list--counter li .key {
      max-width: inherit;
    }
    i { margin-left: 0;}
    &--top {
      border-bottom: 1px solid #f7f5f5;
      padding-bottom: 8px;
    }
    &--bottom {
      padding-top: 8px;
    }
  }
  &-present {
    border: 2px dashed #00bdff;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    &__item {
      display: inline-block;
      margin-bottom: 15px;
    }
    @media (min-width: $screen-tablet) {
      padding: 18px;
      text-align: left;
      display: table;
      width: 100%;
      &__item {
        display: table-cell;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }

  &-accordion {
    position: relative;
    z-index: 13;
    &__section {
      &_title {
        background-color: white;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
        padding: 10px;
        display: block;
        height: 50px;
        text-decoration: none;
      }
      .divider {
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: #869dab;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }

  &-form {
    margin-top: 20px;
    &__item {
      @extend .board;
      margin-bottom: 10px;
      &--header {
        margin-bottom: 0;
        position: relative;
        + .lk-form__item {
          margin-top: 0;
        }
      }
      &--body {
        margin-bottom: 0;
        padding: 20px 0;
        @media (min-width: $screen-desktop) {
          padding: 20px;
        }
      }
      &--footer {
        margin-top: 0 !important;
      }
    }
    .checkbox {margin-top: 10px;}
  }

  &-list {
    margin-top: 20px;
    &__item {
      @extend .board;
      margin-bottom: 10px;
    }
    .btn { padding: 9px 4px;}
    h1, h3 { margin-top: 0;}
    li {
      vertical-align: middle;
    }
    .tooltip-inner {
      color: red;
      max-width: inherit;
    }
  }

  .notice {
    border: 2px dashed #f7f5f5;
    border-radius: 3px;
    padding: 13px;
    margin-top: 20px;
  }
  &-reg {
    .fg-tabs__content {
      @media (min-width: $screen-tablet) {
        padding: 40px;
      }
    }
  }

  &-bonus {
    margin-top: 20px;
    &__item {
      @extend .board;
      margin-bottom: 10px;
      h2 {
        margin: 0;
      }
      p {
        margin-bottom: 20px;
      }
      h3 { margin-top: 0;}
      .list--inline-pure {
        margin-left: -10px;
        li {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    &-present {
      &--img {
        text-align: center;
        img {
          vertical-align: middle;
        }
      }
      &__item {
        background-color: white;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
        margin-bottom: 15px;
      }
      &--inner {
        padding: 15px;
        @media (min-width: $screen-tablet) {
          padding: 5px 15px;
          height: 85px;
          display: table;
          width: 100%;
        }
      }
      &--price {
        text-align: center;
        @media (min-width: $screen-tablet) {
          text-align: left;
          display: table-cell;
          vertical-align: middle;
        }
        .price {
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
        }
        .error {
          font-size: 13px;
        }
      }
      &--btn {
        text-align: center;
        @media (min-width: $screen-tablet) {
          text-align: right;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .lk-present {
    text-align: center;
    padding: 20px 10px;
    @media (min-width: $screen-xlg-desktop) {
      padding: 30px 10px;
    }
    h1 {
      margin-bottom: 0;
      line-height: 1.2;
      span {
        font-size: 36px;
        vertical-align: baseline;
      }
    }
  }

  &-draft {
    @extend .board;
    margin-top: 20px;
    padding: 10px;
    &__item {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      padding: 10px;
    }
    &--inner {
      vertical-align: middle;
      font-size: 0;
      &-add {
        position: relative;
        @media (min-width: $screen-tablet) {
          &::before {
            content: '';
            width: 1px;
            height: 70%;
            background-color: #f7f5f5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .lk-draft__item {
          &--t {vertical-align: top;}
          &--m {
            vertical-align: middle;
            text-align: center;
            span {
              color: #2f4d59;
              font-size: 13px;
              line-height: 50px;
              width: 50px;
              height: 50px;
              background: #fff;
              border: 1px solid #f8f5f5;
              @include border-radius(50%);
              position: relative;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &-filter {
    padding: 10px;
    &--inner {
      //margin-top: 20px;
      @media (min-width: $screen-tablet) {
        display: table;
        width: 100%;
      }
    }
    &__item {
      padding: 10px;
      @media (min-width: $screen-tablet) {
        vertical-align: middle;
        display: table-cell;
      }
    }
  }

  &-order {
    .icon-23 {
      width: 15px;
      height: 20px;
    }
    .icon--phone {
      background-position: -95px -68px;
    }
    .icon--mail {
      background-position: -157px -68px;
    }
    .icon--download {
      background-position: -157px -35px;
    }
    &-mobile {
      margin-bottom: 20px;
      overflow-y: auto;
      max-height: 1600px;
    }
    .lk-form {margin-top: 0;}
    &--info {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
      width: 100%;
      display: table;
      @media (min-width: $screen-adaptive-nav) {
        position: static;
        display: block;
      }
      &__item {
        display: table-cell;
        vertical-align: top;
        padding: 0 5px;
        .icon {display: none;}
        .sum {
          font-size: 13px;
          display: inline-block;
        }
        .day {
          font-size: 13px;display: inline-block;}
        .title {
          font-size: 11px;
        }
        & + & {
          border-left: 1px solid #f7f5f5;
        }
        p {margin-bottom: 0;}
        @media (min-width: $screen-tablet) {
          padding: 0 10px;
          p {margin-bottom: 9px;}
          .icon {margin-left: 0; display: inline-block;}
          .sum {
            font-size: 22px;
          }
          .day {font-size: 15px;}
          .title {
            font-size: 18px;
          }
        }
        @media (min-width: $screen-adaptive-nav) {
          padding: 10px 0;  display: block;
          .sum, .day { display: block;}
          & + & {
            border-top: 1px solid #f7f5f5;
            border-left: none;
          }
        }
      }
    }
    &__list {
      display: table;
      width: 100%;
      vertical-align: middle;
      margin-bottom: 20px;
      position: relative;
      @media (min-width: $screen-desktop) {
        margin-bottom: 30px;
        .before, .after {
          border-top: 2px dashed #d9d6d6;
          position: absolute;
          top: 50%;
          right: 0;
          width: 99%;
          height: 2px;
          display: block;
        }
        .before {
          border-top: 2px dashed $base-color-main;
          width: 0;
          left: 0;
          right:auto;
        }
        .done ~ .before { width: 33%; }
        .done ~ .after { width: 67%; }
        .done + .done ~ .before { width: 50%; }
        .done + .done ~ .after { width: 50%; }
        .done + .done + .done ~ .before { width: 67%; }
        .done + .done + .done ~ .after { width: 33%; }
        .done + .done + .done + .done ~ .before { width: 99%; }
        .done + .done + .done + .done ~ .after { width: 0; }
      }
    }
    &__item {
      display: table-cell;
      vertical-align: middle;
      color: #d9d7d7;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      @media (min-width: $screen-desktop) {
        width: 20%;
      }
      .num {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        border: 2px solid #d9d6d6;
        text-align: center;
        line-height: 34px;
      }
      .inner {
        display: inline-block;
        background-color: #f7f5f5;
        padding: 8px 0;
        text-align: left;
        position: relative;
        z-index: 1;
        .num {
          display: inline-block;
          vertical-align: middle;
        }
        .txt {
          display: none;
          @media (min-width: $screen-tablet) {
            display: inline-block;
            vertical-align: middle;
          }
        }
        @media (min-width: $screen-desktop) {
          padding: 8px;
        }
      }
      &.active {
        color: #e4a259;
        .num {
          border-color: #e4a259;
        }
      }
      &.done {
        color: #e4a259;
        .num {
          background: #e4a259;
          border-color: #e4a259;
        }
      }
    }
    .tool {
      display: none;
      @media (min-width: $screen-tablet) {
        display: block;
        position: absolute;
        top: 15px;
        right: -25px;
      }
    }
  }
  &-contacts {
    .radio {display: inline-block;}
    .tip {
      position: absolute;
      right: 0;
      top: 0;
    }
    &-inner {
      padding-left: 20px;
      margin-bottom: 30px;
    }
  }
}

.or {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #d9d6d6;
  text-align: center;
  line-height: 46px;
  @include border-radius(50px);
}

.delivery-block {
  display: none;
  &.active {
    display: block;
  }
}

@media (min-width: $screen-tablet) {
  .soc {
    li {
      margin: 0 20px;
    }
  }

}

.order-details {
  @media (min-width: $screen-desktop) {
    display: table;
    width: 100%;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    p {display: inline-block;}
    &:last-child {
      display: block;
      text-align: center;
      width: 100%;
    }
    @media (min-width: $screen-tablet) {
      width: 49%;
      i { display: inline-block;}
    }
    @media (min-width: $screen-desktop) {
      &:last-child { display: table-cell;width: auto;text-align: right;}
      display: table-cell;
      width: auto;
      &-t {
        width: 35%;
      }
    }
    a.btn--link {
      position: relative;
      padding-left: 39px;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: -2px;
      margin-top: -10px;
    }
  }
}

.progress-bar {
  padding-right: 15px;
  @include clearfix();
  &:hover {
    .bar-info {
      display: block;
    }
  }
  .bar {
    position: relative;
    height: 35px;
    background-color: #f7f5f5;
    background-image: linear-gradient(to left, #00ad00 0%, #ffd400 100%);
    border-radius: 3px;
    &-children {
      position: absolute;
      background-color: #f7f5f5;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 0;
    }
    &-txt {
      position: absolute;
      top: -13px;
      left: -13px;
      font-size: 10px;
      color: #fff;
      text-align: center;
      padding: 2px 0;
      background-color: #faab64;
      line-height: 21px;
      height: 26px;
      width: 26px;
      @include border-radius(50%);
      &::after {
        content: '';
        width: 2px;
        height: 28px;
        position: absolute;
        top: 20px;
        right: 12px;
        bottom: 0;
        background-color: #faab64;
      }
    }
    &-info {
      color: #f9a454;
      font-size: 13px;
      text-align: center;
      border: 1px solid #faab64;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
      background-color: white;
      position: absolute;
      left: 0;
      top: 40px;
      width: 120px;
      padding: 7px 0;
      margin-left: -60px;
      display: none;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%; top: -18px;
        border: 9px solid transparent;
        border-bottom: 9px solid #faab64;
        margin-left: -9px;
      }
      &::after {
        border-bottom: 9px solid white;
        top: -17px;
      }
    }
  }
}

.slider-line {
  height: 8px;
  max-width: 73px;
  background-color: white;
  border: 1px solid #dce4e9;
  position: relative;
  margin: 5px auto 0;
  .inner {
    width: 80%;
    height: 100%;
    background-color: $base-color-main;
    border-right: 1px solid #dce4e9;
    position: absolute;
    left: 0;
  }
}

.table--icons {
  display: block;
  @media (min-width: $screen-desktop) {
    display: inline-block;
  }
}

.success {
  color: #2ab100;
}
.error {
  color: red;
}
.warning {
  color: #ffb200;
}
.pineapple {
  color: #e4a259;
}

.draft-block--js, .table-content--js {
  display: none;
  > td {padding: 20px !important;}
}