footer.footer(itemscope, itemtype="http://schema.org/WPFooter")
    .container
        .row
            .cell.cell__lg-4.cell__md-5.cell__xs-12.text--center.text__md--left.margbot10
                p: b Есть вопросы? Позвоните нам!
                p.footer__phone: b
                    | +7 (812)
                    span  740-75-70
                .margtop10.margbot10
                    a.btn.btn--transparent.btn__icon-right(href="#")
                        | Перезвоните мне &nbsp;
                        i.icon.icon-30.icon--callme
                .hidden__xs.hidden__sm
                    p: b Принимаем к оплате:
                    img(src="images/payment.png", alt="")
            .cell.cell__lg-2.cell__md-3.cell__xs-12
                ul.fg-menu_footer
                    li.title.show--js: b О компании
                    li: a(href="#") О нас
                    li: a(href="#") Контакты
                    li: a(href="#") Новости
                    li: a(href="#") Наши проекты
                    li: a(href="#") Вакансии
            .cell.cell__lg-3.cell__md-4.cell__xs-12
                ul.fg-menu_footer
                    li.title.show--js: b Помощь покупателям
                    li: a(href="#") Как сделать заказ
                    li: a(href="#") Оплата
                    li: a(href="#") Доставка
                    li: a(href="#") Гарантии
            .cell.cell__lg-3.cell__md-12.cell__xs-12
                .footer-inner
                    .footer-inner__item.visible__xs-inline-block.visible__sm-inline-block
                        p.footer-mtxt: b Принимаем к оплате:
                        img(src="images/payment.png", alt="")
                    .footer-inner__item.footer-inner__item--doub.text--right.text__md--left
                        p.footer-mtxt: b Дружите с нами:
                        ul.fg-social
                            li: a.fg-social__item.icon-facebook(href="#")
                            li: a.fg-social__item.icon-vkontakte(href="#")
                            li: a.fg-social__item.icon-twitter(href="#")
                            li: a.fg-social__item.icon-instagram(href="#")
                    .footer-inner__item.hidden__sm.hidden__xs
                        .margtop10.margbot10
                            a.btn.btn--transparent(href="#")
                                | Подписаться на новости
                    .footer-inner__item.margbot10
                        p.footer-mtxt
                            b Разработка:
                            img.hidden__lg.hidden__xlg(src="images/logo-trinet-m.png", alt="", style="max-width: 80px;vertical-align: middle;")
                        img.visible__lg.visible__xlg(src="images/logo-trinet.png", alt="")
                    .footer-inner__item.hidden__lg.hidden__xlg.text--right
                        b.text__xs: a(href="#") Полная версия
                           i.icon.icon-30.icon--callme