meta(charset="UTF-8")

block title
    title Case__fly
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
<![endif]-->
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Custom Jade/Scss/Gulp/Bower template")
meta(name="keywords", content="jade, scss, gulp, npm, bower, template, html5, css3")

meta(name='author', content='SadDeploy')
link(rel="canonical" href="http://www.example.com/")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")

// iOS
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="Case__fy")
link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

// Android
meta(name="mobile-web-app-capable", content="yes")
meta(name="theme-color", content="#f8aa27")
link(rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192")

// Windows
meta(name="msapplication-TileImage", content="images/touch/mstile-144x144.png")
meta(name="msapplication-TileColor", content="#f8aa27")

// Standard
link(rel="icon", type="image/png", href="images/touch/favicon.png", sizes="128x128")

link(rel="shortcut icon", href="favicon.ico")

// Styles 
//- build:css({.tmp,app}) styles/plugins.css -->
//- bower:css
//- endbower
link(rel="stylesheet", href="../bower_components/magnific-popup/dist/magnific-popup.css")
link(rel="stylesheet", href="../bower_components/nouislider/src/nouislider.css")
link(rel="stylesheet", href="../bower_components/select2/dist/css/select2.css")
link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick.css")
link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick-theme.css")
link(rel="stylesheet", href="../bower_components/EasyAutocomplete/dist/easy-autocomplete.css")
link(rel="stylesheet", href="../bower_components/EasyAutocomplete/dist/easy-autocomplete.themes.css")
link(rel="stylesheet", href="../bower_components/pickmeup/css/pickmeup.css")
//- endbuild -->
//- build:css({.tmp,app}) styles/main.css -->
link(rel="stylesheet", href="styles/main.css")
//- endbuild -->