header.header(itemscope, itemtype="http://schema.org/WPHeader")
    .header-top
        .container
            include ../components/_navbar
    .header-middle
        .container
            .inner.hidden__md.hidden__xs.hidden__sm
                .item
                    .header__logo(itemprop="headline")
                        a(href="/")
                            img(src="images/logo.png", alt="Форум Электро")
                .item
                    .text--warning.text__sm Ваш город: &nbsp;
                        a.btn--link.text--warning(href="#"): span Санкт-Петербург
                .item
                    b.header-phone
                        span +7 (812)
                        span.lg  740-75-70
                .item.hidden__lg
                    a.btn.btn--transparent.popup-modal(href='#call-id') Обратный звонок
                .item.hidden__lg
                    .media.dropdown
                        if title == 'Личный кабинет'
                            .media__img: img(src="images/imgAva.png" alt="")
                            .media__body
                                a.btn--link#dLabel(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): span.text--warning  Петров Павел
                                p.text__xs Ваш личный менеджер
                                .dropdown-menu(aria-labelledby="dLabel")
                                    ul.list--unstyled
                                        li
                                            p.text__md: b
                                                i.icon.icon-23.icon--phone
                                                |  +7 911 123-45-67
                                        li
                                            p
                                                i.icon.icon-23.icon--mail
                                                |  mail@forumgroup.ru
                                        li
                                            p
                                                i.icon.icon-23.icon--flower
                                                |  icq:123456789
                                        li
                                            p
                                                span.text--primary Помощник:
                                                |  Михаил Светлов
                                        li
                                            p.text__md: b
                                                i.icon.icon-23.icon--phone
                                                |  +7 945 678-67-87
                .item
                    .header-cart.pull-right
                        .header-cart__inner
                            i.count 149
                            .text__xs Сумма
                            b.text--warning 859 892,40 Р
                        .header-cart__i
                            i.icon.icon--cart
            .header-bottom
                .row
                    if title == 'Личный кабинет'
                        .cell.cell__xlg-4.cell__lg-5.cell__md-2.cell__xs-5.text--nowrap
                            include ../components/_btn-catalog
                            .btn-catalog.text--normal
                                button.btn.btn--full.btn--success.btn__lg.btn__icon--left.show--js(type='button')
                                    i.icon.icon-23.icon--thunder
                                    | быстрый заказ
                                .fg-fastorder
                                    p Добавить товары по:
                                    .form__group
                                        +fieldRadio('По артикулам производителей', 'order1', 'order', false)
                                        +fieldRadio('По кодам Форум Электро', 'order2', 'order', true)
                                    .form__group.row
                                        .cell.cell__xs-7
                                            +fieldInput('text', 'code', 'code', 'Код/артикул', false)
                                        .cell.cell__xs-4.pull-right
                                            +fieldInput('text', 'count', 'count', 'Кол-во', false)
                                    .form__group.row
                                        .cell.cell__xs-7
                                            +fieldInput('text', 'code1', 'code1', 'Код/артикул', false)
                                        .cell.cell__xs-4.pull-right
                                            +fieldInput('text', 'count1', 'count1', 'Кол-во', false)
                                    .form__group.row
                                        .cell.cell__xs-7
                                            +fieldInput('text', 'code2', 'code2', 'Код/артикул', false)
                                        .cell.cell__xs-4.pull-right
                                            +fieldInput('text', 'count2', 'count2', 'Кол-во', false)
                                    .text--center.center-block.cell__xs-10
                                        .form__group
                                            a.btn.btn--primary.btn--full(href='#') Добавить в корзину
                                        a.btn--link(href="#")
                                            i.icon-left-dir
                                            span  Загрузить больше из файла
                        .cell.cell__xlg-8.cell__md-7.cell__xs-5
                            .input__group
                                .input__group--select.hidden__sm.hidden__xs
                                    select.search.default-select.form-control(style="margin-left: 3px;")
                                        option По всему каталогу
                                        option Каталог
                                        option Каталог
                                        option Каталог
                                input#search.search.form-control(type="text", placeholder="Наименование/артикул")
                                .mobile--btn.mobile--btn--js
                                    button.btn.btn__lg(type="submit")
                                        img(src="images/search.png", alt="")
                                .input__group--btn.hidden__md.hidden__sm.hidden__xs(type="submit")
                                    button.btn.btn--primary.btn__icon--left.btn__lg.text--uppercase
                                        i.icon.icon-23.icon--search
                                        |  найти
                        .cell.cell__md-3.cell__xs-2.hidden__xlg.hidden__lg
                            .header-cart.pull-right
                                .header-cart__inner
                                    i.count 149
                                    .text__xs.hidden__xs.hidden__sm Сумма
                                    b.text--warning.hidden__xs.hidden__sm 859 892,40 Р
                                .header-cart__i
                                    i.icon.icon--cart
                    else
                        .cell.cell__xlg-2.cell__lg-3.cell__md-1.cell__xs-3.text--nowrap
                            include ../components/_btn-catalog
                        .cell.cell__xlg-10.cell__lg-9.cell__md-8.cell__xs-7
                            .input__group
                                .input__group--select.hidden__sm.hidden__xs
                                    select.search.default-select.form-control(style="margin-left: 3px;")
                                        option По всему каталогу
                                        option Каталог
                                        option Каталог
                                        option Каталог
                                input#search.search.form-control(type="text", placeholder="Наименование/артикул")
                                .mobile--btn.mobile--btn--js
                                    button.btn.btn__lg(type="submit")
                                        img(src="images/search.png", alt="")
                                .input__group--btn.hidden__md.hidden__sm.hidden__xs(type="submit")
                                    button.btn.btn--primary.btn__icon--left.btn__lg.text--uppercase
                                        i.icon.icon-23.icon--search
                                        |  найти
                        .cell.cell__md-3.cell__xs-2.hidden__xlg.hidden__lg
                            .header-cart.pull-right
                                .header-cart__inner
                                    i.count 149
                                    .text__xs.hidden__xs.hidden__sm Сумма
                                    b.text--warning.hidden__xs.hidden__sm 859 892,40 Р
                                .header-cart__i
                                    i.icon.icon--cart
    .header-fixed
        .container
            .inner
                .item
                    .header__logo
                        a(href="/")
                            img(src="images/logo.png", alt="Company ltd.")
                .item
                    .btn-catalog(style="width:auto")
                        button.btn.btn--primary.btn__lg.show--js(type='button')
                            i.icon.icon-23.icon--cat
                        ul.fg-menu.fg-menu--ver.fg-menu--ver-l.fg-menu--catalog
                            li: a(href="#")
                                |  Кабель и изоляционная арматура
                            li.parent
                                a(href="#")  Кабель-каналы
                                .fg-menu--sub.fg-menu--sub_twice
                                    .fg-menu--sub_col
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li.active: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                                    .fg-menu--sub_col
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                            li.parent
                                a(href="#") Трубы и аксессуары
                                .fg-menu--sub
                                    .fg-menu--sub_col
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li.active: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                                        ul.fg-menu--sub_cat
                                            li.title: b.text--primary.text--lg Шкафы,щиты, боксы
                                            li: a(href="#") Средневольтное оборудование
                                            li: a(href="#") Счётчики, приборы измерения
                                            li: a(href="#") Источники бесперебойного питания (ИБП)
                                            li: a(href="#") Трансформаторы, стабилизаторы и электродвигатели
                                            li: a(href="#") Контакторы, пускатели. Реле
                                            li: a(href="#") Опоры и мачты освещения
                                            li.foot: a(href="#") Все категории
                            li: a(href="#")
                                |  Колонны и лючки
                            li: a(href="#")
                                |  Розетки и выключатели
                            li: a(href="#")
                                |  Изделия для изоляции, крепежа и маркировки
                            li: a(href="#")
                                |  Материалы для электромонтажа
                            li: a(href="#")
                                |  Шинопровод
                            li: a(href="#")
                                |  Металические лотки. Кабельные эстакады
                            li: a(href="#")
                                |  Телекоммуникационное оборудование
                            li: a(href="#")
                                |  Светильники, датчики
                            li: a(href="#")
                                |  Источники света
                            li: a(href="#")
                                |  Электротехническая шина
                            li: a(href="#")
                                |  Автоматы, узо, рубильники
                            li: a(href="#")
                                |  Инструмент
                            li: a(href="#")
                                |  Система молниезащиты и заземления
                            li: a(href="#")
                                |  Шкафы,щиты, боксы
                            li: a(href="#")
                                |  Средневольтное оборудование
                            li: a(href="#")
                                |  Счётчики, приборы измерения
                            li: a(href="#")
                                |  Источники бесперебойного питания (ИБП)
                            li: a(href="#")
                                |  Трансформаторы, стабилизаторы и электродвигатели
                            li: a(href="#")
                                |  Контакторы, пускатели. Реле
                            li: a(href="#")
                                |  Опоры и мачты освещения
                .item
                    .btn-catalog.text--normal
                        button.btn.btn--full.btn--success.btn__lg.btn__icon--left.show--js.text--nowrap(type='button')
                            i.icon.icon-23.icon--thunder
                            | быстрый заказ
                        .fg-fastorder
                            p Добавить товары по:
                            .form__group
                                +fieldRadio('По артикулам производителей', 'order1', 'order', false)
                                +fieldRadio('По кодам Форум Электро', 'order2', 'order', true)
                            .form__group.row
                                .cell.cell__xs-7
                                    +fieldInput('text', 'code', 'code', 'Код/артикул', false)
                                .cell.cell__xs-4.pull-right
                                    +fieldInput('text', 'count', 'count', 'Кол-во', false)
                            .form__group.row
                                .cell.cell__xs-7
                                    +fieldInput('text', 'code1', 'code1', 'Код/артикул', false)
                                .cell.cell__xs-4.pull-right
                                    +fieldInput('text', 'count1', 'count1', 'Кол-во', false)
                            .form__group.row
                                .cell.cell__xs-7
                                    +fieldInput('text', 'code2', 'code2', 'Код/артикул', false)
                                .cell.cell__xs-4.pull-right
                                    +fieldInput('text', 'count2', 'count2', 'Кол-во', false)
                            .text--center.center-block.cell__xs-10
                                .form__group
                                    a.btn.btn--primary.btn--full(href='#') Добавить в корзину
                                a.btn--link(href="#")
                                    i.icon-left-dir
                                    span  Загрузить больше из файла
                .item.t50
                    .input__group
                        .input__group--select.input__group--select-f.hidden__sm.hidden__xs
                            select.search.default-select.form-control(style="margin-left: 3px;")
                                option По всему каталогу
                                option Каталог
                                option Каталог
                                option Каталог
                        input#search.search.form-control(type="text", placeholder="Наименование/артикул")
                        .mobile--btn.mobile--btn--js
                            button.btn.btn__lg(type="submit")
                                img(src="images/search.png", alt="")
                        .input__group--btn.hidden__md.hidden__sm.hidden__xs(type="submit")
                            button.btn.btn--primary.btn__icon--left.btn__lg.text--uppercase
                                i.icon.icon-23.icon--search
                                |  найти
                .item
                    .header-cart.pull-right
                        .header-cart__inner
                            i.count 149
                            .text__xs.hidden__xs.hidden__sm Сумма
                            b.text--warning.hidden__xs.hidden__sm 859 892,40 Р
                        .header-cart__i
                            i.icon.icon--cart