//
// Variables


//- Variables -> Base
$base-font-family:                    "Open Sans", Arial, sans-serif !default;
$base-font-family-serif:              "Times New Roman", serif !default;
$base-font-size:                      15px !default;
$base-font-weight:                    400 !default;
$base-line-height:                    1.6 !default;
$base-color:                          #678293 !default;
$base-background:                     #f7f5f5 !default;
$base-padding:                        8px;

$base-bottom-margin:                  40px;

//- Link
$link-color:                          $base-color-light;
$link-hover-color:                    $base-color-light;
$link-decoration:                     underline;


//- Variables -> Typography
$font-size-large:                     ceil(($base-font-size * 1.2)) !default; // ~18px
$font-size-medium:                    ceil(($base-font-size * 1.066666)) !default; // ~16px
$font-size-small:                     ceil(($base-font-size * 0.933333)) !default; // ~14px
$font-size-tiny:                      ceil(($base-font-size * 0.866666)) !default; // ~13px

$font-size-h1:                        floor(($base-font-size * 1.6)); // ~24px
$font-size-h2:                        floor(($base-font-size * 1.466666)); // ~22px
$font-size-h3:                        floor(($base-font-size * 1.2)); // ~18px
$font-size-h4:                        ceil(($base-font-size * 1)); // ~15px
$font-size-h5:                        ceil(($base-font-size * 0.866666)); // ~13px
$font-size-h6:                        ceil(($base-font-size * 0.733333)); // ~11px

$line-height-computed:                floor(($base-font-size * $base-line-height)); // ~24px
$line-height-computed-half:           floor(($base-font-size * $base-line-height) / 2); // ~12px

$headings-font-family:                inherit !default;
$headings-font-weight:                600 !default;
$headings-line-height:                1.5 !default;
$headings-color:                      $color-type-1c !default;

//- border-radius
$border-radius-base:                  5px;
$border-radius-large:                 3px;
$border-radius-small:                 3px;


//- Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           750px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           990px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xlg:                          1310px;
$screen-xlg-min:                      $screen-xlg;
$screen-xlg-desktop:                  $screen-xlg-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;
$screen-lg-max:                       ($screen-xlg-min - 1) !default;

$screen-adaptive-nav:                 $screen-lg-min;

//- Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   20px;


//- Small screen / tablet
$container-mobile:                    (300px + $grid-gutter-width);
$container-sm:                        $container-mobile;

//- Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

//- Medium screen / desktop
$container-desktop:                   (960px + $grid-gutter-width);
$container-lg:                        $container-desktop;

//- Large screen / wide desktop
$container-large-desktop:             (1280px + $grid-gutter-width);
$container-xlg:                        $container-large-desktop;

//- Btn
$btn-font-weight:                     700;

$btn-default-color:                   $color-type-1b !default;
$btn-default-bg:                      transparent !default;
$btn-default-border:                  $color-type-1b !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $base-color-main !default;
$btn-primary-border:                  $btn-primary-bg !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $color-type-1b !default;
$btn-success-border:                  $btn-success-bg !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $color-type-1b !default;
$btn-info-border:                     $btn-info-bg !default;

$btn-warning-color:                   #fff !default;
$btn-warning-bg:                      $color-type-3a !default;
$btn-warning-border:                  $btn-warning-bg !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $color-type-2b !default;
$btn-danger-border:                   $btn-danger-bg !default;

$btn-transparent-color:               $base-color-main !default;
$btn-transparent-bg:                  transparent !default;
$btn-transparent-border:              $btn-transparent-color !default;

//- Padding
$padding-base-vertical:               9px;
$padding-base-horizontal:             12px;

$padding-large-vertical:              11px;
$padding-large-horizontal:            16px;

$padding-small-vertical:              7px;
$padding-small-horizontal:            10px;

$padding-tiny-vertical:               5px;
$padding-tiny-horizontal:             8px;

$line-height-large:                   1.5;
$line-height-small:                   1.3;
$line-height-tiny:                    1.2;
$line-height-btn:                     1.8333333;


$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-darken-2;
$blockquote-font-size:                ($base-font-size * 1.4705);
$blockquote-border-color:             $gray-darken-1;


//- Breadcrumbs
$breadcrumb-padding-vertical:         11px;
$breadcrumb-padding-horizontal:       0;
$breadcrumb-bg:                       transparent;
$breadcrumb-color:                    $color-type-1a;
$breadcrumb-active-color:             $color-type-1a;
$breadcrumb-separator:                "\e802";


//- Pagination
$pagination-color:                    $color-type-1b;
$pagination-bg:                       $base-color-lighten-1;
$pagination-border:                   $color-type-1d;

$pagination-hover-color:              $color-type-1b;
$pagination-hover-bg:                 $base-color-lighten-1;
$pagination-hover-border:             $color-type-1b;

$pagination-active-color:             $color-type-1b;
$pagination-active-bg:                $base-color-lighten-1;
$pagination-active-border:            $color-type-1b;


//- Pager
$pager-bg:                            white;
$pager-border:                        $pagination-border;
$pager-border-radius:                 3px;
$pager-hover-bg:                      white;
$pager-hover-color:                   $pagination-hover-color;
$pager-active-bg:                     white;
$pager-active-color:                  $pagination-active-color;


//- Accordion
$accordion-padding-vertical:         8px;
$accordion-padding-horizontal:       15px;
$accordion-bg:                       transparent;
$accordion-color:                    #333;
$accordion-active-color:             $gray-darken-2;

//- Tables
$table-cell-padding:                  12px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #f9f9f9;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #cad3df;


//- Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

//- Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

//- Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


//- Navs
$nav-link-padding:                     15px 20px;
$nav-link-hover-bg:                    $color-type-3a;
$subnav-link-hover-bg:                 $color-type-3b;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


//- Alerts
$alert-padding:                        16px 16px 16px 55px !default;
$alert-border-radius:                  5px !default;
$alert-link-font-weight:               400 !default;

$alert-success-bg:                     #daf5e7 !default;
$alert-success-text:                   #04be5b !default;
$alert-success-border:                 #04be5b !default;

$alert-info-bg:                        #d9ecf9 !default;
$alert-info-text:                      #0e89d8 !default;
$alert-info-border:                    #0082d5 !default;

$alert-warning-bg:                     #fff0e4 !default;
$alert-warning-text:                   #ff9948 !default;
$alert-warning-border:                 #ff9948 !default;

$alert-danger-bg:                      #f8e1e7 !default;
$alert-danger-text:                    #d2335c !default;
$alert-danger-border:                  #d2335c !default;


$close-font-weight:                    bold !default;
$close-color:                          #000 !default;
$close-text-shadow:                    none !default;


//- Form states and table
$input-bg:                             $base-color-lighten-1 !default;
$input-bg-disabled:                    $base-color-lighten-1 !default;

$input-color:                          $color-type-1c !default;
$input-border:                         $color-type-1d !default;

$input-border-radius:                  $border-radius-large !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-large !default;

$input-border-focus:                   #bad7ff !default;
$input-color-placeholder:              $color-type-1a !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-darken-1 !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $base-color-main !default;
$state-primary-bg:                     $base-color-main !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $color-type-4a !default;
$state-success-bg:                     $color-type-4a !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $color-type-1a !default;
$state-info-bg:                        $color-type-1a !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $color-type-6a !default;
$state-warning-bg:                     $color-type-6a !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $color-type-2a !default;
$state-danger-bg:                      $color-type-2a !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             10px !default;

$legend-color:                         $color-type-1c !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;
$zindex-popover:                       1060;
$zindex-tooltip:                       1070;
$zindex-dropdown:                      1000;

$caret-width-base:                     4px !default;


// Variables -> Components

//== Dropdowns

$dropdown-bg:                         #fff !default;
$dropdown-border:                     rgba(0,0,0,.15) !default;
$dropdown-fallback-border:            #ccc !default;
$dropdown-divider-bg:                 #e5e5e5 !default;

$dropdown-link-color:                 #000 !default;
$dropdown-link-hover-color:           darken(#000, 5%) !default;
$dropdown-link-hover-bg:              #f5f5f5 !default;

$dropdown-link-active-color:          #fff !default;
$dropdown-link-active-bg:             #000 !default;
$dropdown-link-disabled-color:        #eee !default;
$dropdown-header-color:               #eee !default;
$dropdown-caret-color:                #000 !default;


//== Popovers

$popover-bg:                          #fff !default;
$popover-max-width:                   189px !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-fallback-border-color:       #ccc !default;

$popover-title-bg:                    darken($popover-bg, 3%) !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;




//== Tooltips
//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             1 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home