//.index-sevices
.index-sevices
    .text--center
        h1 Наши услуги:
    .carousel-item.row
        - for (var x = 1; x < 3; x++)
            div
                .index-sevices__item
                    .inner
                        .index-sevices__item--inner
                            .index-sevices__item--title
                                h3 Производство КТП, БКТП
                            .index-sevices__item--desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                            .margtop50
                                a.btn.btn--transparent(href='#') Подробнее
                    .index-sevices__item--img
                        img(src="images/index-sevices-2.jpg", alt="")
                    .index-sevices__item--inner
                        .index-sevices__item--title
                            h1.text--primary Комплексные поставки электротехники
            div
                .index-sevices__item
                    .inner
                        .index-sevices__item--inner
                            .index-sevices__item--title
                                h3 Производство КТП, БКТП
                            .index-sevices__item--desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                            .margtop50
                                a.btn.btn--transparent(href='#') Подробнее
                    .index-sevices__item--img
                        img(src="images/index-sevices-2.jpg", alt="")
                    .index-sevices__item--inner
                        .index-sevices__item--title
                            h1.text--primary Сборка и монтаж электрощитов
            div
                .index-sevices__item
                    .inner
                        .index-sevices__item--inner
                            .index-sevices__item--title
                                h3 Производство КТП, БКТП
                            .index-sevices__item--desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                            .margtop50
                                a.btn.btn--transparent(href='#') Подробнее
                    .index-sevices__item--img
                        img(src="images/index-sevices-2.jpg", alt="")
                    .index-sevices__item--inner
                        .index-sevices__item--title
                            h1.text--primary Комплексные поставки электротехники
            div
                .index-sevices__item
                    .inner
                        .index-sevices__item--inner
                            .index-sevices__item--title
                                h3 Производство КТП, БКТП
                            .index-sevices__item--desc
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                            .margtop50
                                a.btn.btn--transparent(href='#') Подробнее
                    .index-sevices__item--img
                        img(src="images/index-sevices-2.jpg", alt="")
                    .index-sevices__item--inner
                        .index-sevices__item--title
                            h1.text--primary Сборка и монтаж электрощитов
//.index-sevices