//.index-brands
.index-brands
    .text--center
        if title == 'Главная'
            h1 Бренды
        else
            h1 Наши партнеры
    .index-brands--inner
        .carousel-item-multiple
            - for (var x = 1; x < 6; x++)
                .index-brands__item
                    img(src="images/index-brands-1.png", alt="")
                .index-brands__item
                    img(src="images/index-brands-2.png", alt="")
                .index-brands__item
                    img(src="images/index-brands-3.png", alt="")
                .index-brands__item
                    img(src="images/index-brands-4.png", alt="")
//.index-brands