tr.table-content--js
    td(colspan="10")
        table.table
            thead
                tr
                    th: +fieldCheckbox('', 'itemr1', false)
                    th №
                    th Бренд
                    th Код товара
                    th Артикул
                    th Наименование товара
                    th В резерве / В заказе
                    th Ед.изм.
                    th Срок резерва
                    th Цена с НДС
                    th Сумма с НДС
                    th Вес/ Объем
            tbody
                - for (var y = 1; y < 5; y++)
                    tr
                        td: +fieldCheckbox('', 'itemr2', false)
                        td: span #{y}
                        td: a(href="#") TELE-FONIKA
                        td: span.text--warning FRM123451
                        td: span LC1-C5E04-31
                        td.text--left.text--normal
                            span.text--warning Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                        td
                            span.success.text__md 5
                            span.text--info  / 120
                        td: span.text--warning м
                        td: span.text--warning 30.07.2016
                        td: span 9554,60
                        td: span.text--warning 9554,60
                        td: span.text--warning 0,3/1,2