tr.table-content--js
    td(colspan="13")
        .text--left.margbot10.text__md
            p Всего #[b 4] товара  на сумму #[b 143 315 Р]
        table.table
            thead
                tr
                    th №
                    th № заказа
                    th Бренд
                    th Код товара
                    th Артикул
                    th Наименование товара
                    th Кол-во
                    th Ед.изм.
                    th Цена с НДС
                    th Сумма с НДС
                    th Вес/ Объем
            tbody
                - for (var y = 1; y < 5; y++)
                    tr
                        td: span #{y}
                        td: a.btn--link.text--brand(href="#"): span FRM2354/1
                        td: a(href="#") TELE-FONIKA
                        td: span.text--warning FRM123451
                        td: span LC1-C5E04-31
                        td.text--left.text--normal
                            span.text--warning Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                        td: span 120
                        td: span.text--warning м
                        td: span 9554,60
                        td: span.text--warning 9554,60
                        td: span.text--warning 0,3/1,2