tr.table-content--js
    td(colspan="13")
        table.table
            thead
                tr
                    th №
                    th Бренд
                    th Код товара
                    th Артикул
                    th Наименование товара
                    th Кол-во
                    th Ед.изм.
                    th Цена с НДС
                    th Сумма с НДС
                    th Резерв (кол-во/ дата резерва)
                    th Заказано (кол-во/ дата поставки)
                    th Отгружено
                    th Вес/ Объем
            tbody
                - for (var y = 1; y < 5; y++)
                    tr
                        td: span #{y}
                        td: a(href="#") TELE-FONIKA
                        td: span.text--warning FRM123451
                        td: span LC1-C5E04-31
                        td.text--left.text--normal
                            span.text--warning Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                        td: span 120
                        td: span.text--warning м
                        td: span 9554,60
                        td: span.text--warning 9554,60
                        td: span.success 5 / #[span.text--warning 30.07.2016]
                        td: span.success 5 / #[span.text--warning 30.07.2016]
                        td: span 0
                        td: span.text--warning 0,3/1,2