main.page-main
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cel__xs-12.hidden__sm.hidden__xs.hidden__md
                ul.fg-menu.fg-menu--ver
                    li.active: a(href="#")
                        i.icon.icon-23.icon--build
                        |  О компании
                    li: a(href="#")
                        i.icon.icon-23.icon--desc
                        |  Проекты
                    li: a(href="#")
                        i.icon.icon-23.icon--sert
                        |  Сертификаты
                    li: a(href="#")
                        i.icon.icon-23.icon--bag
                        |  Вакансии
                    li: a(href="#")
                        i.icon.icon-23.icon--paper
                        |  Контакты
            section.cell.cell__lg-9.cell__xs-12
                h1 О компании
                .fg-about
                    img(src="images/about-img.jpg", alt="")
                    p Группа компаний ФОРУМ ЭЛЕКТРО основана в 1996 году. Сегодня ФОРУМ ЭЛЕКТРО — это динамично развивающийся ведущий комплексный поставщик на рынке электрооборудования в России. Является официальным дистрибьютором и представителем лучших европейских и российских производителей электро- и светотехники.
                        br
                        | В активе ФОРУМ ЭЛЕКТРО — успешные поставки на крупнейшие инфраструктурные проекты России, самые современные и сложные, знаковые строительные объекты, продвижение самых передовых инновационных продуктов на отечественном рынке электротехники, в промышленности, строительстве, транспорте, связи, энергетике. Мы предлагаем партнёрам участие в расчёте и оптимизации проектных энергоэффективных решений, совместно с производителями — лидерами электротехнической отрасли — ABB, DKC, LEGRAND, SCHNEIDER ELECTRIC, СВЕТОВЫЕ ТЕХНОЛОГИИ и др.
                        br
                        | В активе ФОРУМ ЭЛЕКТРО — успешные поставки на крупнейшие инфраструктурные проекты России, самые современные и сложные, знаковые строительные объекты, продвижение самых передовых инновационных продуктов на отечественном рынке электротехники, в промышленности, строительстве, транспорте, связи, энергетике. Мы предлагаем партнёрам участие в расчёте и оптимизации проектных энергоэффективных решений, совместно с производителями — лидерами электротехнической отрасли — ABB, DKC, LEGRAND, SCHNEIDER ELECTRIC, СВЕТОВЫЕ ТЕХНОЛОГИИ и др.
                        br
                        | Среди более чем 8000 клиентов ФОРУМ ЭЛЕКТРО профессиональные потребители и частные заказчики, для каждого из которых важны наши партнёрские отношения, уровень сервиса и деловая репутация.
                    .this-or-this
                        .this-or-this__this.dotted
                            span Группа Компаний ФОРУМ ЭЛЕКТРО — участник СРО в области строительства и проектирования, включая функции генерального подрядчика, — выполняет монтаж и проектирование инженерных систем зданий, светотехнические расчёты, сервисное обслуживание технологического оборудования. ФОРУМ ЭЛЕКТРО производит и поставляет электрощитовую продукцию и комплектные трансформаторные подстанции. Номенклатура поставляемой продукции превышает 50 000 наименований и постоянно расширяется. Филиальная сеть компании, наличие офисов продаж и складских комплексов позволяет оперативно обслуживать заказы. В настоящее время в группе компаний ФОРУМ ЭЛЕКТРО работает свыше 350 сотрудников в 10 филиалах на территории России: Москве, Санкт-Петербурге, Нижнем Новгороде, Самаре, Краснодаре, Ростове-на-Дону, Липецке, Череповце, Архангельске и Петрозаводске.
                        .this-or-this__this.cell__lg-4.text--center
                            img(src="images/about-img-2.jpg", alt="")
                    .slideshow.hidden__xs.hidden__sm
                        - for (var x = 1; x < 5; x++)
                            div
                                img(src="images/slider/slideshow.jpg" alt="")
                                .inner: b.text__lg Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    h3 Основные товарные группы поставляемой продукции:
                    ul.list--bullet.text__lg
                        li: span кабеленесущие системы;
                        li: span кабель и провод;
                        li: span низковольтное оборудование и компоненты;
                        li: span электроустановочные изделия;
                        li: span светотехника.
                    h3 Предоставляемые услуги:
                    ul.list--bullet.text__lg
                        li: span комплектация объектов строительства;
                        li: span производство электрощитового оборудования;
                        li: span расчёт осветительных установок и энергоэффективности;
                        li: span сервис технологического оборудования;
                        li: span проектирование, монтаж инженерных систем.