main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            .this-or-this
                .this-or-this__this.text--left
                    h1 Новости
                .this-or-this__this.text--right
                    ul.list--inline
                        li: b: a.btn--link(href="#")
                            i.icon.icon-23.icon--box.margleft0
                            span  Архив новостей
            .row
                aside.cell.cell__lg-3.cell__xs-12
                    .accordion.fg-filter
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg
                                    i.icon.icon-20.icon--filter
                                    span  Фильтры
                            .accordion-content
                                .board
                                    p Новости по бренду
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название бренда
                                .board
                                    p Новости по категориям
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название бренда
                                .board
                                    +fieldCheckbox('Изменения цен', 'price_1', false)
                                    +fieldCheckbox('Изменения в ассортименте', 'price_2', false)
                                    +fieldCheckbox('Мероприятия', 'price_3', false)
                                .board
                                    p Новости по дате
                                    fieldset.form__group
                                        select.select-hard.form-control
                                            option(selected)
                                            option 2016 год
                                            option 2015 год
                                            option 2014 год
                                            option 2013 год
                                        label.label-hard Год
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Новости за I квартал
                                            option Новости за II квартал
                                            option Новости за III квартал
                                            option Новости за IV квартал
                                        label.label-hard Квартал
                                ul.list--inline.margtop20.clearfix
                                    li.cell__md-7.pull-left
                                        a.btn.btn--transparent.btn--full(href='#') Применить
                                    li.cell__md-5.pull-right
                                        a.btn.btn--default.btn--full(href='#') Сбросить
                section.cell.cell__lg-9.cell__xs-12
                    +tags('Бренд Helukabel')
                    .fg-news
                        .row
                            - for (var x = 1; x < 3; x++)
                                .cell.cell__md-6.cell__xs-12
                                    .fg-news__item
                                        .fg-news__item--img
                                            img(src="images/news-1.jpg", alt="")
                                        .fg-news__item--inner
                                            .fg-news__item--date
                                                span.text--default 01.06.2016
                                            .fg-news__item--title
                                                h2: a(href="#") Новое поступление от DKC
                                            .fg-news__item--desc
                                                p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                                .cell.cell__md-6.cell__xs-12
                                    .fg-news__item
                                        .fg-news__item--img
                                            img(src="images/news-2.jpg", alt="")
                                        .fg-news__item--inner
                                            .fg-news__item--date
                                                span.text--default 01.06.2016
                                            .fg-news__item--title
                                                h2: a(href="#") День рождения Форум Электро!
                                            .fg-news__item--desc
                                                p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...