main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            ul.title-sub
                li
                    h1= title
                li: b: a.btn--link(href="#")
                    i.icon-left-dir
                    span  Вернуться к товару
            .row
                include ../components/_filter
                section.cell.cell__lg-9.cell__xs-12
                    .tabs.fg-goods
                        include ../components/_sort
                        +tags('Акционный товар', 'Сделано в России', 'Бренд Helukabel', 'Серия: Е 427, Г 847', 'Акционный товар', 'Сделано в России', 'Бренд Helukabel', 'Серия: Е 427, Г 847')
                        .tabs__content.active.hidden__sm.hidden__xs
                            .cards
                                include ../cards/_analogs-c
                                include ../cards/_analogs-c
                                include ../cards/_analogs-c
                        .tabs__content.hidden__sm.hidden__xs
                            .cards
                                .row
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_analogs-c2
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_analogs-c2
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_analogs-c2
                        .tabs__content.hidden__sm.hidden__xs
                            .cards
                                include ../cards/_analogs-c3
                                include ../cards/_analogs-c3
                                include ../cards/_analogs-c3
                        .tabs__content.visible__sm.visible__xs
                            .cards
                                - for (var x = 1; x < 4; x++)
                                    include ../cards/_card-mobile-c

