main.page-main
    .container
        include ../components/_breadcrumbs
        .this-or-this
            .this-or-this__this.text--left
                h1 Архив акций
            .this-or-this__this.text--right
                ul.list--inline
                    li: b: a.btn--link(href="#")
                        i.icon-left-dir
                        span  Актуальные акции
        .board
            .this-or-this.this-or-this--mobile.text--center
                .this-or-this__this.cell__lg-3.cell__md-3.mobile-input
                    fieldset
                        select.select-hard.form-control
                            option(selected)
                            option Акции за 2016 год
                            option Акции за 2015 год
                            option Акции за 2014 год
                            option Акции за 2013 год
                        label.label-hard Сортировка по годам
                .this-or-this__this.cell__lg-3.cell__md-3.hidden__lg.hidden__xlg.mobile-input
                    fieldset
                        select.select-hard.form-control
                            option(selected)
                            option Январь
                            option Февраль
                            option Март
                            option Май
                            option Июнь
                            option Июль
                            option Август
                            option Сентябрь
                            option Октябрь
                            option Ноябрь
                            option Декабрь
                        label.label-hard Сортировка по месяцам
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.btn--link(href="#"): span  Январь
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Февраль
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Март
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Май
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Июнь
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Июль
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Август
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Сентябрь
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Октябрь
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Ноябрь
                .this-or-this__this.hidden__md.hidden__sm.hidden__xs: a.text--info(href="#"): span Декабрь
        .fg-news
            .row
                - for (var x = 1; x < 3; x++)
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .index-shares__item
                            .index-shares__item--img
                                img(src="images/index-shares-1.jpg", alt="")
                            .index-shares__item--inner
                                .index-shares__item--title
                                    h2 Неделя с DKC
                                .index-shares__item--desc
                                    p.text__lg
                                        i.icon.icon-23.icon--date
                                        | С
                                        b  01.06.2016
                                        |  до
                                        b  08.06.2016
                                    p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--center.margtop20
                                    a.btn.btn--transparent(href='#') Узнать больше
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .index-shares__item
                            .index-shares__item--img
                                img(src="images/index-shares-2.jpg", alt="")
                            .index-shares__item--inner
                                .index-shares__item--title
                                    h2 Подарочная карта  на 4000 руб. на покупку бытовой техники
                                .index-shares__item--desc
                                    p.text__lg
                                        i.icon.icon-23.icon--date
                                        | С
                                        b  01.06.2016
                                        |  до
                                        b  08.06.2016
                                    p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--center.margtop20
                                    a.btn.btn--transparent(href='#') Узнать больше
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .index-shares__item
                            .index-shares__item--img
                                img(src="images/index-shares-3.jpg", alt="")
                            .index-shares__item--inner
                                .index-shares__item--title
                                    h2 Вместе с TDM
                                .index-shares__item--desc
                                    p.text__lg
                                        i.icon.icon-23.icon--date
                                        | С
                                        b  01.06.2016
                                        |  до
                                        b  08.06.2016
                                    p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--center.margtop20
                                    a.btn.btn--transparent(href='#') Узнать больше