main.page-main
    .container
        include ../components/_breadcrumbs
        .this-or-this.this-or-this--mobile
            .this-or-this__this.text--left
                h1 Архив новостей
            .this-or-this__this.text__md--right
                ul.list--inline
                    li: b: a.btn--link(href="#")
                        i.icon-left-dir
                        span  Актуальные новости
        .board
            .row
                .cell.cell__xlg-3.cell__md-4.cell__xs-12.mobile-input
                    fieldset
                        select.select-hard.form-control
                            option(selected)
                            option Новости за 2016 год
                            option Новости за 2015 год
                            option Новости за 2014 год
                            option Новости за 2013 год
                        label.label-hard Новости по годам
                .cell.cell__xlg-3.cell__md-4.cell__xs-12.mobile-input
                    fieldset
                        select.select-hard.form-control
                            option(selected)
                            option Новости поквартально
                            option Новости поквартально
                            option Новости поквартально
                        label.label-hard Новости поквартально
                .cell.cell__xlg-3.cell__md-4.cell__xs-12.mobile-input
                    fieldset
                        select.select-hard.form-control
                            option(selected)
                            option Июнь
                            option Июль
                            option Август
                            option Сентяюрь
                        label.label-hard Выбрать месяц
        .fg-news
            .row
                - for (var x = 1; x < 3; x++)
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-1-1.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") Новое поступление от DKC
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-2-1.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") День рождения Форум Электро!
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-3.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") Новое поступление от DKC
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...