main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            h1 Бренды производителей
            .row
                aside.cell.cell__lg-3.cell__xs-12
                    .accordion.fg-filter
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg
                                    i.icon.icon-20.icon--filter
                                    span  Фильтры
                            .accordion-content
                                .board
                                    p: b Бренд
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название бренда
                                .board
                                    p: b Категории
                                    p
                                        a.btn--link(href="")
                                            span Кабель и изоляционная
                                                br
                                                | арматура
                                            i.fg-tags--js.btn--link-ico  x
                                    p
                                        a.btn--link(href="")
                                            span Кабель - каналы
                                            i.fg-tags--js.btn--link-ico  x
                                    p
                                        a.btn--link(href="")
                                            span Изделия для изоляции,
                                                br
                                                | крепежа и маркировки
                                            i.fg-tags--js.btn--link-ico  x
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Все категории
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название категории
                                .board
                                    +fieldCheckbox('Акционный товар', 'prod_1', false)
                                    +fieldCheckbox('Производство Россия', 'prod_2', false)
                                ul.list--inline.margtop20.clearfix
                                    li.cell__md-7.pull-left
                                        a.btn.btn--transparent.btn--full(href='#') Применить
                                    li.cell__md-5.pull-right
                                        a.btn.btn--default.btn--full(href='#') Сбросить
                section.cell.cell__lg-9.cell__xs-12
                    +tags('Акции', 'Сделано в России', 'Бренд Helukabel')
                    .fg-brands
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-1.png", alt="")
                                h3: a(href="#") IEK
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-2.png", alt="")
                                h3: a(href="#") Северная Аврора
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-3.png", alt="")
                                h3: a(href="#") ERICO
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-4.png", alt="")
                                h3: a(href="#") HYUNDAI
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-5.png", alt="")
                                h3: a(href="#") Finder
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-6.png", alt="")
                                h3: a(href="#") Lapp Group
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-7.png", alt="")
                                h3: a(href="#") HELUKABEL
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-8.png", alt="")
                                h3: a(href="#") Промрукав
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-9.png", alt="")
                                h3: a(href="#") ITK
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-10.png", alt="")
                                h3: a(href="#") DAHOP
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-11.png", alt="")
                                h3: a(href="#") ALB
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-12.png", alt="")
                                h3: a(href="#") Alfresco
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-13.png", alt="")
                                h3: a(href="#") Arte
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-14.png", alt="")
                                h3: a(href="#") Атон
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-15.png", alt="")
                                h3: a(href="#") SmartRon
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-16.png", alt="")
                                h3: a(href="#") LEDS C4
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-17.png", alt="")
                                h3: a(href="#") ASD
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-18.png", alt="")
                                h3: a(href="#") Ферекс
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-19.png", alt="")
                                h3: a(href="#") Rosa
                        .fg-brands__item
                            .inner
                                .fg-brands__img
                                    img(src="images/brands-img-20.png", alt="")
                                h3: a(href="#") Opora
                    include ../components/_paginator