main.page-main
    .container
        include ../components/_breadcrumbs
        ul.title-sub
            li
                h1 ITK
            li: b: a.btn--link(href="#")
                i.icon-left-dir
                span  К списку брендов
        .fg-brand
            .this-or-this.text--nowrap
                .this-or-this__this.v-top
                    img(src="images/itk.jpg", alt="")
                .this-or-this__this.text--right.v-top
                    b: a.btn--link.text--primary(href="#")
                        i.icon.icon-23.icon--download
                        span  Скачать прайс
            .fg-brand--desc
                p ITK — надежное оборудование для телекоммуникаций на IT-рынке.
                    br
                    |  TM ITK - новый масштабный проект Группы компаний IEK. Один из крупнейших производителей российского электротехнического рынка создал этот проект для продвижения надежного оборудования для телекоммуникаций на IT-рынке.
                p
                    b Страны производства:
                    |  Россия, Китай, Турция
            .fg-brand--gal
                .row
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        img(src="images/brand-1.jpg", alt="")
                        h5 Компоненты для структурированных кабельных систем
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        img(src="images/brand-1.jpg", alt="")
                        h5 Оборудование для электропитания и мониторинга стоек
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        img(src="images/brand-1.jpg", alt="")
                        h5 19 дюймовые монтажные шкафы и стойки
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        img(src="images/brand-1.jpg", alt="")
                        h5 Климатические шкафы наружной установки серии LINEA O
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        img(src="images/brand-1.jpg", alt="")
                        h5 Кабеленесущие системы. Перфорированные и неперфорированные кабельные лотки из оцинкованной стали
        .fg-accordion.accordion
            .fg-accordion__section
                a.fg-accordion__section_title.accordion-title(href="#")
                    b.text__lg.text--primary Категории бренда
                .fg-accordion__section_content.accordion-content.index-catalog
                    - for (var x = 1; x < 6; x++)
                        .index-catalog__item
                            .index-catalog__item--img
                                img(src="images/cat-#{x}.jpg")
                            h3: a.btn--link(href="#"): span Кабель-каналы
                    - for (var x = 1; x < 6; x++)
                        .index-catalog__item
                            .index-catalog__item--img
                                img(src="images/cat-#{x}.jpg")
                            h3: a.btn--link(href="#"): span Кабель и изоляционная арматура
        .index-shares
            h1 Акции по этому бренду
            .row
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-1.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Неделя с DKC
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-2.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Подарочная карта  на 4000 руб. на покупку бытовой техники
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-3.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Вместе с TDM
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
        .fg-certificates
            h1 Сертификаты
            .row
                - for (var x = 1; x < 3; x++)
                    .cell.cell__xlg-3.cell__md-6.cell__xs-12
                        .fg-certificates__item
                            a.link(href="#")
                                .link__inner
                                    img(src="images/download.png", alt="")
                                    p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                            .fg-certificates__img
                                img(src="images/cert-1.jpg", alt="")
                            .fg-certificates__title
                                p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                            .fg-certificates__desc
                                p Сертификат выдан: 29.12.2015
                                    br
                                    | Сертификат дейстует:
                                    br
                                    | с 01.01.2016 до 31.12.2018
                                    br
                                    | Сертификат действует на категорию:
                                    br
                                    | Кабель и изоляционная арматура
                    .cell.cell__xlg-3.cell__md-6.cell__xs-12
                        .fg-certificates__item
                            a.link(href="#")
                                .link__inner
                                    img(src="images/download.png", alt="")
                                    p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                            .fg-certificates__img
                                img(src="images/cert-2.jpg", alt="")
                            .fg-certificates__title
                                p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                            .fg-certificates__desc
                                p Сертификат выдан: 29.12.2015
                                    br
                                    | Сертификат дейстует:
                                    br
                                    | с 01.01.2016 до 31.12.2018
                                    br
                                    | Сертификат действует на категорию:
                                    br
                                    | Кабель и изоляционная арматура
            .text--center.margtop20
                a.btn.btn--transparent(href='#') Посмотреть еще