main.page-main
    .container(itemscope itemtype="http://schema.org/Product")
        include ../components/_breadcrumbs
        h1(itemprop="name")= title
        section.fg-card.cards
            include ../cards/_desktop-card--slider
            include ../cards/_mobile-card--slider
            .cards-offer
                - for (var x = 1; x < 4; x++)
                    .cards-offer__item
                        ul.list--table.hidden__xs.hidden__sm
                            li.v-middle.cell__xlg-3
                                p.text__xs.text--warning Код FRM123451
                                ul.list--counter
                                    li
                                        span.key Кол-во в упаковке
                                        span.value 100 м
                                .error.visible__xlg Товар неполной комплектации!
                            li.v-middle.text--center
                                .relative
                                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                                    aria-expanded="false")
                                        i.icon.icon-23.icon--locadd
                                        span На складе: 1 500
                                    include ../cards/_dropdown
                            li.v-middle(style="width: 114px;")
                                .value-input
                                    input(class="form-control", type="number", value="10")
                            li.v-middle.cell__xlg-1
                                .cards__price
                                    .price.price--new.margtop-5
                                        span  2 910 ₽
                                    .price.price--old 3 630 ₽
                            li.v-middle.text--center.hidden__md.hidden__lg.hidden__sm.hidden__xs
                                .btn__group
                                    a.btn.btn--primary.btn__lg(href='#')
                                        img.icon(src="images/icons/icon.png")
                                        |  в корзину
                                    a.btn.btn--transparent.btn__lg.popup-modal(href='#one-click')
                                        img.icon(src="images/icons/icon2.png")
                                        |  купить
                            li.v-middle.cell__xlg-1.hidden__md.hidden__lg.hidden__sm.hidden__xs
                                .cards__price
                                    .price.price--bonus + 10 бонусов
                        ul.list--table.hidden__xlg.hidden__xs.hidden__sm
                            li.v-middle
                                .error Товар неполной комплектации!
                            li.v-middle
                                .cards__price
                                    .price.price--bonus + 10 бонусов
                            li.v-middle.text--right
                                .btn__group
                                    a.btn.btn--primary.btn__lg(href='#')
                                        img.icon(src="images/icons/icon.png")
                                        |  в корзину
                                    a.btn.btn--transparent.btn__lg.popup-modal(href='#one-click')
                                        img.icon(src="images/icons/icon2.png")
                                        |  купить
                        ul.list--unstyled.visible__sm.visible__xs
                            li.v-middle
                                p.text__xs.text--warning Код FRM123451
                                ul.list--counter
                                    li
                                        span.key Кол-во в упаковке
                                        span.value 100 м
                            li.v-middle
                                ul.list--table
                                    li.v-middle
                                        .relative
                                            a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                                            aria-expanded="false")
                                                i.icon.icon-23.icon--locadd
                                                span  1 500
                                            include ../cards/_dropdown
                                    li.v-middle(style="width: 94px;")
                                        .value-input
                                            input(class="form-control", type="number", value="10")
                                    li.v-middle
                                        .cards__price
                                            .price.price--new.margtop-5
                                                span  2 910 ₽
                                            .price.price--old 3 630 ₽
                            li.v-middle.text--center
                                .error.margbot10 Товар неполной комплектации!
                            li.v-middle
                                .btn__group
                                    a.btn.btn--primary.btn__lg(href='#')
                                        img.icon(src="images/icons/icon.png")
                                        |  в корзину
                                    a.btn.btn--transparent.btn__lg.popup-modal(href='#one-click')
                                        img.icon(src="images/icons/icon2.png")
                                        |  купить
            // tabs
            .tabs.fg-tabs
                ul.tabs__caption.fg-tabs__caption
                    li.active Описание
                    li.hidden__xs.hidden__sm Документация
                    li.hidden__xs.hidden__sm Сертификаты
                .tabs__content.fg-tabs__content.active
                    .cell__lg-7.text__xs(itemprop="description")
                        p В основе LAN-кабеля ITK лежат пары, образованные двумя токопроводящими медными проводниками, покрытыми изоляцией из ПВХ или полиэтилена высокой плотности, скрученными между собой с определенным шагом повивки и защищенные внешней оболочкой.
                        ul.list--counter-card
                            li
                                span.key Тип кабеля:
                                span.value.text--warning F/UTP
                            li
                                span.key Категория:
                                span.value.text--warning 5E
                            li
                                span.key Кол-во пар:
                                span.value.text--warning 4
                            li
                                span.key Внешний диаметр кабеля:
                                span.value.text--warning 5,2 ± 0,2 мм
                            li
                                span.key Оболочка кабеля:
                                span.value.text--warning PVC, LSZH
                            li
                                span.key Диаметр медной жилы:
                                span.value.text--warning 0,52 мм (24 AWG)
                            li
                                span.key Тип проводника:
                                span.value.text--warning однопроволочный сплошной (solid)
                            li
                                span.key Изоляция проводника:
                                span.value.text--warning полиэтилен высокой плотности (HDPE)
                .tabs__content.fg-tabs__content.hidden__xs.hidden__sm
                    p
                        b: a.btn--link.text--primary(href="#")
                            i.icon.icon-23.icon--download
                            span Скачать инструкцию установки
                    p
                        b: a.btn--link.text--primary(href="#")
                            i.icon.icon-23.icon--download
                            span Скачать схему монтажа
                .tabs__content.fg-tabs__content.hidden__xs.hidden__sm
                    .fg-certificates
                        .row
                            .cell.cell__lg-6.cell__xs-12
                                .row
                                    .cell.cell__md-6.cell__xs-12
                                        .fg-certificates__item
                                            a.link(href="#")
                                                .link__inner
                                                    img(src="images/download.png", alt="")
                                                    p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                                            .fg-certificates__img
                                                img(src="images/cert-2.jpg", alt="")
                                    .cell.cell__md-6.cell__xs-12
                                        .fg-certificates__title
                                            p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                                        .fg-certificates__desc
                                            p Сертификат выдан: 29.12.2015
                                                br
                                                | Сертификат дейстует:
                                                br
                                                | с 01.01.2016 до 31.12.2018
                                                br
                                                | Сертификат действует на категорию:
                                                br
                                                | Кабель и изоляционная арматура
                            .cell.cell__lg-6.cell__xs-12
                                .row
                                    .cell.cell__md-6.cell__xs-12
                                        .fg-certificates__item
                                            a.link(href="#")
                                                .link__inner
                                                    img(src="images/download.png", alt="")
                                                    p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                                            .fg-certificates__img
                                                img(src="images/cert-1.jpg", alt="")
                                    .cell.cell__md-6.cell__xs-12
                                        .fg-certificates__title
                                            p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                                        .fg-certificates__desc
                                            p Сертификат выдан: 29.12.2015
                                                br
                                                | Сертификат дейстует:
                                                br
                                                | с 01.01.2016 до 31.12.2018
                                                br
                                                | Сертификат действует на категорию:
                                                br
                                                | Кабель и изоляционная арматура
            // tabs
            h3 Товары аналоги
            .row(data-sticky_parent="")
                section.cell.cell__xlg-9.cell__lg-8.cell__xs-12
                    .hidden__sm.hidden__xs
                        .cards
                            - for (var x = 1; x < 4; x++)
                                include ../cards/_analogs
                        .cards
                            .hide--all(style="display:none")
                                - for (var x = 1; x < 4; x++)
                                    include ../cards/_analogs
                        .text--center.margtop20.margbot30
                            a.btn.btn--transparent.show--all(href="#") Посмотреть еще
                    .visible__sm.visible__xs
                        .cards
                            - for (var x = 1; x < 4; x++)
                                include ../cards/_card-mobile
                        .cards
                            .hide--all(style="display:none")
                                - for (var x = 1; x < 4; x++)
                                    include ../cards/_card-mobile
                        .text--center.margtop20.margbot30
                            a.btn.btn--transparent.show--all(href="#") Посмотреть еще
                    include ../cards/_compatible-card
                aside.cell.cell__xlg-3.cell__lg-4.cell__xs-12.hidden__xs.hidden__sm.hidden__md
                    .cards-sidebar(data-sticky_column="")
                        .cards-sidebar--img
                            img(src="images/card.jpg", alt="")
                        .cards-sidebar--desc
                            ul.list--inline-pure.margtop-5
                                li Арт. 3849943
                                li.text__xs.text--info Код FRM123451
                            p: b.text--warning Кабель NYM ТУ 3 х 1.5 100 м
                            p Кол-во кратно 10 м
                            ul.list--table
                                li(style="width: 98px;")
                                    .value-input
                                        input(class="form-control", type="number", value="10")
                                li.text--right.cards__price
                                    .price.price--new.margtop-5
                                        span  2 910 ₽
                                    .price.price--old 3 630 ₽
                        .cards-sidebar--bottom
                            .btn__group.btn--full.text--nowrap
                                a.btn.btn--primary.btn__lg.t60(href='#')
                                    img.icon(src="images/icons/icon.png")
                                    |  в корзину
                                a.btn.btn--transparent.btn__lg.t40.popup-modal(href='#one-click')
                                    img.icon(src="images/icons/icon2.png")
                                    |  купить
        include ../blocks/_index-sevices
    include ../blocks/_index-brands

