main.page-main
    .container
        include ../components/_breadcrumbs
        h1 Каталог
        .index-catalog
            - for (var x = 1; x < 6; x++)
                .index-catalog__item
                    .index-catalog__item--img
                        img(src="images/cat-#{x}.jpg")
                    h3: a.btn--link(href="#"): span Кабель-каналы
            - for (var x = 1; x < 6; x++)
                .index-catalog__item
                    .index-catalog__item--img
                        img(src="images/cat-#{x}.jpg")
                    h3: a.btn--link(href="#"): span Кабель и изоляционная арматура
