main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            h1 Сертификаты
            .row
                aside.cell.cell__lg-3.cell__xs-12
                    .accordion.fg-filter
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg
                                    i.icon.icon-20.icon--filter
                                    span  Фильтры
                            .accordion-content
                                .board
                                    p Бренд
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название бренда
                                ul.list--inline.margtop20.clearfix
                                    li.cell__xs-7.pull-left
                                        a.btn.btn--transparent.btn--full(href='#') Применить
                                    li.cell__xs-5.pull-right
                                        a.btn.btn--default.btn--full(href='#') Сбросить
                section.cell.cell__lg-9.cell__xs-12
                    +tags('Бренд Helukabel')
                    .fg-certificates
                        .row
                            - for (var x = 1; x < 4; x++)
                                .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                    .fg-certificates__item
                                        a.link(href="#")
                                            .link__inner
                                                img(src="images/download.png", alt="")
                                                p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                                        .fg-certificates__img
                                            img(src="images/cert-1.jpg", alt="")
                                        .fg-certificates__title
                                            p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                                        .fg-certificates__desc
                                            p Сертификат выдан: 29.12.2015
                                                br
                                                | Сертификат дейстует:
                                                br
                                                | с 01.01.2016 до 31.12.2018
                                                br
                                                | Сертификат действует на категорию:
                                                br
                                                | Кабель и изоляционная арматура
                                .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                    .fg-certificates__item
                                        a.link(href="#")
                                            .link__inner
                                                img(src="images/download.png", alt="")
                                                p.margtop10: b.btn--link.text--primary: span Скачать сертификат
                                        .fg-certificates__img
                                            img(src="images/cert-2.jpg", alt="")
                                        .fg-certificates__title
                                            p.text--warning Сертификат дистрибьютора ООО "НПК" Ленинградский Электромеханический Завод. АО "Форум Нева"
                                        .fg-certificates__desc
                                            p Сертификат выдан: 29.12.2015
                                                br
                                                | Сертификат дейстует:
                                                br
                                                | с 01.01.2016 до 31.12.2018
                                                br
                                                | Сертификат действует на категорию:
                                                br
                                                | Кабель и изоляционная арматура