main.page-main
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.hidden__sm.hidden__xs.hidden__md
                ul.fg-menu.fg-menu--ver
                    li: a(href="#")
                        i.icon.icon-23.icon--build
                        |  О компании
                    li: a(href="#")
                        i.icon.icon-23.icon--desc
                        |  Проекты
                    li: a(href="#")
                        i.icon.icon-23.icon--sert
                        |  Сертификаты
                    li: a(href="#")
                        i.icon.icon-23.icon--bag
                        |  Вакансии
                    li.active: a(href="#")
                        i.icon.icon-23.icon--paper
                        |  Контакты
                //ul.fg-citymenu
                //    li: b: a.btn--link(href="#")
                //        i.icon.icon-23.icon--location
                //        span  Москва
                //    li: a.btn--link(href="#"): span Санкт-Петербург
                //    li: a.btn--link(href="#"): span Самара
                //    li: a.btn--link(href="#"): span Нижний новгород
                //    li: a.btn--link(href="#"): span Краснодар
                //    li: a.btn--link(href="#"): span Ростов-на-Дону
                //    li: a.btn--link(href="#"): span Череповец
                //    li: a.btn--link(href="#"): span Петрозаводск
                //    li: a.btn--link(href="#"): span Архангельск
                //    li: a.btn--link(href="#"): span Казань
                //    li: a.btn--link(href="#"): span Воронеж
                //    li: a.btn--link(href="#"): span Вся Россия
            section.cell.cell__lg-9.cell__xs-12
                h1 Контакты
                .fg-contacts(itemscope, itemtype="http://schema.org/Organization")
                    .fg-accordion.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title.active(href="#")
                                b.text__lg
                                    i.icon.icon-23.icon--location
                                    span  Москва
                            .fg-accordion__section_content.accordion-content.fg-contacts__map.active(style="display: block;")
                                .clearfix
                                    .pull-left.cell__lg-4.cell__md-5.cell__xs-12.accordion.fg-contacts--inner
                                        .fg-contacts__mark.accordion-title.active
                                            span(itemprop="name") Центральный офис продаж
                                                br
                                                |  АО «ФОРУМ ЭЛЕКТРО»
                                        .inner.accordion-content.active(style="display: block;")
                                            ul.list--unstyled.text__xs.mini-contactss(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                                                li
                                                    p
                                                        span(itemprop="addressLocality") г. Москва,
                                                        span(itemprop="streetAddress") ул. 8 Марта, д.1,
                                                            br
                                                            | стр. 12. Корпус №1
                                                li
                                                    p(itemprop="telephone")
                                                        i.icon.icon-23.icon--phone
                                                        |  +7 911 123-45-67
                                                li
                                                    p(itemprop="email")
                                                        i.icon.icon-23.icon--mail
                                                        |  mail@forumgroup.ru
                                                li
                                                    p
                                                        i.icon.icon-23.icon--flower
                                                        |  icq:123456789
                                        .fg-contacts__mark.accordion-title
                                            b(itemprop="name") Офис продаж и центральный склад АО «ФОРУМ ЭЛЕКТРО»
                                            p.text__xs Московская Область, г. Долгопрудный, мкрн. Хлебниково, Новое шоссе, д.1, стр. 1
                                        .inner.accordion-content
                                            ul.list--unstyled.text__xs.mini-contactss(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                                                li
                                                    p
                                                        span(itemprop="addressLocality") г. Москва,
                                                        span(itemprop="streetAddress") ул. 8 Марта, д.1,
                                                            br
                                                            | стр. 12. Корпус №1
                                                li
                                                    p(itemprop="telephone")
                                                        i.icon.icon-23.icon--phone
                                                        |  +7 911 123-45-67
                                                li
                                                    p(itemprop="email")
                                                        i.icon.icon-23.icon--mail
                                                        |  mail@forumgroup.ru
                                                li
                                                    p
                                                        i.icon.icon-23.icon--flower
                                                        |  icq:123456789
                                        //.inner.inner--stripped
                                        //    b Офис продаж и центральный склад АО «ФОРУМ ЭЛЕКТРО»
                                        //    p.text__xs Московская Область, г. Долгопрудный, мкрн. Хлебниково, Новое шоссе, д.1, стр. 1
                                    .pull-left.cell__lg-8.cell__md-7.cell__xs-12.fg-contacts--mapinner
                                        #mapid(style="height:400px;width:100%;")
                                .details
                                    h3 Реквизиты
                                    span ООО «Формум Нева»
                                        br
                                        | Россия, 196084, Санкт-Петербург, ул. Коли Томчака 28/1 БЦ «Гепард», оф. 312.
                                        br
                                        | ИНН 7810559103
                                        br
                                        | КПП 781001001
                                        br
                                        | ОГРН 1097847194983
                                        br
                                        | ОКПО 61083537
                                        br
                                        | ОКАТО 40284561000
                                        br
                                        | р/с 40702810494670000028
                                        br
                                        | к/с 30101810100000000778
                                        br
                                        | Северо-Западный филиал ОАО АКБ «РОСБАНК»
                                        br
                                        | БИК 044030778
                        +maps(' Санкт-Петербург')
                        +maps(' Самара')
                        +maps(' Нижний новгород')
                        +maps(' Краснодар')
                        +maps(' Ростов-на-Дону')
                        +maps(' Череповец')
                        +maps(' Петрозаводск')
                        +maps(' Архангельск')
                        +maps(' Казань')
                        +maps(' Воронеж')
                        +maps(' Вся Россия')
