main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            h1 Кабель и изоляционная арматура
            .row
                include ../components/_filter
                section.cell.cell__lg-9.cell__xs-12
                    .tabs.fg-goods
                        include ../components/_sort
                        +tags('Акционный товар', 'Сделано в России', 'Бренд Helukabel', 'Серия: Е 427, Г 847', 'Акционный товар', 'Сделано в России', 'Бренд Helukabel', 'Серия: Е 427, Г 847')
                        .tabs__content.active.hidden__sm.hidden__xs
                            .cards
                                include ../cards/_badge-new--f
                                include ../cards/_badge-share--f
                                include ../cards/_badge-sale--f
                                include ../cards/_badge-newnone--f
                                include ../cards/_badge-salenone--f
                                include ../cards/_badge-sharenone--f
                        .tabs__content.hidden__sm.hidden__xs
                            .cards
                                .row
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-new--s
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-share--s
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-sale--s
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-newnone--s
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-salenone--s
                                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                        include ../cards/_badge-sharenone--s
                        .tabs__content.hidden__sm.hidden__xs
                            .cards
                                include ../cards/_badge-new--t
                                include ../cards/_badge-share--t
                                include ../cards/_badge-sale--t
                                include ../cards/_badge-newnone--t
                                include ../cards/_badge-salenone--t
                                include ../cards/_badge-sharenone--t
                        .tabs__content.visible__sm.visible__xs
                            .cards
                                - for (var x = 1; x < 7; x++)
                                    include ../cards/_card-mobile
    include ../blocks/_index-brands

