main.page-main
    .container
        include ../components/_breadcrumbs
        h1 Каталог товаров
        .index-catalog
            - for (var x = 1; x < 6; x++)
                .index-catalog__item
                    .index-catalog__item--img
                        img(src="images/cat-#{x}.jpg")
                    h3: a.btn--link(href="#"): span Кабель-каналы
            - for (var x = 1; x < 6; x++)
                .index-catalog__item
                    .index-catalog__item--img
                        img(src="images/cat-#{x}.jpg")
                    h3: a.btn--link(href="#"): span Кабель и изоляционная арматура
        .index-shares
            .text--center
                h1 Акции
            .row
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-1.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Неделя с DKC
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-2.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Подарочная карта  на 4000 руб. на покупку бытовой техники
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-shares__item
                        .index-shares__item--img
                            img(src="images/index-shares-3.jpg", alt="")
                        .index-shares__item--inner
                            .index-shares__item--title
                                h2 Вместе с TDM
                            .index-shares__item--desc
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                            .text--center.margtop20
                                a.btn.btn--transparent(href='#') Узнать больше
            .text--right.margtop30
                a.btn--link(href="#")
                    span Все акции
                    i.icon-right-dir
        include ../blocks/_index-sevices
    include ../blocks/_index-brands