main.page-main.lk
    .container
        include ../components/_breadcrumbs
        h1 Корзина
        .lk-draft
            .lk-draft--inner
                .lk-draft__item: b.text--warning Добавить новый товар
            .lk-draft--inner
                .lk-draft__item.cell__xlg-3.cell__md-5.cell__xs-12
                    +fieldInput('text', 'code12', 'code12', 'Наименование/артикул товара', false)
                .lk-draft__item.cell__xlg-2.cell__md-3.cell__xs-12
                    +fieldInput('text', 'code13', 'code13', 'Кол-во товара', false)
                .lk-draft__item.cell__xlg-2.cell__md-4.text--nowrap.cell__xs-12
                    a.btn.btn--transparent.btn__lg.btn--full.btn__icon--left(href='#')
                        i.icon.icon--flash-lk
                        |  Добавить товар
                .lk-draft__item.cell__xlg-5.cell__xs-12.text__xlg--right
                    a.btn--link(href='#')
                        i.icon.icon-31x20-lk.icon--lk-heaven
                        span Загрузить из файла
        h2 Товары в Корзине
        h2.text--info Всего добавлено #[b.text--warning 4] товара на сумму #[b.text--warning 965 554,36 Р]
        .tabs
            .fg-sort
                .pull-left.cell__md-4.cell__xs-12.text--left
                    fieldset
                        select.select-hard.form-control.edited
                            option(default)
                            option Dropdown
                            option(selected) Сортировать по цене
                            option Dropdown Selected
                            option Dropdown Disabled
                        label.label-hard Сортировать
                .pull-right.cell__md-6.cell__xs-12.hidden__xs.hidden__sm
                    ul.list--inline-pure.text--left.text__md--right
                        li
                            b: a.btn--link.text--primary(href="#")
                                i.icon.icon-31x20-lk.icon--lk-prints
                                span Распечатать
                        li
                            .btn__group.tabs__caption
                                button.btn.btn--default.btn__icon--center.btn__sm.active
                                    i.icon.icon-30.icon--tabs1
                                button.btn.btn--default.btn__icon--center.btn__sm
                                    i.icon.icon-30.icon--tabs3
            .tabs__content.active
                table.margbot0.table.table--light.table--mid.text__md--center.text--left.hidden__sm.hidden__xs
                    thead
                        tr
                            th: +fieldCheckbox('', 'itemr1', false)
                            th Описание товара
                            th Количество в корзине
                            th.hidden__md Наличие товара
                            th Вес / Объем
                            th Цена
                            th Сумма
                            th
                    tbody
                        tr
                            td: +fieldCheckbox('', 'itemr2', false)
                            td.text--left
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                    li.hidden__md: a.text--brand(data-toggle="tooltip", data-placement="bottom", title="Помятая упаковка"):  i.icon.icon-31x20-lk.icon--lk-attentb
                                span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                ul.list--inline-pure.relative
                                    li.text--brand TELE-FONIKA
                                    li.hidden__xlg.hidden__lg
                                        a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            i.icon.icon-23.icon--locadd
                                            span 500
                                        include ../cards/_dropdown
                                .visible__md.text--brand #[i.icon.icon-31x20-lk.icon--lk-attentb.margleft0]  Помятая упаковка
                            td.text--center
                                .value-input.center-block(style="width: 98px;")
                                    input.form-control( type="number", value="10")
                            td.hidden__md.text--nowrap
                                .relative
                                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        i.icon.icon-23.icon--locadd
                                        span На складе: 1 500
                                    include ../cards/_dropdown
                            td 0,3/1,2
                            td: b.text__lg.text--warning 291&nbsp;P
                            td.text--nowrap
                                b.text--warning.text__lg 2 910 P
                                .text__xs.pineapple + 10 бонусов
                            td
                                a.table--icons(href="#"): i.icon.icon-cards.icon--cards-1
                                a.table--icons(href="#"): i.icon.icon-cards.icon--cards-2
                                a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg
                        - for (var x = 1; x < 7; x++)
                            tr
                                td: +fieldCheckbox('', 'itemr3', false)
                                td.text--left
                                    ul.list--inline-pure.text--nowrap
                                        li Арт. 3849943
                                        li.text__xs.text--info Код FRM123451
                                    span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                    ul.list--inline-pure.relative
                                        li.text--brand TELE-FONIKA
                                        li.hidden__xlg.hidden__lg
                                            a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                i.icon.icon-23.icon--locadd
                                                span 500
                                            include ../cards/_dropdown
                                td.text--center
                                    .value-input.center-block(style="width: 98px;")
                                        input.form-control( type="number", value="10")
                                td.hidden__md.text--nowrap
                                    .relative
                                        a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            i.icon.icon-23.icon--locadd
                                            span На складе: 1 500
                                        include ../cards/_dropdown
                                td 0,3/1,2
                                td: b.text__lg.text--warning 291&nbsp;P
                                td.text--nowrap
                                    b.text--warning.text__lg 2 910 P
                                    .text__xs.pineapple + 10 бонусов
                                td
                                    a.table--icons(href="#"): i.icon.icon-cards.icon--cards-1
                                    a.table--icons(href="#"): i.icon.icon-cards.icon--cards-2
                                    a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg
                    tfoot
                        tr.text--right
                            td(colspan="8")
                                h2.margtop0.text--info Всего добавлено #[b.text--warning 4] товара на сумму #[b.text--warning 965 554,36 Р]
                                ul.list--inline-pure
                                    li: p: b Итого (вес/объем):  1,8/7,2
                                    li: p: b.warning  + 60 бонусов
                table.margbot0.table.table--mid.table--light.hidden__lg.hidden__xlg.hidden__md.imageLink
                    thead
                        tr
                            th: +fieldCheckbox('', 'itemc1', false)
                            th(colspan="3")
                    tbody
                        tr
                            td
                                .margbot10: a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                                +fieldCheckbox('', 'itemc2', false)
                            td.text--left
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                ul.list--inline-pure.relative
                                    li.text--brand TELE-FONIKA
                                    li.hidden__xlg.hidden__lg
                                        a.text--success.counter.text__xs(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            i.icon.icon-23.icon--locadd.margleft0.margright0
                                            span На складе: 1 500
                                        include ../cards/_dropdown
                                .text--brand.text__xxs #[i.icon.icon-31x20-lk.icon--lk-attentb.margleft0.margright0]  Помятая упаковка
                            td.text--center
                                .value-input.center-block(style="width: 62px;")
                                    input.form-control( type="number", value="10")
                                b.text--warning.text__lg 2 910 P
                                .text__xxs.pineapple + 10 бонусов
                            td
                                a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg.margleft0.margright0
                        - for (var x = 1; x < 7; x++)
                            tr
                                td
                                    .margbot10: a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                                    +fieldCheckbox('', 'itemc2', false)
                                td.text--left
                                    ul.list--inline-pure.text--nowrap
                                        li Арт. 3849943
                                    span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                    ul.list--inline-pure.relative
                                        li.text--brand TELE-FONIKA
                                        li.hidden__xlg.hidden__lg
                                            a.text--success.counter.text__xs(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                i.icon.icon-23.icon--locadd.margleft0.margright0
                                                span На складе: 1 500
                                            include ../cards/_dropdown
                                td.text--center
                                    .value-input.center-block(style="width: 62px;")
                                        input.form-control( type="number", value="10")
                                    b.text--warning.text__lg 2 910 P
                                td
                                    a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg.margleft0.margright0
                    tfoot
                        tr
                            td(colspan="4")
                                h2.margtop0.text--info Всего добавлено #[b.text--warning 4] товара на сумму #[b.text--warning 965 554,36 Р]
                .lk-form__item.lk-form__item--footer
                    .order-details
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-busket
                                p: span Удалить выбранное
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-cloneok
                                p: span Вывести выбранные позиции #[i в новый  черновик]
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-drawadd
                                p: span Добавить в имеющийся #[i черновик]
                        .order-details__item.text--nowrap
                            a.btn.btn--transparent(href="#") Пересчитать стоимость
            .tabs__content
                table.table.table--light.table--mid.text__md--center.text--left.hidden__sm.hidden__xs
                    thead
                        tr
                            th: +fieldCheckbox('', 'itemr1', false)
                            th
                            th Описание товара
                            th Количество в корзине
                            th.hidden__md Наличие товара
                            th Вес / Объем
                            th Цена
                            th Сумма
                            th
                    tbody
                        tr
                            td: +fieldCheckbox('', 'itemr2', false)
                            td: img(src="images/cart-img.jpg", alt="")
                            td.text--left
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                    li.hidden__md: a.text--brand(data-toggle="tooltip", data-placement="bottom", title="Помятая упаковка"):  i.icon.icon-31x20-lk.icon--lk-attentb
                                span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                ul.list--inline-pure.relative
                                    li.text--brand TELE-FONIKA
                                    li.hidden__xlg.hidden__lg
                                        a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            i.icon.icon-23.icon--locadd
                                            span 500
                                        include ../cards/_dropdown
                                .visible__md.text--brand #[i.icon.icon-31x20-lk.icon--lk-attentb.margleft0]  Помятая упаковка
                            td.text--center
                                .value-input.center-block(style="width: 98px;")
                                    input.form-control( type="number", value="10")
                            td.hidden__md.text--nowrap
                                .relative
                                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        i.icon.icon-23.icon--locadd
                                        span На складе: 1 500
                                    include ../cards/_dropdown
                            td 0,3/1,2
                            td: b.text__lg.text--warning 291&nbsp;P
                            td.text--nowrap
                                b.text--warning.text__lg 2 910 P
                                .text__xs.pineapple + 10 бонусов
                            td
                                a.table--icons(href="#"): i.icon.icon-cards.icon--cards-1
                                a.table--icons(href="#"): i.icon.icon-cards.icon--cards-2
                                a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg
                        - for (var x = 1; x < 9; x++)
                            tr
                                td: +fieldCheckbox('', 'itemr3', false)
                                td: img(src="images/cart-img.jpg", alt="")
                                td.text--left
                                    ul.list--inline-pure.text--nowrap
                                        li Арт. 3849943
                                        li.text__xs.text--info Код FRM123451
                                    span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                                    ul.list--inline-pure.relative
                                        li.text--brand TELE-FONIKA
                                        li.hidden__xlg.hidden__lg
                                            a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                i.icon.icon-23.icon--locadd
                                                span 500
                                            include ../cards/_dropdown
                                td.text--center
                                    .value-input.center-block(style="width: 98px;")
                                        input.form-control( type="number", value="10")
                                td.hidden__md.text--nowrap
                                    .relative
                                        a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            i.icon.icon-23.icon--locadd
                                            span На складе: 1 500
                                        include ../cards/_dropdown
                                td 0,3/1,2
                                td: b.text__lg.text--warning 291&nbsp;P
                                td.text--nowrap
                                    b.text--warning.text__lg 2 910 P
                                    .text__xs.pineapple + 10 бонусов
                                td
                                    a.table--icons(href="#"): i.icon.icon-cards.icon--cards-1
                                    a.table--icons(href="#"): i.icon.icon-cards.icon--cards-2
                                    a.table--icons.close--js(href="#"): i.icon.icon-31x20-lk.icon--lk-busketg
                    tfoot
                        tr.text--right
                            td(colspan="8")
                                h2.margtop0.text--info Всего добавлено #[b.text--warning 4] товара на сумму #[b.text--warning 965 554,36 Р]
                                ul.list--inline-pure
                                    li: p: b Итого (вес/объем):  1,8/7,2
                                    li: p: b.warning  + 60 бонусов
                .lk-form__item.lk-form__item--footer
                    .order-details
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-busket
                                p: span Удалить выбранное
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-cloneok
                                p: span Вывести выбранные позиции #[i в новый  черновик]
                        .order-details__item
                            a.btn--link.text__sm(href="#")
                                i.icon.icon-31x20-lk.icon--lk-drawadd
                                p: span Добавить в имеющийся #[i черновик]
                        .order-details__item.text--nowrap
                            a.btn.btn--transparent(href="#") Пересчитать стоимость

            .text--center.margtop30.margbot30
                a.btn.btn--primary.btn__lg(href="#") Оформить заказ
