main.page-main.lk
    .container
        section.lk-reg.cell__lg-10.center-block
            .text--center
                h1.margtop30 Регистрация
            .tabs.fg-tabs.margbot40
               ul.tabs__caption.fg-tabs__caption
                   li.active
                       i.icon.icon-31x20-lk.icon--lk-cardg
                       span.hidden__sm.hidden__xs  Для юридических лиц
                       span.hidden__md.hidden__lg.hidden__xlg  Для юр лиц
                   li
                       i.icon.icon-31x20-lk.icon--lk-usercopyg
                       span.hidden__sm.hidden__xs  Для физических лиц
                       span.hidden__md.hidden__lg.hidden__xlg Для физ лиц
               .tabs__content.fg-tabs__content.active
                   .row
                       .cell.cell__xlg-5.cell__md-6.cell__xs-12
                           .text--center
                                h3.margtop0.margbot40 Заполните поля для регистрации:
                           form
                               .form__group
                                   +fieldInput('text', 'name', 'namex', 'Представитель компании', false)
                               .form__group
                                   +fieldInput('mail', 'mail', 'mailx', 'E-mail *', true)
                               .form__group
                                   +fieldInput('text', 'phone', 'phonex', 'Личный телефон *', true)
                               .form__group
                                   +fieldInput('text', 'phone', 'faxx', 'Рабочий телефон/факс *', true)
                               .form__group
                                   +fieldInput('text', 'company', 'company', 'Название организации *', true)
                               .form__group
                                   +fieldInput('text', 'date', 'date', 'Дата рождения', false)
                               .form__group
                                   img(src="images/captcha-img.jpg", alt="")
                               ul.list--inline-pure.text--center.margtop30
                                   li: a.btn.btn--primary(href='#') Зарегистрироваться
                                   li: b: a.link-grey(href='#') Отмена
                       .cell.cell__xlg-5.cell__md-6.cell__xs-12.pull-right
                           .text--center.margtop30
                                i.icon.icon--reg-lk
                                h4.margbot40 Преимущества и возможности после
                                    br
                                    | регистрации Личного кабинета:
                           ul.list--okey
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               .tabs__content.fg-tabs__content
                   .row
                       .cell.cell__xlg-5.cell__md-6.cell__xs-12
                           .text--center
                               h4.margtop0 Воспользуйтесь входом через
                                    br
                                    |  социальные сети:
                               ul.list--inline-pure.soc.margtop30.margbot30
                                   li: a(href="#"): img(src="images/vk.png", alt="")
                                   li: a(href="#"): img(src="images/fa.png", alt="")
                                   li: a(href="#"): img(src="images/go.png", alt="")
                               span.or.text__xs.text--warning или
                               h3.margbot40 Заполните поля для регистрации:
                           form
                               .form__group
                                   +fieldInput('text', 'name', 'namex1', 'Контактное лицо *', true)
                               .form__group
                                   +fieldInput('mail', 'mail', 'mailx1', 'E-mail *', true)
                               .form__group
                                   +fieldInput('text', 'phone', 'phonex1', 'Ваш телефон *', true)
                               .form__group
                                   img(src="images/captcha-img.jpg", alt="")
                               ul.list--inline-pure.text--center.margtop30
                                   li: a.btn.btn--primary(href='#') Зарегистрироваться
                                   li: b: a.link-grey(href='#') Отмена
                       .cell.cell__xlg-5.cell__md-6.cell__xs-12.pull-right
                           .text--center.margtop30
                                i.icon.icon--reg-lk
                                h4.margbot40 Преимущества и возможности после
                                    br
                                    | регистрации Личного кабинета:
                           ul.list--okey
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.