main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-form
                    .lk-form__item.lk-form__item--header
                        .row
                            .cell.cell__md-4.cell__xs-12
                                ul.list--inline
                                    li.v-top
                                        p: b.text--warning.text__lg Добавление объекта
                            .cell.cell__md-8.cell__xs-12
                                .cell__xlg-8.cell__md-10.addobject--js
                                    .form__group
                                        +fieldInput('text', 'name', 'name', 'Название объекта *', true)
                                    +fieldCheckbox('Добавить адрес объекта для доставки', 'addobject', false)
                    #show-me.lk-form__item(style="display:none")
                        .row
                            .cell.cell__md-4.cell__xs-12
                                ul.list--inline
                                    li.v-top
                                        p.text__xs
                                            sup *
                                            |  - обязательные поля для
                                            br
                                            | заполнения
                            .cell.cell__md-8.cell__xs-12
                                .cell__xlg-8.cell__md-10
                                    .form__group
                                        +fieldInput('text', 'namemain', 'namemain', 'Контактное лицо *', true)
                                    .form__group
                                        +fieldInput('text', 'mobile', 'mobile', 'Мобильный телефон *', true)
                                    .form__group
                                        +fieldInput('text', 'phone', 'fax', 'Телефон / факс *', true)
                                    .form__group
                                        +fieldInput('text', 'city', 'city', 'Город *', true)
                                    .form__group
                                        +fieldInput('text', 'adrmain', 'adrmain', 'Фактический адрес доставки *', true)
                                    .form__group
                                        +fieldTextarea('text', 'text', '', 'Комментарий', 4, false)
                        img(src="images/map.jpg", alt="")
                    .text--center.margtop30
                        a.btn.btn--transparent.popup-modal(href="#addobj") Добавить объект
