main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-present
                                |  Ваши бонусы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-gift
                        |  Ваши бонусы
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  История бонусов
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  Условия бонусной программы
                .lk-bonus
                    .lk-bonus__item
                        .row
                            .cell.cell__xlg-5.cell__md-4.cell__xs-12
                                .lk-present
                                    h1.text__lg Ваши баллы:
                                        span.text--primary  700
                                            i.icon.icon-31x20-lk.icon--lk-pres.v-baseline
                            .cell.cell__xlg-6.cell__md-8.cell__xs-12.pull-right
                                b.text__lg Легкий путь к подаркам от Форум Электро:
                                ul.list--bullet
                                    li Участвуйте в акциях на нашем сайте
                                    li Получайте баллы на свой счет за активное участие
                                    li Выбирайте подарки за баллы от наших партнеров!
        section.lk-bonus-present
            h2 Выбрать подарок за баллы:
            .row
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .lk-bonus-present__item
                        .lk-bonus-present--img
                            img(src="images/bonus-1.jpg", alt="")
                        .lk-bonus-present--inner
                            .lk-bonus-present--price
                                .text--primary.price 1200
                                .text--info баллов
                                .error Не хватает 500 баллов
                            .lk-bonus-present--btn
                                button.btn.btn--transparent.text--nowrap(disabled) Потратить баллы
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .lk-bonus-present__item
                        .lk-bonus-present--img
                            img(src="images/bonus-2.jpg", alt="")
                        .lk-bonus-present--inner
                            .lk-bonus-present--price
                                .text--primary.price 200
                                .text--info баллов
                            .lk-bonus-present--btn
                                a.btn.btn--transparent.text--nowrap(href="#") Потратить баллы
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .lk-bonus-present__item
                        .lk-bonus-present--img
                            img(src="images/bonus-3.jpg", alt="")
                        .lk-bonus-present--inner
                            .lk-bonus-present--price
                            .lk-bonus-present--btn
                                a.btn.btn--transparent.text--nowrap(href="#") Потратить баллы
        section
            h2 Участие в акциях
            .lk-shares
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-1.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Вместе с TDM
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="100", data-sum="10000")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Подробнее
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-2.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Неделя с DKC
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="60", data-sum="88888")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Подробнее
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-3.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Подарочная карта  на 4000 руб.
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="30", data-sum="10000")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Подробнее