main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-form
                    .lk-form__item
                        .row
                            .cell.cell__md-4.cell__xs-12
                                ul.list--inline
                                    li.v-top: b.text--primary.text__lg 1.
                                    li.v-top.cell__xs-10
                                        p: b.text--warning.text__lg Персональные данные
                                        p.text__xs
                                            sup *
                                            |  - обязательные поля для
                                            br
                                            | заполнения
                            .cell.cell__md-8.cell__xs-12
                                .cell__xlg-8.cell__md-7.cell__xs-12
                                    .form__group
                                        +fieldInput('text', 'name', 'name', 'Представитель компании', false)
                                    .form__group
                                        +fieldInput('mail', 'mail', 'mail', 'Электронная почта *', true)
                                    .form__group
                                        +fieldInput('text', 'phone', 'phone', 'Личный телефон *', true)
                                    .form__group
                                        +fieldInput('text', 'phone', 'fax', 'Рабочий телефон/факс *', true)
                                    .form__group
                                        +fieldInput('text', 'org', 'org', 'Название организации *', true)
                                    .form__group
                                        +fieldInput('text', 'date', 'date', 'Дата рождения', false)
                                    .form__group
                                        +fieldInput('text', 'login', 'login', 'Логин', false)
                                .pull-left.cell__xlg-8.cell__md-7.cell__xs-12
                                    +fieldInput('password', 'pass', 'pass', 'Пароль', false)
                                .pull-left.cell__xlg-4.cell__md-5.cell__xs-12
                                    a.margtop10.btn--link.text__xs.text--nowrap(href="#")
                                        i.icon.icon--generate
                                        span Сгенерировать пароль
                    .text--center.margtop30
                        a.btn.btn--transparent.popup-modal(href="#addlist") Добавить сотрудника
                    h2 Подписка на новости
                    .fg-accordion__section
                        a.fg-accordion__section_title.accordion-title(href="#")
                            b.text__lg.text--primary Бренды
                        .fg-accordion__section_content.accordion-content
                            .row
                                .cell.cell__md-4.cell__xs-12
                                    +fieldCheckbox('Helukabel', 'item1', false)
                                    +fieldCheckbox('Lapp kabel', 'item2', true)
                                    +fieldCheckbox('Lapbel', 'item3', false)
                                    +fieldCheckbox('ITK', 'item4', false)
                                    +fieldCheckbox('NFK', 'item5', false)
                                    +fieldCheckbox('Prysmian', 'item6', false)
                                .cell.cell__md-4.cell__xs-12
                                    +fieldCheckbox('Helukabel', 'item7', false)
                                    +fieldCheckbox('Lapp kabel', 'item8', true)
                                    +fieldCheckbox('Lapbel', 'item9', false)
                                    +fieldCheckbox('ITK', 'item10', false)
                                    +fieldCheckbox('NFK', 'item11', false)
                                    +fieldCheckbox('Prysmian', 'item12', false)
                                .cell.cell__md-4.cell__xs-12
                                    +fieldCheckbox('Helukabel', 'item13', false)
                                    +fieldCheckbox('Lapp kabel', 'item14', true)
                                    +fieldCheckbox('Lapbel', 'item15', false)
                                    +fieldCheckbox('ITK', 'item16', false)
                                    +fieldCheckbox('NFK', 'item17', false)
                                    +fieldCheckbox('Prysmian', 'item18', false)
                            .hide--all(style="display:none")
                                .row
                                    .cell.cell__md-4.cell__xs-12
                                        +fieldCheckbox('Helukabel', 'item19', false)
                                        +fieldCheckbox('Lapp kabel', 'item20', true)
                                        +fieldCheckbox('Lapbel', 'item21', false)
                                        +fieldCheckbox('ITK', 'item22', false)
                                        +fieldCheckbox('NFK', 'item23', false)
                                        +fieldCheckbox('Prysmian', 'item24', false)
                            a.btn--link.show--all.padtop20(href="#")
                                span Еще
                                    i.icon-angle-down
                    .fg-accordion__section
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Категории
                            .fg-accordion__section_content.accordion-content
                                .row
                                    .cell.cell__md-4.cell__xs-12
                                        +fieldCheckbox('Металические лотки. Кабельные эстакады', 'items1', false)
                                        +fieldCheckbox('Кабель- каналы', 'items2', true)
                                        +fieldCheckbox('Трубы и аксессуары', 'items3', false)
                                        +fieldCheckbox('Колонны и лючки', 'items4', false)
                                        +fieldCheckbox('Розетки и выключатели', 'items5', false)
                                    .cell.cell__md-4.cell__xs-12
                                        +fieldCheckbox('Металические лотки. Кабельные эстакады', 'items5', false)
                                        +fieldCheckbox('Кабель- каналы', 'items6', false)
                                        +fieldCheckbox('Трубы и аксессуары', 'items7', false)
                                        +fieldCheckbox('Колонны и лючки', 'items8', false)
                                        +fieldCheckbox('Розетки и выключатели', 'items9', false)
                                    .cell.cell__md-4.cell__xs-12
                                        +fieldCheckbox('Металические лотки. Кабельные эстакады', 'items10', false)
                                        +fieldCheckbox('Кабель- каналы', 'items11', false)
                                        +fieldCheckbox('Трубы и аксессуары', 'items12', false)
                                        +fieldCheckbox('Колонны и лючки', 'items13', false)
                                        +fieldCheckbox('Розетки и выключатели', 'items14', false)
                                .hide--all(style="display:none")
                                    .row
                                        .cell.cell__md-4.cell__xs-12
                                            +fieldCheckbox('Металические лотки. Кабельные эстакады', 'items15', false)
                                            +fieldCheckbox('Кабель- каналы', 'items16', false)
                                            +fieldCheckbox('Трубы и аксессуары', 'items17', false)
                                            +fieldCheckbox('Колонны и лючки', 'items18', false)
                                            +fieldCheckbox('Розетки и выключатели', 'items19', false)
                                a.btn--link.show--all.padtop20(href="#")
                                    span Еще
                                        i.icon-angle-down
                    .fg-accordion__section
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Новостная лента
                            .fg-accordion__section_content.accordion-content
                                .row
                                    .cell.cell__lg-4
                                        +fieldCheckbox('Новости компании', 'ite1', false)
                                        +fieldCheckbox('Новые поступления', 'ite2', true)
                                        +fieldCheckbox('Информация об акциях', 'ite3', false)
                                        +fieldCheckbox('Информациях о новых услугах', 'ite4', false)
                                        +fieldCheckbox('Новые проекты', 'ite5', false)
                                    .cell.cell__lg-4
                                        +fieldCheckbox('Новости компании', 'ite6', false)
                                        +fieldCheckbox('Новые поступления', 'ite7', false)
                                        +fieldCheckbox('Информация об акциях', 'ite8', false)
                                        +fieldCheckbox('Информациях о новых услугах', 'ite9', false)
                                        +fieldCheckbox('Новые проекты', 'ite10', false)
                                    .cell.cell__lg-4
                                        +fieldCheckbox('Новости компании', 'ite11', false)
                                        +fieldCheckbox('Новые поступления', 'ite12', false)
                                        +fieldCheckbox('Информация об акциях', 'ite13', false)
                                        +fieldCheckbox('Информациях о новых услугах', 'ite14', false)
                                        +fieldCheckbox('Новые проекты', 'ite15', false)
                                .hide--all(style="display:none")
                                    .row
                                        .cell.cell__lg-4
                                            +fieldCheckbox('Новости компании', 'ite16', false)
                                            +fieldCheckbox('Новые поступления', 'ite17', false)
                                            +fieldCheckbox('Информация об акциях', 'ite18', false)
                                            +fieldCheckbox('Информациях о новых услугах', 'ite19', false)
                                            +fieldCheckbox('Новые проекты', 'ite20', false)
                                a.btn--link.show--all.padtop20(href="#")
                                    span Еще
                                        i.icon-angle-down
                    .text--center.margtop30
                        a.btn.btn--transparent(href="#") Сохранить изменения