main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Заказы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                h1 Добавление товаров
                .lk-draft
                    .lk-draft--inner.lk-draft--inner-add
                        .lk-draft__item.lk-draft__item--t.cell__xlg-5.cell__md-5.cell__xs-12
                            p: b Добавить товары по:
                            +fieldRadio('По артикулам производителей', 'orderr1', 'order', false)
                            +fieldRadio('По кодам Форум Электро', 'orderr2', 'order', true)
                            .text--right.margbot10
                                a.show--js(href="#"): i.icon.icon-31x20-lk.icon--lk-attento
                                .notice.text--center(style="display:none")
                                    p: b Как добавить товары из файла:
                                    p.text__xs Вставьте данные в форму слева, используя формат на выбор:
                                    p.text__xs #[span.text--warning 2CDS251001R0064 #[span.error [ TAB ]] 20 ] - через Tab
                                        br
                                        | #[span.text--warning 9192012 #[span.error [ , ]] 20 ] - через запятую
                            .form__group
                                +fieldTextarea('code', 'code', '', 'Например:  9192012 [TAB] 1 или  9192012,1', '7', false)
                            .text--center
                                a.btn.btn--transparent(href='#') Добавить товары
                        .lk-draft__item.lk-draft__item--m.cell__xlg-2.cell__md-2.hidden__sm.hidden__xs
                            span ИЛИ
                        .lk-draft__item.cell__xlg-5.cell__md-5.cell__xs-12
                            p: b Загрузить XLS файл
                            p Воспользуйтесь специальным сервисом, куда можете загрузить список необходимых позиций в файле XLS. Для удобства вы можете скачать файл шаблона , куда внесете нужные позиции с необходимым количеством.
                            a.btn--link(href='#')
                                i.icon.icon-31x20-lk.icon--lk-heaven
                                span Скачать шаблон
                            .text--right.margbot10
                                a.show--js(href="#"): i.icon.icon-31x20-lk.icon--lk-attento
                                .notice.text--center.margbot20(style="display:none")
                                    p: b Как добавить товары из файла:
                                    p.text__xs Скопируйте из Вашего Excel файла колонки #[b «Код ТН» и «Количество»]
                                    img(src="../images/file.jpg", alt="")
                            .form__group
                                .dropbox
                                    input.input__file-js(type="file", multiple)
                                    .dropbox__inner
                                        img(src="../images/dropbox-img.png", alt="")
                                        p.input__text-js
                                            span.text--warning Загрузить файл
                                            br
                                            span.text__xs Перетащите сюда файл, чтобы прикрепить его к отклику
                            .text--center
                                a.btn.btn--transparent(href='#') Добавить товары
        .margbot40
            p.text__lg Добавлено #[b 4] товара, из них не найдено - #[b 1]
            .table--responsive.hidden__xs.hidden__sm
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs
                    thead
                        tr
                            th: +fieldCheckbox('', 'table1', false)
                            th №
                            th.hidden__xlg
                            th Бренд
                            th Код товара
                            th Артикул
                            th Наименование товара
                            th Кол-во #[br] на&nbsp;складе
                            th Кол-во в #[br] заказе
                            th Аналог
                            th Цена #[br] с НДС
                            th Сумма #[br] с НДС
                            th Вес/ Объем
                    tbody
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table11', false)
                            td(data-th="№") 1
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Бренд")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td.text--nowrap(data-th="Кол-во на складе")
                                span 120
                                    i.icon.icon-23.icon--locadd
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="10 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table12', false)
                            td(data-th="№") 2
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Бренд")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td.text--nowrap(data-th="Кол-во на складе")
                                span 0
                                    i.icon.icon-23.icon--locadd
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="5 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table13', false)
                            td(data-th="№") 3
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Бренд")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td.text--nowrap(data-th="Кол-во на складе")
                                span.error Под заказ
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="300 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr.danger
                            td(data-th="")
                            td(data-th="№") 4
                            td.imageLink.hidden__xlg(data-th="") -
                            td(data-th="Бренд")  -
                            td(data-th="Код товара")
                                span.error FRM-3451
                            td(data-th="Артикул") -
                            td.text--left.text--normal(data-th="Наименование товара") -
                            td.text--nowrap(data-th="Кол-во на складе")
                                span.error Не найдено
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="36 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.disabled(href="#"): span  Подобрать
                            td(data-th="Цена с НДС") -
                            td(data-th="Сумма с НДС") -
                            td(data-th="Аналог") -
                    tfoot
                        tr.text--right
                            td(colspan="12")
                                ul.list--inline-pure
                                    li: b Итого: 965 554,36
                                    li: b Вес/ Объем: 0,12/4,8
            .lk-order-mobile.visible__xs.visible__sm
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p: +fieldCheckbox('', 'tablem1', false)
                            p №
                            p 1
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p: +fieldCheckbox('', 'tablem2', false)
                            p №
                            p 2
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
            .lk-form__item.lk-form__item--footer
                .order-details
                    .order-details__item.order-details__item-t
                        a.btn--link.text__sm.popup-modal(href="#delitem")
                            i.icon.icon-31x20-lk.icon--lk-busket
                            p: span Удалить выбранное
                    .order-details__item.order-details__item-t
                        a.btn--link.text__sm.popup-modal(href="#additem")
                            i.icon.icon-31x20-lk.icon--lk-cloneok
                            p: span Вывести выбранные позиции #[i в отдельный черновик]
                    .order-details__item.order-details__item-t
                        a.btn--link.text__sm(href="#")
                            i.icon.icon-31x20-lk.icon--lk-clone
                            p: span Создать новый черновик для #[i позиций Под заказ]
                    .order-details__item.text--nowrap.text
                        a.btn.btn--primary(href="#") Добавить в черновик № FRM2345
