main.page-main.lk
    .container
        include ../components/_breadcrumbs
        section
            h1= title
            .lk-order
                .lk-order__list
                    .lk-order__item.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Подтверждение
                                br
                                |  списка товаров
                    .lk-order__item.done.text--center
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Способ
                                br
                                |  доставки
                    .lk-order__item.text--center.active
                        .inner
                            .num 3
                            .txt Способ
                                br
                                |  оплаты
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num 4
                            .txt Контактная
                                br
                                |  информация
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num: i.icon.icon--lk-checked
                            .txt Заказ
                                br
                                |  оформлен!
                    .before
                    .after
                .row.radiotab
                    .cell.cell__lg-3.cell__xs-12.pull-right
                        .board.lk-order--info
                            .lk-order--info__item
                                p.text--warning.title: b Сумма заказа:
                                p.sum
                                    i.icon.icon-31x20-lk.icon--lk-math
                                    b.text--brand 758 459 P
                            .lk-order--info__item
                                p.text--warning.title: b Самовывоз:
                                p.sum
                                    i.icon.icon-31x20-lk.icon--lk-autog
                                    b.text--brand Бесплатно
                                p.day.text--info
                                    i.icon.icon-31x20-lk.icon--lk-calen
                                    span Сегодня
                            .lk-order--info__item
                                p.text--warning.title: b Итого к оплате:
                                p.sum
                                    b.error 758 459 P
                    .cell.cell__lg-9.cell__xs-12
                        .lk-form.radiotab
                            .lk-form__item.lk-form__item--header.radiotab--js
                                .row
                                    .cell.cell__md-4.cell__xs-12
                                        b.text--warning.text__lg Выберите способ оплаты
                                    .cell.cell__md-8.cell__xs-12
                                        +fieldRadio('Оплата по договору', 'pay1', 'pay', false)
                                        +fieldRadio('Предоплата', 'ullist', 'pay', false)
                            .lk-form__item.lk-form__item--body.delivery-block.delivery-block--trs-1
                                .row
                                    .cell.cell__md-4
                                    .cell.cell__md-8.cell__xs-12
                                        .notice.cell__xlg-8.cell__md-11
                                            p.text--warning
                                                i.icon.icon--per-lk
                                                |  Размер предоплаты:
                                            .row
                                                .cell.cell__md-3.cell__xs-12
                                                    .form__group
                                                        input.form-control(type='text', value="100 %")
                                                .cell.cell__md-9.cell__xs-12
                                                    +fieldRadio('Безналичный платеж', 'pay01', 'pay01', false)
                                                    +fieldRadio('Оплата наличными в офисе организации (не более 100 тыс. руб)', 'pay02', 'pay01', true)
                        .text--center.margtop30.margbot30
                            ul.list--inline-pure
                                li: a.btn.btn--default(href="#") Назад
                                li: a.btn.btn--primary.text--uppercase(href="#") Далее