main.page-main.lk
    .container
        include ../components/_breadcrumbs
        section
            h1= title
            .lk-order
                .lk-order__list
                    .lk-order__item.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Подтверждение
                                br
                                |  списка товаров
                    .lk-order__item.done.text--center
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Способ
                                br
                                |  доставки
                    .lk-order__item.text--center.active
                        .inner
                            .num 3
                            .txt Способ
                                br
                                |  оплаты
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num 4
                            .txt Контактная
                                br
                                |  информация
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num: i.icon.icon--lk-checked
                            .txt Заказ
                                br
                                |  оформлен!
                    .before
                    .after
                .row.radiotab
                    .cell.cell__lg-3.cell__xs-12.pull-right
                        .board.lk-order--info
                            .lk-order--info__item
                                p.text--warning.title: b Сумма заказа:
                                p.sum
                                    i.icon.icon-31x20-lk.icon--lk-math
                                    b.text--brand 758 459 P
                            .lk-order--info__item
                                p.text--warning.title: b Самовывоз:
                                p.sum
                                    i.icon.icon-31x20-lk.icon--lk-autog
                                    b.text--brand 1 500 P
                                p.day.text--info
                                    i.icon.icon-31x20-lk.icon--lk-calen
                                    span 25.10.16 - 30.10.16
                            .lk-order--info__item
                                p.text--warning.title: b Итого к оплате:
                                p.sum
                                    b.error 758 459 P
                    .cell.cell__lg-9.cell__xs-12
                        .lk-form
                            .lk-form__item.radiotab--js
                                .row
                                    .cell.cell__md-4.cell__xs-12
                                        b.text--warning.text__lg Выберите способ оплаты
                                    .cell.cell__md-8.cell__xs-12
                                        +fieldRadio('Оплата наличными при получении', 'pay3', 'pay', true)
                                        +fieldRadio('Оплата картой при получении', 'pay4', 'pay', false)
                                        +fieldRadio('Банковский перевод', 'pay1', 'pay', false)
                                        +fieldRadio('On-line оплата банковской картой', 'pay2', 'pay', false)
                        .text--center.margtop30.margbot30
                            ul.list--inline-pure
                                li: a.btn.btn--default(href="#") Назад
                                li: a.btn.btn--primary.text--uppercase(href="#") Далее