main.page-main.lk
    .container
        include ../components/_breadcrumbs
        section
            h1= title
            .lk-form.lk-order
                .lk-order__list
                    .lk-order__item.active
                        .inner
                            .num 1
                            .txt Подтверждение
                                br
                                |  списка товаров
                    .lk-order__item.text--center
                        .inner
                            .num 2
                            .txt Способ
                                br
                                |  доставки
                    .lk-order__item.text--center
                        .inner
                            .num 3
                            .txt Способ
                                br
                                |  оплаты
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num 4
                            .txt Контактная
                                br
                                |  информация
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num: i.icon.icon--lk-checked
                            .txt Заказ
                                br
                                |  оформлен!
                    .before
                    .after
                .lk-form__item
                    .row
                        .cell.cell__md-3.cell__xs-12
                            b.text--warning.text__lg Уточните свой регион
                            br
                            span.text__xs Если регион установлен неверно,
                                br
                                | то выберете его из списка
                        .cell.cell__md-5.cell__xs-12
                            fieldset
                                select.form-control
                                    option Санкт-Петербург
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                .lk-form__item.lk-form__item--header
                    p: b.text--warning.text__lg Список товаров в заказе
                    ul.list--inline
                        li
                            span Всего
                                b  4
                                |  товара на сумму
                                b  965&nbsp;554,36&nbsp;Р
                        li
                            span Из них в наличии
                                b  2
                                |  на сумму
                                b  143&nbsp;315,40&nbsp;Р
                .lk-form__item.lk-form__item--body.hidden__xs.hidden__sm
                    table.table.text__md--center.table--order
                        thead
                            tr
                                th №
                                th
                                th.text--left Описание товара
                                th Кол-во
                                th.tablet-hide Ед.изм.
                                th.tablet-hide Наличие
                                th Срок поставки
                                th Вес/ Объем
                                th Цена с&nbsp;НДС
                                th Сумма с&nbsp;НДС
                        tbody
                            tr
                                td 1
                                td: img(src="images/order-img.jpg", alt="")
                                td.text--left
                                    div
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                td
                                    .text__xs 120
                                        span.tablet-viz.text--warning  м
                                    .tablet-viz.text__xs.success 165
                                td.tablet-hide: .text__xs.text--warning м
                                td.tablet-hide: .text__xs.success 115
                                td.text__xs.text--warning Сейчас
                                td.text__xs.text--warning 0,3/1,2
                                td.text__xs 9554,60
                                td.text__xs.text--warning 9554,36
                            tr
                                td 1
                                td: img(src="images/order-img.jpg", alt="")
                                td.text--left
                                    div
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                td
                                    .text__xs 120
                                        span.tablet-viz.text--warning  м
                                    .tablet-viz.text__xs.warning 115
                                td.tablet-hide: .text__xs.text--warning м
                                td.tablet-hide: .text__xs.warning 115
                                td.text__xs.text--warning 2 недели
                                td.text__xs.text--warning 0,3/1,2
                                td.text__xs 9554,60
                                td.text__xs.text--warning 9554,36
                            tr
                                td 1
                                td: img(src="images/order-img.jpg", alt="")
                                td.text--left
                                    div
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                td
                                    .text__xs 120
                                        span.tablet-viz.text--warning  м
                                    .tablet-viz.text__xs.error Под заказ
                                td.tablet-hide: .text__xs.text--warning м
                                td.tablet-hide: .text__xs.error Под заказ
                                td.text__xs.text--warning месяц
                                td.text__xs.text--warning 0,3/1,2
                                td.text__xs 9554,60
                                td.text__xs.text--warning 9554,36
                    .text--right.padtop20.padright10
                        .text--warning
                            b Вес/ Объем:
                            span  0,12/4,8
                        .text--warning
                            b Итого:
                            span  965 554,36
                .lk-order-mobile.visible__xs.visible__sm
                    - for (var x = 1; x < 3; x++)
                        .board
                            ul.list--table
                                li.cell__xs-3.text__xs.imageLink
                                    p №
                                    p 1
                                    a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                                li
                                    .margbot20
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                    table.cell__xs-12.text__xs
                                        tbody
                                            tr
                                                td: b.text--warning Кол-во:
                                                td 120
                                            tr
                                                td: b.text--warning Ед.изм.
                                                td.text--warning м
                                            tr
                                                td: b.text--warning Наличие:
                                                td.success В наличии
                                            tr
                                                td: b.text--warning Срок поставки:
                                                td.text--warning Сейчас
                                            tr
                                                td: b.text--warning Вес/ Объем:
                                                td 0,3/1,2
                                            tr
                                                td: b.text--warning Цена с НДС:
                                                td 9554,60
                                            tr
                                                td: b.text--warning Сумма с НДС::
                                                td.text--warning 9554,36
                        .board
                            ul.list--table
                                li.cell__xs-3.text__xs.imageLink
                                    p №
                                    p 1
                                    a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                                li
                                    .margbot20
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                    table.cell__xs-12.text__xs
                                        tbody
                                            tr
                                                td: b.text--warning Кол-во:
                                                td 120
                                            tr
                                                td: b.text--warning Ед.изм.
                                                td.text--warning м
                                            tr
                                                td: b.text--warning Наличие:
                                                td.warning Частично
                                                    br
                                                    | в наличии
                                            tr
                                                td: b.text--warning Срок поставки:
                                                td.text--warning Сейчас
                                            tr
                                                td: b.text--warning Вес/ Объем:
                                                td 0,3/1,2
                                            tr
                                                td: b.text--warning Цена с НДС:
                                                td 9554,60
                                            tr
                                                td: b.text--warning Сумма с НДС::
                                                td.text--warning 9554,36
                        .board
                            ul.list--table
                                li.cell__xs-3.text__xs.imageLink
                                    p №
                                    p 1
                                    a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                                li
                                    .margbot20
                                        ul.list--inline-pure.text--nowrap
                                            li Арт. 3849943
                                            li.text__xs.text--info Код FRM123451
                                        .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                        a.text__xs(href="#") TELE-FONIKA
                                    table.cell__xs-12.text__xs
                                        tbody
                                            tr
                                                td: b.text--warning Кол-во:
                                                td 120
                                            tr
                                                td: b.text--warning Ед.изм.
                                                td.text--warning м
                                            tr
                                                td: b.text--warning Наличие:
                                                td.error Под заказ
                                            tr
                                                td: b.text--warning Срок поставки:
                                                td.text--warning Сейчас
                                            tr
                                                td: b.text--warning Вес/ Объем:
                                                td 0,3/1,2
                                            tr
                                                td: b.text--warning Цена с НДС:
                                                td 9554,60
                                            tr
                                                td: b.text--warning Сумма с НДС::
                                                td.text--warning 9554,36
                .lk-form__item.lk-form__item--body.visible__sm.visible__xs
                    ul.list--table.text--warning.text__xs.text--center
                        li: b Итого: 965 554,36
                        li: b Вес/ Объем: 0,12/4,8
                .lk-form__item.lk-form__item--footer
                    a.btn--link.text__sm(href="#")
                        i.icon.icon-31x20-lk.icon--lk-clone
                        span Вывести позиции Под заказ в отдельный черновик
                .text--center.margtop30.margbot30
                    a.btn.btn--primary.text--uppercase(href="#") Далее
