main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-list
                    .lk-list__item
                        .row
                            .cell.cell__md-6
                                h1 Список объектов:
                            .cell.cell__md-6.text--right
                                a.btn.btn--primary.btn__icon--left.margbot10(href='#')
                                    i.icon.icon-31x20-lk.icon--lk-unknown2
                                    |  Добавить новый объект
                        ul.list--inline
                            li.cell__xlg-2.cell__md-3
                                b: a.btn--link(href="#")
                                    i.icon.icon-31x20-lk.icon--lk-locat
                                    span Мурино
                            li.cell__xlg-4.cell__md-5
                                span.text__xs.text--info Ленинградская область, посёлок Мурино,  улица центральная, дом 46
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10(href="#suc") Заархивировать
                        ul.list--inline
                            li.cell__xlg-2.cell__md-3
                                b: a.btn--link(href="#")
                                    i.icon.icon-31x20-lk.icon--lk-locat
                                    span Седова
                            li.cell__xlg-4.cell__md-5
                                span.text__xs.text--info Ленинградская область, посёлок Мурино,  улица центральная, дом 46
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10(href="#suc") Заархивировать
                        ul.list--inline
                            li.cell__xlg-2.cell__md-3
                                b: a.btn--link(href="#")
                                    i.icon.icon-31x20-lk.icon--lk-locat
                                    span Кудрово
                            li.cell__xlg-4.cell__md-5
                                span.text__xs.text--info Ленинградская область, посёлок Мурино,  улица центральная, дом 46
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10(href="#suc") Заархивировать