main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Заказы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-list
                        |  Список заказов
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-edit
                        |  Черновики
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-lock
                        |  В резерве
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-addlist
                        |  Заказано
                .board.lk-filter.margtop20
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать заказы за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Дата изготовления
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-8.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'item1', false)
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
        p В черновиках #[b 25 заказов]
        .table--responsive
            table.table.table--mid.table--mobile.text__md--center.text--left.text__xs
                thead
                    tr
                        th Дата создания
                        th № заказа
                        th Сумма
                        th Вес/объем
                        th Сотрудник
                        th Юр.лицо
                        th Комментарий
                        th Объект
                tbody
                    tr
                        td(data-th="Дата создания")
                            span.text--info 09.06.2016  12:10
                        td(data-th="№ заказа")
                            p
                                a.btn--link.text--brand(href="#"): span FRM2354
                                br
                                |  Освещение
                        td(data-th="Сумма")
                            span 859 892,40 Р
                        td(data-th="Вес/объем")
                            span 35 кг / 5 m2
                        td(data-th="Сотрудник")
                            span.text--info Иванов Иван
                        td(data-th="Юр.лицо")
                            span Иванов и Ко
                        td(data-th="Комментарий")
                            span.text--info Электрика + Освещение
                        td(data-th="Объект")
                            span Мурино
                    tr
                        td(data-th="Дата создания")
                            span.text--info 09.06.2016  12:10
                        td(data-th="№ заказа")
                            a.btn--link.text--brand(href="#"): span FRM2354
                        td(data-th="Сумма")
                            span 859 892,40 Р
                        td(data-th="Вес/объем")
                            span 35 кг / 5 m2
                        td(data-th="Сотрудник")
                            span.text--info Иванов Иван
                        td(data-th="Юр.лицо")
                            span Иванов и Ко
                        td(data-th="Комментарий")
                            span.text--info Светодиодное освещение
                        td(data-th="Объект")
                            span Мурино
                    tr
                        td(data-th="Дата создания")
                            span.text--info 09.06.2016  12:10
                        td(data-th="№ заказа")
                            p
                                a.btn--link.text--brand(href="#"): span FRM2354
                        td(data-th="Сумма")
                            span 859 892,40 Р
                        td(data-th="Вес/объем")
                            span 35 кг / 5 m2
                        td(data-th="Сотрудник")
                            span.text--info Иванов Иван
                        td(data-th="Юр.лицо")
                            span Иванов и Ко
                        td(data-th="Комментарий")
                            span.text--info Кабель
                        td(data-th="Объект")
                            span Мурино
                    tr
                        td(data-th="Дата создания")
                            span.text--info 09.06.2016  12:10
                        td(data-th="№ заказа")
                            p
                                a.btn--link.text--brand(href="#"): span FRM2354
                                br
                                | Заказ на электрику
                        td(data-th="Сумма")
                            span 859 892,40 Р
                        td(data-th="Вес/объем")
                            span 35 кг / 5 m2
                        td(data-th="Сотрудник")
                            span.text--info Иванов Иван
                        td(data-th="Юр.лицо")
                            span Иванов и Ко
                        td(data-th="Комментарий")
                            span.text--info 859 892,40 Р
                        td(data-th="Объект")
                            span Мурино
        .text--center.text__md--right.margbot40.margtop20
            a.btn.btn--transparent.btn__icon--left(href='#')
                i.icon.icon-31x20-lk.icon--lk-heaveno
                | Загрузить XLS файл