main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-present
                                |  Ваши бонусы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-gift
                        |  Ваши бонусы
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  История бонусов
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  Условия бонусной программы
                .lk-bonus
                    .lk-bonus__item
                        .cell__xlg-6.cell__md-7
                            .lk-present
                                .lk-present__item
                                    span.text__lg Ваши баллы:
                                .lk-present__item
                                    h2.text--primary 700
                                        i.icon.icon-31x20-lk.icon--lk-pres.v-baseline
                                .lk-present__item
                                   a.btn.btn--transparent(href="#") Выбрать подарок
                .lk-bonus__item.lk-filter
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать историю за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-4.cell__md-5
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Дата изготовления
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
                table.table.table--mobile.text__md--center.text--left
                    thead
                        tr
                            th Дата
                            th Действие
                            th Количество баллов
                    tbody
                        tr
                            td(data-th="Дата")
                                span.text__xs.text--info 09.06.2016  12:10
                            td(data-th="Действие")
                                a.btn--link(href="#"): span Выполнение акции ДКС
                            td(data-th="Кол-во баллов")
                                span.success +100
                        tr
                            td(data-th="Дата")
                                span.text__xs.text--info 09.06.2016  12:10
                            td(data-th="Действие")
                                a.btn--link(href="#"): span Акция: Вместе с TDM
                            td(data-th="Кол-во баллов")
                                span.success +200
                        tr
                            td(data-th="Дата")
                                span.text__xs.text--info 09.06.2016  12:10
                            td(data-th="Действие")
                                a.btn--link(href="#"): span Заказ № FR11435
                            td(data-th="Кол-во баллов")
                                span.error -150
                        tr
                            td(data-th="Дата")
                                span.text__xs.text--info 09.06.2016  12:10
                            td(data-th="Действие")
                                a.btn--link(href="#"): span Подарочная карта на 4 000 руб.
                            td(data-th="Кол-во баллов")
                                span.success +250