main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon-25x24-lk.icon--lk-present
                                |  Ваши бонусы
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-present
                                |  Ваши бонусы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-gift
                        |  Ваши бонусы
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  История бонусов
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-contract
                        |  Условия бонусной программы
                .lk-bonus
                    .lk-bonus__item
                        .cell__xlg-6.cell__md-7
                            .lk-present
                                .lk-present__item
                                    span.text__lg Ваши баллы:
                                .lk-present__item
                                    h2.text--primary 700
                                        i.icon.icon-31x20-lk.icon--lk-pres.v-baseline
                                .lk-present__item
                                   a.btn.btn--transparent(href="#") Выбрать подарок
                .lk-bonus__item
                    .cell__xlg-10
                        h3 Условия бонусной программы:
                        p
                            b.text--primary 1.
                            | Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много. Важно! Бонусная программа доступна только для зарегистрированных покупателей интернет-магазина. Пользоваться программой очень просто. Программа построена по тому же принципу, что и бонусные программы авиакомпаний, когда в каждом полете вы накапливаете мили. Суть нашей бонусной программы в том, что при каждом заказе вы получаете 10% от стоимости оплаченных товаров в виде так называемых "монет" на ваш бонусный счет. Также вы можете получать монеты, если поставите оценку нашим товарам и напишете краткий отзыв о товаре. Накопленные монеты можно использовать при оплате следующего заказа, при этом вы получите новые монеты на счет.
                        p
                            b.text--primary 2.
                            |  Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы  коллекционер и покупаете сувениры часто и много. Важно! Бонусная программа доступна только для зарегистрированных покупателей интернет-магазина. Пользоваться программой очень просто. Программа построена по тому же принципу, что и бонусные программы авиакомпаний, когда в каждом полете вы накапливаете мили. Суть нашей бонусной программы в том, что при каждом заказе вы получаете 10% от стоимости оплаченных товаров в виде так называемых "монет" на ваш бонусный счет. Также вы можете получать монеты, если поставите оценку нашим товарам и напишете краткий отзыв о товаре. Накопленные монеты можно использовать при оплате следующего заказа, при этом вы получите новые монеты на счет.
                        p
                            b.text--primary 3.
                            |  Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы  коллекционер и покупаете сувениры часто и много. Важно! Бонусная программа доступна только для зарегистрированных покупателей интернет-магазина. Пользоваться программой очень просто. Программа построена по тому же принципу, что и бонусные программы авиакомпаний, когда в каждом полете вы накапливаете мили. Суть нашей бонусной программы в том, что при каждом заказе вы получаете 10% от стоимости оплаченных товаров в виде так называемых "монет" на ваш бонусный счет. Также вы можете получать монеты, если поставите оценку нашим товарам и напишете краткий отзыв о товаре. Накопленные монеты можно использовать при оплате следующего заказа, при этом вы получите новые монеты на счет.