main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Заказы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-list
                        |  Список заказов
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-edit
                        |  Черновики
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-lock
                        |  В резерве
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-addlist
                        |  Заказано
                .board.lk-filter.margtop20
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Оплата
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-8.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'item1', false)
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
        .margbot40
            p Общая  стоимость заказанных товаров: #[b 143 315,40 руб]
            .table--responsive
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs.table--js
                    thead
                        tr
                            th.hidden__xs.hidden__sm: +fieldCheckbox('', 'item1', false)
                            th Дата создания
                            th № заказа
                            th Вес/объем
                            th Комментарий
                            th В резерве позиций
                            th На сумму
                            th Информация об оплате
                            th Сотрудник
                            th Юр. лицо
                            th Объект
                    tbody
                        tr
                            td.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq1', false)
                            td(data-th="Дата создания")
                                span.text--info 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354
                            td(data-th="Вес/объем")
                                span 15 кг / 14 м3
                            td(data-th="Вес/объем")
                                span.text--info Электрика + Освещение
                            td(data-th="Заказано позиций")
                                span 4
                            td(data-th="На сумму")
                                span 40 000 руб.
                            td(data-th="Информация об оплате")
                                span.success Оплачено
                            td(data-th="Сотрудник")
                                span.text--info Иванов Иван
                            td(data-th="Юр. лицо")
                                span Иванов и КО
                            td(data-th="Объект")
                                span.text--info Мурино
                        tr.table-content--js
                            td(colspan="11")
                                table.table
                                    thead
                                        tr
                                            th.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq3', false)
                                            th №
                                            th Бренд
                                            th Код товара
                                            th Артикул
                                            th Наименование товара
                                            th Заказано / В заказе
                                            th Ед.изм.
                                            th Дата поступления
                                            th Цена с НДС
                                            th Сумма с НДС
                                            th Вес/ Объем
                                    tbody
                                        - for (var y = 1; y < 5; y++)
                                            tr
                                                td.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq4', false)
                                                td
                                                    span #{y}
                                                td
                                                    a(href="#") TELE-FONIKA
                                                td
                                                    span FRM123451
                                                td
                                                    span.text--info LC1-C5E04-31
                                                td.text--left.text--normal
                                                    span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                                td
                                                    span.success.text__md 5
                                                    span.text--info  / 120
                                                td
                                                    span м
                                                td
                                                    span 30.07.2016
                                                td
                                                    span.text--info 9554,60
                                                td
                                                    span 9554,60
                                                td
                                                    span.text--info 0,3/1,2
                        - for (var x = 1; x < 4; x++)
                            tr
                                td.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq2', false)
                                td(data-th="Дата создания")
                                    span.text--info 09.06.2016  12:10
                                td(data-th="№ заказа")
                                    a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354
                                    a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354
                                td(data-th="Вес/объем")
                                    span 15 кг / 14 м3
                                td(data-th="Вес/объем")
                                    span.text--info Электрика + Освещение
                                td(data-th="Заказано позиций")
                                    span 4
                                td(data-th="На сумму")
                                    span 40 000 руб.
                                td(data-th="Информация об оплате")
                                    span.warning Ожидает оплаты
                                td(data-th="Сотрудник")
                                    span.text--info Иванов Иван
                                td(data-th="Юр. лицо")
                                    span Иванов и КО
                                td(data-th="Объект")
                                    span.text--info Мурино
                            tr.table-content--js
                                td(colspan="11")
                                    table.table
                                        thead
                                            tr
                                                th.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq5', false)
                                                th №
                                                th Бренд
                                                th Код товара
                                                th Артикул
                                                th Наименование товара
                                                th Заказано / В заказе
                                                th Ед.изм.
                                                th Дата поступления
                                                th Цена с НДС
                                                th Сумма с НДС
                                                th Вес/ Объем
                                        tbody
                                            - for (var y = 1; y < 5; y++)
                                                tr
                                                    td.hidden__xs.hidden__sm: +fieldCheckbox('', 'itemq6', false)
                                                    td
                                                        span #{y}
                                                    td
                                                        a(href="#") TELE-FONIKA
                                                    td
                                                        span FRM123451
                                                    td
                                                        span.text--info LC1-C5E04-31
                                                    td.text--left.text--normal
                                                        span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                                    td
                                                        span.success.text__md 5
                                                        span.text--info  / 120
                                                    td
                                                        span м
                                                    td
                                                        span 30.07.2016
                                                    td
                                                        span.text--info 9554,60
                                                    td
                                                        span 9554,60
                                                    td
                                                        span.text--info 0,3/1,2
            .text--center.margtop20
                a.btn.btn--primary(href="#") Заказать доставку