main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-folder
                                |  Документы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                .board.lk-filter.relative
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать заказы за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Дата изготовления
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-8.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'item1', false)
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
                .lk-info-status
                    .lk-info-status--bottom
                        .row
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        b.key
                                            i.icon.icon-31x20-lk.icon--lk-light
                                            |  Задолжность на начальную дату:
                                        b.value.text--warning.text__md 1 000 000 руб.
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        b.key
                                            i.icon.icon-31x20-lk.icon--lk-idea
                                            |  Задолжность на конечную дату:
                                        b.value.text--warning.text__md 111 125 руб.
        .margbot40
            .table--responsive
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs.table--js
                    thead
                        tr
                            th Дата создания
                            th № документа
                            th Тип документа
                            th № заказа
                            th Сумма с НДС
                            th НДС
                            th Документы
                            th Сотрудник
                            th Юр. лицо
                            th Объект
                    tbody
                        - for (var x = 1; x < 4; x++)
                            tr
                                td(data-th="Дата создания")
                                    span 09.06.2016  12:10
                                td(data-th="№ документа")
                                    a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                    a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                                td(data-th="Тип документа")
                                    span Оплата
                                td(data-th="№ заказа")
                                    a.btn--link.text--brand(href="#"): span FRM2354/1
                                td(data-th="Сумма с НДС")
                                    span.text--warning 859 892,40 Р
                                td(data-th="НДС")
                                    span 892,40 Р
                                td(data-th="Документы")
                                    span
                                        a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                        a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                                td(data-th="Сотрудник")
                                    span Иванов Иван
                                td(data-th="Юр. лицо")
                                    span.text--warning Иванов и КО
                                td(data-th="Объект")
                                    span Мурино
                            tr.table-content--js
                                td(colspan="10")
                                    table.table
                                        thead
                                            tr
                                                th №
                                                th Бренд
                                                th Код товара
                                                th Артикул
                                                th Наименование товара
                                                th Кол-во
                                                th Ед.изм.
                                                th Цена с НДС
                                                th Сумма с НДС
                                                th Вес/ Объем
                                        tbody
                                            - for (var y = 1; y < 5; y++)
                                                tr
                                                    td
                                                        span #{y}
                                                    td
                                                        a(href="#") TELE-FONIKA
                                                    td
                                                        span.text--warning FRM123451
                                                    td
                                                        span LC1-C5E04-31
                                                    td.text--left.text--normal
                                                        span.text--warning Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                                    td
                                                        span 120
                                                    td
                                                        span.text--warning м
                                                    td
                                                        span 9554,60
                                                    td
                                                        span.text--warning 9554,60
                                                    td
                                                        span.text--warning 0,3/1,2
            .lk-list
                .lk-list__item
                    h3 Список юридических лиц:
                    .row
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            p: b: a.btn--link(href="#")
                                    i.icon.icon-31x20-lk.icon--lk-serto
                                    span OOO «Иванов и КО»
                        .cell.cell__lg-8.cell__md-7.cell__xs-12
                            .row
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за 6 месяцев
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за год
                    .row
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            p: b: a.btn--link(href="#")
                                    span OOO «Иванов и КО»
                        .cell.cell__lg-8.cell__md-7.cell__xs-12
                            .row
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за 6 месяцев
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за год
                    .row
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            p: b: a.btn--link(href="#")
                                    span OOO «Петров и КО»
                        .cell.cell__lg-8.cell__md-7.cell__xs-12
                            .row
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за 6 месяцев
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal.margbot10(href="#docorder") Заказать Акт сверки за год
                    .row.margtop30
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            h3 Общая сумма по всем завершенным заказам:
                        .cell.cell__lg-8.cell__md-7.cell__xs-12
                            .row
                                .cell.cell__xlg-5.cell__lg-6.cell__md-10.cell__xs-12
                                    a.btn.btn--transparent.btn--full.popup-modal(href="#docorder") Заказать