main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-list
                    .lk-list__item
                        .row
                            .cell.cell__md-6
                                h1 Список юридических лиц:
                            .cell.cell__md-6.text--right
                                a.btn.btn--primary.btn__icon--left.margbot10(href='#')
                                    i.icon.icon-31x20-lk.icon--lk-unknown3
                                    |  Добавить компанию
                        ul.list--inline
                            li.cell__md-4
                                b: a.btn--link(href="#")
                                    i.icon.icon-31x20-lk.icon--lk-serto
                                    span OOO «Иванов и КО»
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10.margbot10(href="#suc") Заархивировать
                            li.cell__xlg-4
                                i.icon.icon-15-lk.icon--lk-attention(data-toggle="tooltip", data-placement="bottom",
                                title="Архивация компании возможна только при условии закрытия всех документов")
                        ul.list--inline
                            li.cell__md-4
                                b: a.btn--link(href="#")
                                    span OOO «Иванов и КО»
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10.margbot10(href="#suc") Заархивировать
                            li.cell__xlg-4.text__lg--right
                                b: a.btn--link.popup-modal(href="#contract-id")
                                    i.icon.icon-31x20-lk.icon--lk-serto
                                    span.text--primary Заключить договор
                        ul.list--inline
                            li.cell__md-4
                                b: a.btn--link(href="#")
                                    span ООО «Петров и КО»
                            li
                                a.btn.btn--transparent.btn--width.popup-modal.margtop10.margbot10(href="#suc") Заархивировать
                            li.cell__xlg-4.text__lg--right
                                b: a.btn--link.popup-modal(href="#contract-id")
                                    i.icon.icon-31x20-lk.icon--lk-serto
                                    span.text--primary Заключить договор
                        ul.list--inline
                            li.cell__md-4
                                b: a.btn--link.disabled(href="#")
                                    span ООО «Александров и КО»
                            li
                                a.btn.btn--default.btn--width.popup-modal.margtop10.margbot10(href="#suc") Разархивировать
                            li.cell__xlg-4
                                span.text__xs.text--info Профиль добавлен в архив 12.06.2016
                                    br
                                    |  Пользвователем IVANOV