main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Заказы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-list
                        |  Список заказов
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-edit
                        |  Черновики
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-lock
                        |  В резерве
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-addlist
                        |  Заказано
                .lk-draft
                    .lk-draft--inner
                        .lk-draft__item.cell__xlg-3.cell__xs-12
                            +fieldInput('text', 'code11', 'code11', 'Черновик № FRM2354', false)
                    .lk-draft--inner
                        .lk-draft__item: b.text--warning Добавить новый товар
                    .lk-draft--inner
                        .lk-draft__item.cell__xlg-4.cell__md-5.cell__xs-12
                            +fieldInput('text', 'code12', 'code12', 'Наименование/артикул товара', false)
                        .lk-draft__item.cell__xlg-2.cell__md-3.cell__xs-12
                            +fieldInput('text', 'code13', 'code13', 'Кол-во товара', false)
                        .lk-draft__item.cell__xlg-3.cell__md-4.text--nowrap.cell__xs-12
                            a.btn.btn--transparent.btn__lg.btn--full.btn__icon--left(href='#')
                                i.icon.icon--flash-lk
                                |  Добавить товар
                        .lk-draft__item.cell__xlg-3.cell__xs-12
                            a.btn--link(href='#')
                                i.icon.icon-31x20-lk.icon--lk-heaven
                                span Загрузить из файла
        .lk-draft.margbot20
            .lk-draft--inner
                .lk-draft__item.cell__xlg-3.cell__lg-4.cell__md-6.cell__xs-12
                    fieldset
                        select.select-hard.form-control
                            option(default)
                            option Dropdown
                            option Dropdown Hover
                            option Dropdown Selected
                            option Dropdown Disabled
                        label.label-hard Назначить объект
                .lk-draft__item.cell__xlg-9.cell__lg-8.cell__md-6.text__lg--right.cell__xs-12
                    ul.list--inline-pure.margbot0
                        li
                            b: a.btn--link.text--primary(href="#")
                                i.icon.icon-23.icon--download
                                span Скачать
                        li
                            b: a.btn--link.text--primary(href="#")
                                i.icon.icon-31x20-lk.icon--lk-prints
                                span Распечатать
                        li
                            b: a.btn--link.text--primary(href="#")
                                i.icon.icon-31x20-lk.icon--lk-copyes
                                span Копировать черновик
        .margbot40
            .table--responsive.hidden__xs.hidden__sm
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs
                    thead
                        tr
                            th: +fieldCheckbox('', 'table1', false)
                            th №
                            th.hidden__xlg
                            th Бренд
                            th Код товара
                            th Артикул
                            th Наименование товара
                            th Кол-во #[br] на&nbsp;складе
                            th Кол-во в #[br] заказе
                            th Аналог
                            th Цена #[br] с НДС
                            th Сумма #[br] с НДС
                            th Вес/ Объем
                    tbody
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table11', false)
                            td(data-th="№") 1
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Код товара")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td(data-th="Кол-во на складе")
                                span 120
                                    i.icon.icon-23.icon--locadd
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="10 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table12', false)
                            td(data-th="№") 2
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Код товара")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td(data-th="Кол-во на складе")
                                span 0
                                    i.icon.icon-23.icon--locadd
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="5 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table13', false)
                            td(data-th="№") 3
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Код товара")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td(data-th="Кол-во на складе")
                                span.error Под заказ
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="300 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
                        tr
                            td(data-th=""): +fieldCheckbox('', 'table14', false)
                            td(data-th="№") 4
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td(data-th="Код товара")
                                a(href="#") TELE-FONIKA
                            td(data-th="Код товара")
                                span FRM123451
                            td(data-th="Артикул")
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal(data-th="Наименование товара")
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td(data-th="Кол-во на складе")
                                span.error Под заказ
                            td(data-th="Кол-во в заказе")
                                input.form-control(type='text', value="36 м", style="width: 70px;")
                            td(data-th="Аналог")
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td(data-th="Цена с НДС")
                                span.text--info 9554,60
                            td(data-th="Сумма с НДС")
                                span 9554,60
                            td(data-th="Аналог")
                                span.text--info 0,3/1,2
            .lk-order-mobile.visible__xs.visible__sm
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p: +fieldCheckbox('', 'tablem1', false)
                            p №
                            p 1
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p: +fieldCheckbox('', 'tablem2', false)
                            p №
                            p 2
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
            .lk-form__item.lk-form__item--footer
                .order-details
                    .order-details__item
                        a.btn--link.text__sm(href="#")
                            i.icon.icon-31x20-lk.icon--lk-busket
                            p: span Удалить выбранное
                    .order-details__item
                        a.btn--link.text__sm(href="#")
                            i.icon.icon-31x20-lk.icon--lk-cloneok
                            p: span Вывести выбранные позиции #[i в отдельный черновик]
                    .order-details__item
                        a.btn--link.text__sm(href="#")
                            i.icon.icon-31x20-lk.icon--lk-clone
                            p: span Вывести заказные позиции #[i в отдельный черновик]
                    .order-details__item
                        a.btn--link.text__sm.draft--js(href="#")
                            i.icon.icon-31x20-lk.icon--lk-drawadd
                            p: span Добавить в имеющийся #[i черновик]
                    .order-details__item.text--nowrap
                        a.btn.btn--primary(href="#") Оформить заказ
            .board.pad0.draft-block--js
                .lk-filter.board
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать заказы за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__md-3
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Дата изготовления
                        .lk-filter__item.cell__md-3
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-3
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'item1', false)
                    .lk-filter--inner
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
                p.padleft20.margtop20.margbot20 В черновиках #[b 25 заказов]
                .table--responsive
                    table.table.table--mid.table--mobile.text__md--center.text--left.text__xs
                        thead
                            tr
                                th
                                th Дата создания
                                th № заказа
                                th Сумма
                                th Вес/объем
                                th Сотрудник
                                th Юр.лицо
                                th Комментарий
                                th Объект
                        tbody
                            tr
                                td.hidden__xs.hidden__sm: +fieldRadio('', 'order01', 'order', true)
                                td(data-th="Дата создания")
                                    span.text--info 09.06.2016  12:10
                                td(data-th="№ заказа")
                                    p
                                        a.btn--link.text--brand(href="#"): span FRM2354
                                        br
                                        |  Освещение
                                td(data-th="Сумма")
                                    span 859 892,40 Р
                                td(data-th="Вес/объем")
                                    span 35 кг / 5 m2
                                td(data-th="Сотрудник")
                                    span.text--info Иванов Иван
                                td(data-th="Юр.лицо")
                                    span Иванов и Ко
                                td(data-th="Комментарий")
                                    span.text--info Электрика + Освещение
                                td(data-th="Объект")
                                    span Мурино
                            tr
                                td.hidden__xs.hidden__sm: +fieldRadio('', 'order02', 'order', false)
                                td(data-th="Дата создания")
                                    span.text--info 09.06.2016  12:10
                                td(data-th="№ заказа")
                                    p: a.btn--link.text--brand(href="#"): span FRM2354
                                td(data-th="Сумма")
                                    span 859 892,40 Р
                                td(data-th="Вес/объем")
                                    span 35 кг / 5 m2
                                td(data-th="Сотрудник")
                                    span.text--info Иванов Иван
                                td(data-th="Юр.лицо")
                                    span Иванов и Ко
                                td(data-th="Комментарий")
                                    span.text--info Светодиодное освещение
                                td(data-th="Объект")
                                    span Мурино
                            tr
                                td.hidden__xs.hidden__sm: +fieldRadio('', 'order03', 'order', false)
                                td(data-th="Дата создания")
                                    span.text--info 09.06.2016  12:10
                                td(data-th="№ заказа")
                                   p: a.btn--link.text--brand(href="#"): span FRM2354
                                td(data-th="Сумма")
                                    span 859 892,40 Р
                                td(data-th="Вес/объем")
                                    span 35 кг / 5 m2
                                td(data-th="Сотрудник")
                                    span.text--info Иванов Иван
                                td(data-th="Юр.лицо")
                                    span Иванов и Ко
                                td(data-th="Комментарий")
                                    span.text--info Кабель
                                td(data-th="Объект")
                                    span Мурино
                            tr
                                td.hidden__xs.hidden__sm: +fieldRadio('', 'order04', 'order', false)
                                td(data-th="Дата создания")
                                    span.text--info 09.06.2016  12:10
                                td(data-th="№ заказа")
                                    p
                                        a.btn--link.text--brand(href="#"): span FRM2354
                                        br
                                        | Заказ на электрику
                                td(data-th="Сумма")
                                    span 859 892,40 Р
                                td(data-th="Вес/объем")
                                    span 35 кг / 5 m2
                                td(data-th="Сотрудник")
                                    span.text--info Иванов Иван
                                td(data-th="Юр.лицо")
                                    span Иванов и Ко
                                td(data-th="Комментарий")
                                    span.text--info 859 892,40 Р
                                td(data-th="Объект")
                                    span Мурино
                        tfoot
                            tr.text__md--right.text--center
                                td(colspan="9")
                                    ul.list--inline.margbot0
                                        li.margtop10: a.btn.btn--primary(href="#") Добавить в черновик
                                        li.margtop10: a.btn.btn--default(href="#") Отмена