main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-auto
                                |  Доставка
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-autoin
                        |  Доставки
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-autoadd
                        |  Заказать доставку
                .board.lk-filter.margtop20
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать заказы за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Период
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            fieldset
                                select.select-hard.form-control.edited
                                    option(default)
                                    option Отгружен
                                    option(selected) Частично отгружен
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Статус доставки
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Оплата
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            +fieldCheckbox('Скрыть завершенные', 'items1', false)
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'items2', false)
                    .lk-filter--inner
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
        .margbot40
            .table--responsive
                table.table.table--mid.table--mobile.table--light.text__md--center.text--left.text__xs.table--js
                    thead
                        tr
                            th Дата создания
                            th № заказа
                            th Адрес
                            th Дата доставки
                            th Статус доставки
                            th Сумма заказа
                            th Цена доставки
                            th Статус оплаты
                            th Счет на оплату
                            th Сотрудник
                            th Юр. лицо
                            th Комментарий
                            th Объект
                    tbody
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--left.text--normal(data-th="Адрес")
                                span.text--warning Ленинградская обл, пос-к Мурино, ул. Центральная, д 46
                            td(data-th="Дата доставки")
                                span 09.06.2016
                            td(data-th="Статус доставки")
                                div
                                    span Принято
                                    .slider-line.slider-line--js(data-per="20")
                                        .inner
                            td.text--nowrap(data-th="Сумма заказа")
                                span.text--warning 859 892,40 Р
                            td(data-th="Цена доставки")
                                span.text--warning 892,40 Р
                            td(data-th="Статус оплаты")
                                span.success Оплачено
                            td(data-th="Счет на оплату")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsd
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--left.text--normal(data-th="Адрес")
                                span.text--warning Ленинградская обл, пос-к Мурино, ул. Центральная, д 46
                            td(data-th="Дата доставки")
                                span 09.06.2016
                            td(data-th="Статус доставки")
                                div
                                    span Обрабатывается
                                    .slider-line.slider-line--js(data-per="50")
                                        .inner
                            td.text--nowrap(data-th="Сумма заказа")
                                span.text--warning 859 892,40 Р
                            td(data-th="Цена доставки")
                                span.text--warning 892,40 Р
                            td(data-th="Статус оплаты")
                                span.warning Частично оплачено
                            td(data-th="Счет на оплату")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsd
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--left.text--normal(data-th="Адрес")
                                span.text--warning Ленинградская обл, пос-к Мурино, ул. Центральная, д 46
                            td(data-th="Дата доставки")
                                span 09.06.2016
                            td(data-th="Статус доставки")
                                div
                                    span Выполнено
                                    .slider-line.slider-line--js(data-per="100")
                                        .inner
                            td.text--nowrap(data-th="Сумма заказа")
                                span.text--warning 859 892,40 Р
                            td(data-th="Цена доставки")
                                span.text--warning 892,40 Р
                            td(data-th="Статус оплаты")
                                span.error Не оплачено
                            td(data-th="Счет на оплату")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsd
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--normal.text--left(data-th="Адрес")
                                span.text--warning Ленинградская обл, пос-к Мурино, ул. Центральная, д 46
                            td(data-th="Дата доставки")
                                span 09.06.2016
                            td(data-th="Статус доставки")
                                div
                                    span Отменено
                                    .slider-line.slider-line--js(data-per="101")
                                        .inner
                            td.text--nowrap(data-th="Сумма заказа")
                                span.text--warning 859 892,40 Р
                            td(data-th="Цена доставки")
                                span.text--warning 892,40 Р
                            td(data-th="Статус оплаты")
                                span.success Оплачено
                            td(data-th="Счет на оплату")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsd