main.page-main.lk
    .container
        include ../components/_breadcrumbs
        section
            .lk-order
                .lk-order__list
                    .lk-order__item.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Подтверждение
                                br
                                |  списка товаров
                    .lk-order__item.done.text--center
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Способ
                                br
                                |  доставки
                    .lk-order__item.text--center.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Способ
                                br
                                |  оплаты
                    .lk-order__item.text__md--right.text--center.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Контактная
                                br
                                |  информация
                    .lk-order__item.text__md--right.text--center.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Заказ
                                br
                                |  оформлен!
                    .before
                    .after
                .lk-form.margbot40
                    .lk-form__item.text--center
                        h1.margbot40 Ваш заказ № 456 успешно оформлен!
                        p #[b.text__lg Благодарим за заказ!] #[br] Для подтверждения заказа с вами свяжется наш оператор. #[br] Информация об оплате придет на ваш электронный адрес, указанный при оформлении.