main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Документы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-list
                        |  Список заказов
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-edit
                        |  Черновики
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-lock
                        |  В резерве
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-addlist
                        |  Заказано
                .board.lk-filter.margtop20
                    .lk-filter--inner
                        .lk-filter__item
                            ul.list--inline-pure.text__sm
                                li.text--info Показать заказы за:
                                li: b: a.btn--link(href="#"): span  Сегодня
                                li: a.btn--link(href="#"): span  Неделю
                                li: a.btn--link(href="#"): span  Месяц
                                li: a.btn--link(href="#"): span  Квартал
                                li: a.btn--link(href="#"): span  Год
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                label Дата изготовления
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            fieldset
                                select.select-hard.form-control.edited
                                    option(default)
                                    option Отгружен
                                    option(selected) Частично отгружен
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Статус
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Оплата
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            +fieldCheckbox('Скрыть завершенные', 'items1', false)
                        .lk-filter__item.cell__xlg-3.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'items2', false)
                    .lk-filter--inner
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
        .margbot40
            ul.list--inline-pure
                li: p Всего  #[b 25 заказов]
                li: p Общая  стоимость заказанных товаров: #[b 143 315,40 руб]
            .table--responsive
                table.table.table--mid.table--mobile.table--light.text__md--center.text--left.text__xs.table--js
                    thead
                        tr
                            th Дата создания
                            th № заказа
                            th Сумма
                            th Оплачено
                            th Отгружено
                            th Статус заказа
                            th Способ получения
                            th Вес/ объем
                            th Сотрудник
                            th Юр. лицо
                            th Комментарий
                            th Объект
                            th Действия
                    tbody
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td.text--nowrap(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--nowrap(data-th="Сумма")
                                span.text--warning 859 892,40 Р
                            td(data-th="Оплачено")
                                span 0 Р
                            td(data-th="Отгружено")
                                span.text--warning 0
                            td(data-th="Статус заказа")
                                div
                                    span Подтвержден
                                    .slider-line.slider-line--js(data-per="20")
                                        .inner
                            td(data-th="Способ получения")
                                span.text--brand Доставка
                            td(data-th="Вес/объем")
                                span.text--warning 35 кг / 5&nbsp;m2
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                            td(data-th="Действия")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-new
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-downloaddoc
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-send
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-copy
                        include ../blocks/_table-content--js
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td.text--nowrap(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                                i.icon.icon-15-lk.icon--lk-attention(data-toggle="tooltip", data-placement="bottom", title="Архивация компании возможна только при условии закрытия всех документов")
                            td.text--nowrap(data-th="Сумма")
                                span.text--warning 859 892,40 Р
                            td(data-th="Оплачено")
                                span 0 Р
                            td(data-th="Отгружено")
                                span.text--warning 0
                            td(data-th="Статус заказа")
                                div
                                    span Отгружен
                                    .slider-line.slider-line--js(data-per="60")
                                        .inner
                            td(data-th="Способ получения")
                                span Самовывоз со склада СПБ
                            td(data-th="Вес/объем")
                                span.text--warning 35 кг / 5&nbsp;m2
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                            td(data-th="Действия")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-new
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-downloaddoc
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-send
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-copy
                        include ../blocks/_table-content--js
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td.text--nowrap(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--nowrap(data-th="Сумма")
                                span.text--warning 859 892,40 Р
                            td(data-th="Оплачено")
                                span 0 Р
                            td(data-th="Отгружено")
                                span.text--warning 0
                            td(data-th="Статус заказа")
                                div
                                    span Подтвержден
                                    .slider-line.slider-line--js(data-per="20")
                                        .inner
                            td(data-th="Способ получения")
                                span.text--brand Доставка
                            td(data-th="Вес/объем")
                                span.text--warning 35 кг / 5&nbsp;m2
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                            td(data-th="Действия")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-new
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-downloaddoc
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-send
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-copy
                        include ../blocks/_table-content--js
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td.text--nowrap(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td.text--nowrap(data-th="Сумма")
                                span.text--warning 859 892,40 Р
                            td(data-th="Оплачено")
                                span 0 Р
                            td(data-th="Отгружено")
                                span.text--warning 0
                            td(data-th="Статус заказа")
                                div
                                    span Завершен
                                    .slider-line.slider-line--js(data-per="100")
                                        .inner
                            td(data-th="Способ получения")
                                span Самовывоз со склада СПБ
                            td(data-th="Вес/объем")
                                span.text--warning 35 кг / 5&nbsp;m2
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                            td(data-th="Действия")
                                span.text--nowrap
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-print
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-download
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-new
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-downloaddoc
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-send
                                    a(href="#"): i.icon.icon-20x18-lk.icon--lk-copy
                        include ../blocks/_table-content--js
                    tfoot
                        tr
                            td.text--center(colspan="13")
                                span.text__md #[span.error Обращаем ваше внимание:] Для заказов с позициями под заказ  необходима 100% предоплата !