main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-form.radiotab
                    .lk-form__item.radiotab--js
                        .row
                            .cell.cell__md-4.cell__xs-12
                                ul.list--inline
                                    li.v-top: b.text--primary.text__lg 1.
                                    li.v-top
                                        p: b.text--warning.text__lg Тип организации
                            .cell.cell__md-8.cell__xs-12
                                +fieldRadio('Юридическое лицо', 'ullist', 'org', true)
                                +fieldRadio('Индивидуальный предприниматель', 'iplist', 'org', false)
                    .lk-form__item.delivery-block.delivery-block--trs-1.active
                        .row
                            .cell.cell__md-4.cell__xs-12
                                ul.list--inline
                                    li.v-top: b.text--primary.text__lg 2.
                                    li.v-top.cell__xs-10
                                        p: b.text--warning.text__lg Информация об
                                            | организации
                                        p.text__xs
                                            sup *
                                            |  - обязательные поля для
                                            br
                                            | заполнения
                            .cell.cell__md-8.cell__xs-12
                                .cell__xlg-8.cell__md-10
                                    .form__group
                                        +fieldInput('text', 'name', 'name', 'Название организации *', true)
                                    .form__group
                                        +fieldInput('text', 'adrul', 'adrul', 'Юридический адрес *', true)
                                    .form__group
                                        +fieldInput('text', 'adrfac', 'adrfac', 'Фактический адрес *', true)
                                    .form__group
                                        +fieldInput('text', 'checkr', 'checkr', 'Расчетный счет *', true)
                                    .form__group
                                        +fieldInput('text', 'bank', 'bank', 'Банк *', true)
                                    .form__group
                                        +fieldInput('text', 'check', 'check', 'Корреспонденский счет *', true)
                                    .form__group
                                        +fieldInput('text', 'bik', 'bik', 'БИК *', true)
                                    .form__group
                                        +fieldInput('text', 'inn', 'inn', 'ИНН *', true)
                                    .form__group
                                        +fieldInput('text', 'kpp', 'kpp', 'КПП *', true)
                                    .form__group
                                        +fieldInput('text', 'buh', 'buh', 'Главный бухгалтер', false)
                                    .form__group
                                        +fieldInput('text', 'dir', 'dir', 'Генеральный директор', false)
                                    .form__group
                                        +fieldInput('text', 'ogrn', 'ogrn', 'ОГРН *', true)
                                    .form__group
                                        +fieldInput('text', 'city', 'city', 'Город *', true)
                                    .form__group
                                        +fieldInput('text', 'phone', 'fax', 'Телефон / факс *', true)
                                    .form__group
                                        +fieldInput('mail', 'mail', 'mail', 'Электронная почта *', true)
                                    .form__group
                                        +fieldCheckbox('Сделать основной организацией профиля', 'defprof', false)
                    .text--center.margtop30
                        a.btn.btn--transparent.popup-modal(href="#addullist") Добавить компанию
