main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-sert
                                |  Заказы
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-list
                        |  Список заказов
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-edit
                        |  Черновики
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-lock
                        |  В резерве
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-addlist
                        |  Заказано
                .lk-draft
                    .lk-draft--inner
                        .lk-draft__item.cell__xlg-4.cell__md-5.cell__xs-12
                            fieldset
                                input.form-control.edited(type="text", value="Заказ № FRM2354", id="ord", disabled)
                                label(for='ord') Заказ
                        .lk-draft__item.cell__xlg-3.cell__md-4.cell__xs-12
                            fieldset
                                input.form-control.edited(type="text", value="Мурино", id="ord1", disabled)
                                label(for='ord1') Объект
                    .lk-draft--inner
                        .lk-draft__item
                            ul.list--inline-pure.margbot0
                                li
                                    b: a.btn--link.text--primary(href="#")
                                        i.icon.icon-23.icon--download
                                        span Скачать в XLS
                                li
                                    b: a.btn--link.text--primary(href="#")
                                        i.icon.icon-31x20-lk.icon--lk-prints
                                        span Распечатать
                                li
                                    b: a.btn--link.text--primary(href="#")
                                        i.icon.icon-31x20-lk.icon--lk-copyes
                                        span Повторить заказ
        .margbot40
            .table--responsive.hidden__xs.hidden__sm
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs
                    thead
                        tr
                            th №
                            th.hidden__xlg
                            th Бренд
                            th Код товара
                            th Артикул
                            th Наименование товара
                            th Кол-во #[br] на&nbsp;складе
                            th Кол-во в #[br] заказе
                            th Аналог
                            th Цена #[br] с НДС
                            th Сумма #[br] с НДС
                            th Вес/ Объем
                    tbody
                        tr
                            td 1
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td
                                a(href="#") TELE-FONIKA
                            td
                                span FRM123451
                            td
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td
                                span 120
                                    i.icon.icon-23.icon--locadd
                            td
                                input.form-control(type='text', value="10 м", style="width: 70px;")
                            td
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td
                                span.text--info 9554,60
                            td
                                span 9554,60
                            td
                                span.text--info 0,3/1,2
                        tr
                            td 2
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td
                                a(href="#") TELE-FONIKA
                            td
                                span FRM123451
                            td
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td
                                span 0
                                    i.icon.icon-23.icon--locadd
                            td
                                input.form-control(type='text', value="5 м", style="width: 70px;")
                            td
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td
                                span.text--info 9554,60
                            td
                                span 9554,60
                            td
                                span.text--info 0,3/1,2
                        tr
                            td 3
                            td.imageLink.hidden__xlg: a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td
                                a(href="#") TELE-FONIKA
                            td
                                span FRM123451
                            td
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td
                                span.error Под заказ
                            td
                                input.form-control(type='text', value="300 м", style="width: 70px;")
                            td
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td
                                span.text--info 9554,60
                            td
                                span 9554,60
                            td
                                span.text--info 0,3/1,2
                        tr
                            td 4
                            td.imageLink.hidden__xlg(data-th=""): a(href="images/order-img.jpg"): img.icon-img(src="images/icons/mobile-photo.png", alt="")
                            td
                                a(href="#") TELE-FONIKA
                            td
                                span FRM123451
                            td
                                span.text--info LC1-C5E04-31
                            td.text--left.text--normal
                                span Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                            td
                                span.error Под заказ
                            td
                                input.form-control(type='text', value="36 м", style="width: 70px;")
                            td
                                a.btn--link.text--brand(href="#"): span Подобрать
                            td
                                span.text--info 9554,60
                            td
                                span 9554,60
                            td
                                span.text--info 0,3/1,2
            .lk-order-mobile.visible__xs.visible__sm
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p №
                            p 1
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
                .board
                    ul.list--table
                        li.cell__xs-3.text__xs.imageLink
                            p №
                            p 2
                            a(href="images/order-img.jpg"): img(src="images/icons/mobile-photo.png", alt="")
                        li
                            .margbot20.margtop20
                                ul.list--inline-pure.text--nowrap
                                    li Арт. 3849943
                                    li.text__xs.text--info Код FRM123451
                                .text--warning.text__xs Кабель связи витая пара F/UTP, кат.5E 4х2х24AWG solid, PVC
                                a.text__xs(href="#") TELE-FONIKA
                            table.table--mid.cell__xs-12.text__xs
                                tbody
                                    tr
                                        td: b.text--warning Кол-во на #[br] складе в СПБ:
                                        td 120
                                            i.icon.icon-23.icon--locadd
                                    tr
                                        td: b.text--warning Кол-во:
                                        td: input.form-control(type='text', value="10 м", style="width: 70px;")
                                    tr
                                        td: b.text--warning Аналог:
                                        td: a.btn--link.text--brand(href="#"): span Подобрать
                                    tr
                                        td: b.text--warning Цена с НДС:
                                        td 9554,60
                                    tr
                                        td: b.text--warning Сумма с НДС:
                                        td.text--warning 9554,36
                                    tr
                                        td: b.text--warning Вес/объем:
                                        td 9554,36
            .lk-form__item.lk-form__item--footer
                .text--right
                    .text--warning
                        b Вес/ Объем:
                        span  0,12/4,8
                    .text--warning
                        b Итого:
                        span  965 554,36