main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-auto
                                |  Доставка
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-autoin
                        |  Доставки
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-autoadd
                        |  Заказать доставку
                .board.lk-filter.margtop20
                    .lk-filter--inner
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Оплата
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Объект
                        .lk-filter__item.cell__md-4
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Организация
                    .lk-filter--inner
                        .lk-filter__item.cell__xlg-8.cell__md-6
                            +fieldCheckbox('Всех пользователей', 'item1', false)
                        .lk-filter__item.text__md--right.text--center
                            ul.list--inline.margbot0
                                li: a.btn.btn--transparent(href="#") Применить
                                li: a.btn.btn--default(href="#") Сбросить
        .margbot40
            .table--responsive
                table.table.table--mid.table--mobile.text__md--center.text--left.text__xs.table--js
                    thead
                        tr
                            th Дата создания
                            th № заказа
                            th В резерве позиций
                            th На сумму
                            th Информация об оплате
                            th Вес / Объем
                            th Сотрудник
                            th Юр. лицо
                            th Комментарий
                            th Объект
                    tbody
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td(data-th="В резерве позиций")
                                span.text--warning 4
                            td(data-th="На сумму")
                                span.text--warning 40 000 руб.
                            td(data-th="Информация об оплате")
                                span.success Оплачено
                            td(data-th="Вес / Объем")
                                span.text--warning 15 кг / 14 м3
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsc
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td(data-th="В резерве позиций")
                                span.text--warning 4
                            td(data-th="На сумму")
                                span.text--warning 40 000 руб.
                            td(data-th="Информация об оплате")
                                span.warning Ожидает оплаты
                            td(data-th="Вес / Объем")
                                span.text--warning 15 кг / 14 м3
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsc
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td(data-th="В резерве позиций")
                                span.text--warning 4
                            td(data-th="На сумму")
                                span.text--warning 40 000 руб.
                            td(data-th="Информация об оплате")
                                span.error Не оплачено
                            td(data-th="Вес / Объем")
                                span.text--warning 15 кг / 14 м3
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsc
                        tr
                            td(data-th="Дата создания")
                                span 09.06.2016  12:10
                            td(data-th="№ заказа")
                                a.btn--link.text--brand.table-title--js.hidden__xs.hidden__sm(href="#"): span FRM2354/1
                                a.btn--link.text--brand.hidden__md.hidden__lg.hidden__xlg(href="#"): span FRM2354/1
                            td(data-th="В резерве позиций")
                                span.text--warning 4
                            td(data-th="На сумму")
                                span.text--warning 40 000 руб.
                            td(data-th="Информация об оплате")
                                span.pineapple Частично оплачено
                            td(data-th="Вес / Объем")
                                span.text--warning 15 кг / 14 м3
                            td(data-th="Сотрудник")
                                span Иванов Иван
                            td(data-th="Юр. лицо")
                                span.text--warning Иванов и Ко
                            td(data-th="Комментарий")
                                span Электрика + Освещение
                            td(data-th="Объект")
                                span.text--warning Мурино
                        include ../blocks/_table-content--jsc
