main.page-main.lk
    .container
        include ../components/_breadcrumbs
        section
            h1= title
            .lk-order
                .lk-order__list
                    .lk-order__item.done
                        .inner
                            .num: i.icon.icon-31x20-lk.icon--lk-check
                            .txt Подтверждение
                                br
                                |  списка товаров
                    .lk-order__item.active.text--center
                        .inner
                            .num 2
                            .txt Способ
                                br
                                |  доставки
                    .lk-order__item.text--center
                        .inner
                            .num 3
                            .txt Способ
                                br
                                |  оплаты
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num 4
                            .txt Контактная
                                br
                                |  информация
                    .lk-order__item.text__md--right.text--center
                        .inner
                            .num: i.icon.icon--lk-checked
                            .txt Заказ
                                br
                                |  оформлен!
                    .before
                    .after
                .row.radiotab
                    .cell.cell__lg-3.cell__xs-12.pull-right
                        .board.lk-order--info
                            .delivery-block.delivery-block--trs-1.active
                                .lk-order--info__item
                                    p.text--warning.title: b Сумма заказа:
                                    p.sum
                                        i.icon.icon-31x20-lk.icon--lk-math
                                        b.text--brand 758 459 P
                                .lk-order--info__item
                                    p.text--warning.title: b Самовывоз:
                                    p.sum
                                        i.icon.icon-31x20-lk.icon--lk-autog
                                        b.text--brand Бесплатно
                                    p.day.text--info
                                        i.icon.icon-31x20-lk.icon--lk-calen
                                        span Сегодня
                                .lk-order--info__item
                                    p.text--warning.title: b Итого к оплате:
                                    p.sum
                                        b.error 758 459 P
                            .delivery-block.delivery-block--trs-2
                                .lk-order--info__item
                                    p.text--warning.title: b Сумма заказа:
                                    p.sum
                                        i.icon.icon-31x20-lk.icon--lk-math
                                        b.text--brand 758 459 P
                                .lk-order--info__item
                                    p.text--warning.title: b Самовывоз:
                                    p.sum
                                        i.icon.icon-31x20-lk.icon--lk-autog
                                        b.text--brand 1 500 P
                                    p.day.text--info
                                        i.icon.icon-31x20-lk.icon--lk-calen
                                        span 25.10.16 - 30.10.16
                                .lk-order--info__item
                                    p.text--warning.title: b Итого к оплате:
                                    p.sum
                                        b.error 758 459 P
                    .cell.cell__lg-9.cell__xs-12
                        .lk-form
                            .lk-form__item.radiotab--js
                                .row
                                    .cell.cell__md-4.cell__xs-12
                                        b.text--warning.text__lg Выберите способ доставки
                                    .cell.cell__md-8.cell__xs-12
                                        +fieldRadio('Самовывоз', 'ullist', 'radio', true)
                                        .radio
                                            input(type="radio", id='deliver2', name='radio')
                                            label(for='deliver2')
                                                span.text__xs Доставка по адресу по СПБ и ЛО  -
                                                |  от 7 000 руб.
                                                b.text--primary  БЕСПЛАТНО!
                            .lk-form__item.delivery-block.delivery-block--trs-1.active
                                .form__group
                                    fieldset
                                        select.form-control
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                #mapid(style="height:330px;width:100%;")
                                h3 Склады в Санкт-Петербурге
                                .row
                                    .cell.cell__md-6.cell__xs-12.lk-contacts
                                        .radio
                                            input(type="radio", id='check1', name='check', checked)
                                            label(for='check1')
                                                b Склад АО Форум Нева #[br]
                                                span.text__xs 196105, г. Cанкт-Петербург, ул. Благодатная, д. 67
                                                span.tip.text__xs.text--brand БЕСПЛАТНО
                                        .lk-contacts-inner
                                            ul.list--unstyled.text__xs
                                                li
                                                    p: a.btn--link(href="#")
                                                            i.icon.icon-15-lk.icon--lk-location
                                                            span  Схема проезда
                                                li: span #[i.icon.icon-23.icon--phone] (495) 649-69-71
                                                li: span #[i.icon.icon-23.icon--mail] contact@forumgroup.ru
                                                li: span #[i.icon.icon-15-lk.icon--lk-time] Пн-Пт с 9 до 22
                                    .cell.cell__md-6.cell__xs-12.lk-contacts
                                        .radio
                                            input(type="radio", id='check2', name='check')
                                            label(for='check2')
                                                b Склад АО Форум Нева #[br]
                                                span.text__xs 196105, г. Cанкт-Петербург, ул. Благодатная, д. 67
                                                span.tip.text__xs.text--brand БЕСПЛАТНО
                                        .lk-contacts-inner
                                            ul.list--unstyled.text__xs
                                                li
                                                    p: a.btn--link(href="#")
                                                            i.icon.icon-15-lk.icon--lk-location
                                                            span  Схема проезда
                                                li: span #[i.icon.icon-23.icon--phone] (495) 649-69-71
                                                li: span #[i.icon.icon-23.icon--mail] contact@forumgroup.ru
                                                li: span #[i.icon.icon-15-lk.icon--lk-time] Пн-Пт с 9 до 22
                                    .cell.cell__md-6.cell__xs-12.lk-contacts
                                        .radio
                                            input(type="radio", id='check3', name='check')
                                            label(for='check3')
                                                b Склад АО Форум Нева #[br]
                                                span.text__xs 196105, г. Cанкт-Петербург, ул. Благодатная, д. 67
                                                span.tip.text__xs.text--brand 159 Р
                                        .lk-contacts-inner
                                            ul.list--unstyled.text__xs
                                                li
                                                    p: a.btn--link(href="#")
                                                            i.icon.icon-15-lk.icon--lk-location
                                                            span  Схема проезда
                                                li: span #[i.icon.icon-23.icon--phone] (495) 649-69-71
                                                li: span #[i.icon.icon-23.icon--mail] contact@forumgroup.ru
                                                li: span #[i.icon.icon-15-lk.icon--lk-time] Пн-Пт с 9 до 22
                                    .cell.cell__md-6.cell__xs-12.lk-contacts
                                        .radio
                                            input(type="radio", id='check4', name='check')
                                            label(for='check4')
                                                b Склад АО Форум Нева #[br]
                                                span.text__xs 196105, г. Cанкт-Петербург, ул. Благодатная, д. 67
                                                span.tip.text__xs.text--brand 159 Р
                                        .lk-contacts-inner
                                            ul.list--unstyled.text__xs
                                                li
                                                    p: a.btn--link(href="#")
                                                            i.icon.icon-15-lk.icon--lk-location
                                                            span  Схема проезда
                                                li: span #[i.icon.icon-23.icon--phone] (495) 649-69-71
                                                li: span #[i.icon.icon-23.icon--mail] contact@forumgroup.ru
                                                li: span #[i.icon.icon-15-lk.icon--lk-time] Пн-Пт с 9 до 22
                                    .cell.cell__md-6.cell__xs-12
                            .lk-form__item.delivery-block.delivery-block--trs-2
                                .row
                                    .cell.cell__md-6.cell__xs-12
                                        p
                                            b Введите данные для доставки: #[br]
                                            span #[sup *] - обязательные поля для заполнения
                                        .form__group
                                           select
                                            option Северо-западный регион
                                            option Северо-западный регион
                                            option Северо-западный регион
                                            option Северо-западный регион
                                        .form__group
                                           select
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                            option Санкт-Петербург
                                        .form__group
                                            +fieldInput('text', 'adrul', 'adrul', 'Адрес доставки *', true)
                                        .form__group
                                            +fieldInput('text', 'adrfac', 'adrfac', 'Контактное лицо *', true)
                                        .form__group
                                            +fieldInput('text', 'phone', 'fax', 'Мобильный телефон *', true)
                                        .form__group
                                            +fieldInput('text', 'phone', 'ph', 'Телефон / факс', false)
                                        .form__group
                                            +fieldInput('text', 'com', 'com', 'Комментарий', false)
                                        .form__group
                                            b.text--warning
                                                i.icon.icon-31x20-lk.icon--lk-calen
                                                | Желаемая дата доставки:
                                            fieldset.margtop20.relative
                                                input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                                                label Период
                                                i.icon.icon-15-lk.icon--lk-attention.tool(data-toggle="tooltip", data-placement="bottom", title="Дата доставки будет уточнена при подтверждении заказа с" +
                                                " оператором")
                                    .cell.cell__md-6.cell__xs-12
                                        img(src="images/map-order.jpg", alt="")
                                        .notice
                                            span.text__xs Если адрес на карте определился неверно, вы можете выбрать нужную точку на карте самостоятельно
                                b.text--warning Выберите транспортную компанию:
                                .row
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany1', name='trcompany')
                                                label(for='trcompany1')
                                                    .text--primary Форум Групп #[b.text--warning.pull-right 824 руб.]
                                                    span.text__xs  Срок доставки: 5 дней
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany2', name='trcompany')
                                                label(for='trcompany2')
                                                    .text--primary
                                                        img(src="images/trcompany2.png", alt="")
                                                        b.pull-right.text--warning 836 руб.
                                                    span.text__xs  Срок доставки: 5-7 дней
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany3', name='trcompany')
                                                label(for='trcompany3')
                                                    .text--primary
                                                        img(src="images/trcompany3.png", alt="")
                                                        b.pull-right.text--warning 836 руб.
                                                    span.text__xs  Срок доставки: 5 дней
                                .row
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany4', name='trcompany')
                                                label(for='trcompany4')
                                                    .text--primary
                                                        img(src="images/trcompany4.png", alt="")
                                                        b.pull-right.text--warning 824 руб.
                                                    span.text__xs  Срок доставки: 10 дней
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany5', name='trcompany')
                                                label(for='trcompany5')
                                                    .text--primary
                                                        img(src="images/trcompany5.png", alt="")
                                                        b.pull-right.text--warning 836 руб.
                                                    span.text__xs  Срок доставки: 5 дней
                                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                                        .notice
                                            .radio
                                                input(type="radio", id='trcompany6', name='trcompany')
                                                label(for='trcompany6')
                                                    .text--primary
                                                        img(src="images/trcompany6.png", alt="")
                                                        b.pull-right.text--warning 736 руб.
                                                    span.text__xs  Срок доставки: 5 дней
                        .text--center.margtop30.margbot30
                            ul.list--inline-pure
                                li: a.btn.btn--default(href="#") Назад
                                li: a.btn.btn--primary.text--uppercase(href="#") Далее
