main.page-main.lk
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            aside.cell.cell__lg-3.cell__xs-12.filter
                .lk-accordion.accordion.fg-filter
                    .lk-accordion__section
                        a.lk-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                            span.text--info.text__xs.text--uppercase
                                i.icon.icon--lk-menu
                                |  Меню
                            span.divider
                            b
                                i.icon.icon-25x24-lk.icon--lk-login
                                |  Личный кабинет
                        .accordion-content.accordion-content--mobile
                            ul.fg-menu.fg-menu--ver
                                li.active: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-login
                                    |  Личный кабинет
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-sert
                                    |  Заказы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-present
                                    |  Ваши бонусы
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-auto
                                    |  Доставка
                                li: a(href="#")
                                    i.icon.icon-25x24-lk.icon--lk-folder
                                    |  Документы
            section.cell.cell__lg-9.cell__xs-12
                ul.fg-menu.fg-menu--hor.fg-menu--hor--js
                    li.active: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-sort
                        |  Рабочий стол
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-draw
                        |  Редактирование профиля
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-bagw
                        |  Юридические лица
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-users
                        |  Сотрудники
                    li: a(href="#")
                        i.icon.icon-31x20-lk.icon--lk-loc
                        |  Объекты
                .lk-status
                    .lk-status__item
                        p.text__lg Ваш статус:
                    .lk-status__item.cell__xlg-5
                        h2 Партнер&nbsp;
                            i.icon.icon-31x20-lk.icon--lk-hand
                    .lk-status__item
                        .lk-present
                            .lk-present__item
                                p.text__lg Ваши баллы:
                            .lk-present__item
                                h2.text--primary 700
                                    i.icon.icon-31x20-lk.icon--lk-pres.v-baseline
                            .lk-present__item
                               a.btn.btn--transparent(href="#") Выбрать подарок
                .lk-info-status
                    .lk-info-status--top
                        .row
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        b.key
                                            i.icon.icon-31x20-lk.icon--lk-light
                                            |  Ваша задолжность составляет:
                                        b.value.text--warning.text__md 1 000 000 руб.
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        b.key
                                            i.icon.icon-31x20-lk.icon--lk-idea
                                            |  Просроченная задолжность составляет:
                                        b.value.text--warning.text__md 111 125 руб.
                    .lk-info-status--bottom
                        p: b Предоставленный лимит на отгрузку товаров:
                        .row
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        span.key.text__xs.text--grey Общий лимит на отгрузку товаров
                                            br
                                            | составляет
                                        span.value 1 000 000 руб.
                            .cell.cell__md-6.cell__xs-12
                                ul.list--counter
                                    li
                                        span.key.text__xs.text--grey Лимит на отгрузку товаров, с учетом
                                            br
                                            | уже сформированных заказов
                                        span.value 111 125 руб.
        section
            h2 Участие в акциях
            .lk-shares
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-1.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Вместе с TDM
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="100", data-sum="10000")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Узнать больше
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-2.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Неделя с DKC
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="60", data-sum="88888")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Узнать больше
                .lk-shares__item
                    .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .lk-shares__item--img
                                img(src="images/lk-share-3.jpg", alt="")
                        .cell.cell__lg-4.cell__md-6.cell__xs-12
                            h2 Подарочная карта  на 4000 руб.
                            p.text__lg
                                i.icon.icon-23.icon--date
                                | С
                                b  01.06.2016
                                |  до
                                b  08.06.2016
                            p.text--primary Прогресс участия:
                            .progress-bar
                                .bar.slider-line--js(data-per="30", data-sum="10000")
                                    .bar-children
                                        .bar-txt
                                        .bar-info Все готово!
                                span.text__xs.text--info.pull-left 0
                                span.text__xs.text--info.pull-right 100
                        .cell.cell__lg-5.cell__xs-12
                            .lk-shares__item--body
                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                .text--right
                                    a.btn.btn--transparent(href='#') Узнать больше
                .hide--all(style="display:none")
                    .lk-shares__item
                        .row
                            .cell.cell__lg-3.cell__md-6.cell__xs-12
                                .lk-shares__item--img
                                    img(src="images/lk-share-1.jpg", alt="")
                            .cell.cell__lg-4.cell__md-6.cell__xs-12
                                h2 Неделя с DKC
                                p.text__lg
                                    i.icon.icon-23.icon--date
                                    | С
                                    b  01.06.2016
                                    |  до
                                    b  08.06.2016
                                p.text--primary Прогресс участия:
                                .progress-bar
                                    .bar.slider-line--js(data-per="10", data-sum="150000")
                                        .bar-children
                                            .bar-txt
                                            .bar-info Все готово!
                                    span.text__xs.text--info.pull-left 0
                                    span.text__xs.text--info.pull-right 100
                            .cell.cell__lg-5.cell__xs-12
                                .lk-shares__item--body
                                    p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                    .text--right
                                        a.btn.btn--transparent(href='#') Узнать больше
                .padbot20.padtop20
                    a.btn--link.show--all(href="#")
                        span Еще
                            i.icon-angle-down
            .fg-accordion.accordion
                .fg-accordion__section
                    a.fg-accordion__section_title.accordion-title(href="#")
                        b.text__lg.text--primary Список сотрудников
                    .fg-accordion__section_content.accordion-content
                        p: b Иванов Иван
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        p: b Сидоров Алексей
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        p: b Петров Александр
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        .hide--all(style="display:none")
                            p: b Иванов Иван
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                            p: b Сидоров Алексей
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                            p: b Петров Александр
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        a.btn--link.show--all.padbot20.padtop20(href="#")
                            span Еще
                                i.icon-angle-down
                .fg-accordion__section
                    a.fg-accordion__section_title.accordion-title(href="#")
                        b.text__lg.text--primary Юридические лица
                    .fg-accordion__section_content.accordion-content
                        p: b ООО «Иванов и КО»
                            a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        p
                            i.icon.icon-31x20-lk.icon--lk-serto(data-toggle="tooltip", data-placement="bottom",
                            title="Юридическое лицо с договором")
                            b ООО «Сидоров и КО»
                            a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        p: b ООО «Петров и КО»
                            a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        .hide--all(style="display:none")
                            p: b ООО «Сидоров и КО»
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                            p: b ООО «Петров и КО»
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                            p: b ООО «Иванов и КО»
                                a(href="#"): i.icon.icon-31x20-lk.icon--lk-pen
                        a.btn--link.show--all.padbot20.padtop20(href="#")
                            span Еще
                                i.icon-angle-down
            h2 Часто просматриваемые товары
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_lk-good
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
            .text--center.margtop30
                a.btn.btn--transparent(href="#") Посмотреть еще
            h2 Новости компании
            .fg-news
                .row
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-1.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") Новое поступление от DKC
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-2.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") День рождения Форум Электро!
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        .fg-news__item
                            .fg-news__item--img
                                img(src="images/news-1.jpg", alt="")
                            .fg-news__item--inner
                                .fg-news__item--date
                                    span.text--default 01.06.2016
                                .fg-news__item--title
                                    h2: a(href="#") Новое поступление от TDM
                                .fg-news__item--desc
                                    p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи  специальных видеокамер, установленных на головах птиц...
                .text--center
                    a.btn.btn--transparent(href="#") Все новости