main.page-main
    .container
        section.board.margtop30
            .row
                .cell.cell__lg-6
                    h1 Textbox
                    h1 H1			24pt 			Open Sans Semibold 			#2f4d59
                    h2 H2			22pt 			Open Sans Semibold 			#2f4d59
                    h3 H3			18pt 			Open Sans Semibold 				#2f4d59
                    h4 H4			15pt 			Open Sans Semibold 					#2f4d59
                    h5 H5			13pt 				Open Sans Semibold 						#2f4d59
                    h6 H6			11pt 				Open Sans Semibold 						#2f4d59
                    p Open Sans Redular		15pt		#678293
                .cell.cell__lg-6
                    p Lorem ipsum
                        b  Open Sans Semibold #2f4d59,
                        |  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        a(href="#")  link in text #00a5ff.
                    p.text__sm Open Sans Regular	13pt		#678293
                    p.text__sm Lorem ipsum
                        b  Open Sans Semibold #2f4d59,
                        |  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        a(href="#")   link in text #00a5ff.
                    p Open Sans Regular 15pt
                    ul.list--bullet
                        li: span Item #1;
                        li: span Item #2;
                        li: span Item #3;
        section.text-template
            h4 Photo Gallery
            .cell__lg-11.center-block
                .carousel-item
                    - for (var x = 1; x < 7; x++)
                        a: img(src="images/slider/imgCarousel-#{x}.jpg" alt="")
            h4 Photo Gallery
            .cell__lg-9.center-block
                .slideshow
                    - for (var x = 1; x < 5; x++)
                        div
                            img(src="images/slider/slideshow.jpg" alt="")
                            .inner: b.text__lg Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        section.margbot20
            h1 Tooltips
            .row
                .cell.cell__md-3
                    .media.dropdown
                        .media__img: img(src="images/imgAva.png" alt="")
                        .media__body
                            a.btn--link#dLabel(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): span  Петров Павел
                            p.text__xs Ваш личный менеджер
                            .dropdown-menu(aria-labelledby="dLabel")
                                ul.list--unstyled
                                    li
                                        p.text__md: b
                                            i.icon.icon-23.icon--in
                                            |  +7(911)123-45-67
                                    li
                                        p
                                            i.icon.icon-23.icon--in
                                            |  mail@forumgroup.ru
                                    li
                                        p
                                            i.icon.icon-23.icon--in
                                            |  icq:123456789
                                    li
                                        p
                                            span.text--primary Помощник
                                            |  Михаил Светлов
                                    li
                                        p.text__md: b
                                            i.icon.icon-23.icon--in
                                            |  +7(911)123-45-67
                .cell.cell__md-3
                    .dropdown
                        a.btn.btn--full.btn--default#dLabel1(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Петров Павел
                        .dropdown-menu.dropdown-menu--md(aria-labelledby="dLabel1")
                            form
                                .form__group
                                    +fieldInput('text', 'name', 'login', 'Ваш логин', false)
                                .form__group
                                    +fieldInput('password', 'name', 'pass', 'Ваш пароль', false)
                                .form__group
                                    a.text__xs.btn--link(href="#"): span  Забыли пароль?
                                ul.list--inline-pure.text--right.margtop20
                                    li: a.btn.btn--transparent(href='#') Войти
                                    li: b: a.btn--link.btn--link--sec(href='#'): span  Отмена
                .cell.cell__md-3
                    .dropdown
                        a.btn.btn--full.btn--default#dLabel2(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Петров Павел
                        .dropdown-menu.dropdown-menu--md(aria-labelledby="dLabel2")
                            form
                                h3 Восстановление пароля
                                .form__group
                                    +fieldInput('email', 'name', 'email', 'Ваш e-mail', false)
                                .form__group
                                    p.text__xs На ваш адрес будет отправлена инструкция по восстановлению пароля.
                                ul.list--inline-pure.text--right.margtop20
                                    li: a.btn.btn--transparent(href='#') Востановить пароль
                                    li: b: a.btn--link.btn--link--sec(href='#'): span  Отмена
                .cell.cell__md-3
                    .dropdown
                        a.btn.btn--full.btn--default#dLabel3(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Петров Павел
                        .dropdown-menu.dropdown-menu--md(aria-labelledby="dLabel3")
                            a.close(href="#", data-toggle="dropdown",  aria-haspopup="false", aria-expanded="false"): i.icon.icon-23.icon--close
                            form.text__xs
                                h4.text--success  Наличие:
                                ul.list--counter
                                    li
                                        span.key Москва
                                        span.sec.text--warning 300 м
                                        span.value.text--warning Сейчас
                                    li
                                        span.key Санкт-Петербург
                                        span.sec.text--warning 300 м
                                        span.value.text--warning Сейчас
                                    li
                                        span.key Центральный склад
                                        span.sec.text--warning 300 м
                                        span.value.text--warning 2-3 дня
                                ul.list--counter
                                    li
                                        span.key При отсутствии на центральном складе
                                        span.value.text--warning 14 + 3 дня
                                p.text--warning По запросу уточняйте у Вашего менеджера
            h1 Opened Menu
            ul.list--inline
                li
                    include ../components/_btn-catalog
                li: .btn-catalog
                    button.btn.btn--success.btn__lg.btn__icon--left.show--js(type='button')
                        i.icon.icon-23.icon--thunder
                        | быстрый заказ
                    .fg-fastorder
                        p Добавить товары по:
                        .form__group
                            +fieldRadio('По артикулам производителей', 'order1', 'order', false)
                            +fieldRadio('По кодам Форум Электро', 'order2', 'order', true)
                        .form__group.row
                            .cell.cell__md-7
                                +fieldInput('text', 'code', 'code', 'Код/артикул', false)
                            .cell.cell__md-4.pull-right
                                +fieldInput('text', 'count', 'count', 'Кол-во', false)
                        .form__group.row
                            .cell.cell__md-7
                                +fieldInput('text', 'code1', 'code1', 'Код/артикул', false)
                            .cell.cell__md-4.pull-right
                                +fieldInput('text', 'count1', 'count1', 'Кол-во', false)
                        .form__group.row
                            .cell.cell__md-7
                                +fieldInput('text', 'code2', 'code2', 'Код/артикул', false)
                            .cell.cell__md-4.pull-right
                                +fieldInput('text', 'count2', 'count2', 'Кол-во', false)
                        .text--center.center-block.cell__xs-10
                            .form__group
                                a.btn.btn--primary.btn--full(href='#') Добавить в корзину
                            a.btn--link(href="#")
                                i.icon-left-dir
                                span  Загрузить больше из файла
        section.board
            table.table
                thead
                    tr
                        th.t5: img(src="images/icons/icoTable-1.png" alt="")
                        th Product Name
                        th Rating
                        th Price
                tbody
                    tr
                        td: +fieldCheckbox('', 'table1', false)
                        td Adidas EQT Cushion 91
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $145
                    tr
                        td: +fieldCheckbox('', 'table2', true)
                        td Brita Water Filter
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $29
                    tr
                        td: +fieldCheckbox('', 'table3', true)
                        td Gold Leaf Upcycled Bowl
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $129
                    tr
                        td: +fieldCheckbox('', 'table4', false)
                        td Kerr Optic Umbrella
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $59
                    tr
                        td: +fieldCheckbox('', 'table5', true)
                        td Linear Stem Backpack
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $185
                    tr
                        td: +fieldCheckbox('', 'table6', false)
                        td Odyssey Pack
                        td
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                            img(src="images/star.png", alt="")
                        td: b $215
            h1 Breadcrumps
            include ../components/_breadcrumbs
            h1 Sort By
            .tabs
                include ../components/_sort
                .tabs__content.active 1
                .tabs__content 2
                .tabs__content 3
            h1 Filter Tags
            +tags('Filter #1', 'Filter #2', 'Filter #3', 'Filter #3', 'Filter #4', 'Filter #5')
            h1 Pagination
            include ../components/_paginator
            h1 Page Navigation
            .row
                .cell.cell__sm-6.cell__xs-12
                    include ../components/_pager
                .cell.cell__sm-6.cell__xs-12
                    ul.list--inline
                        li: b: a.btn--link(href="#")
                                i.icon-left-dir
                                span  Link Button with Icon
                        li: b: a.btn--link(href="#")
                                i.icon-left-dir
                                span  Link Button with Icon
            .btnBlock
                .row
                    .cell.cell__sm-3.cell__xs-12
                        h5 Buttons
                        ul.list--unstyled
                            li: a.btn.btn--primary(href='#') Normal
                            li.margtop20: a.btn.btn--primary(href='#') Hover
                            li.margtop20: a.btn.btn--primary.active(href='#') Pressed
                    .cell.cell__sm-9.cell__xs-12
                        h5 Button Sizes & Variations
                        a.btn.btn--default.btn__xs(href='#') Tiny
                        a.btn.btn--default.btn__sm(href='#') Small
                        a.btn.btn--default(href='#') Standard
                        a.btn.btn--default.btn__lg(href='#') Large
                        .margtop50
                            button.btn.btn--default.btn__xs(type='button', disabled=true) Tiny
                            button.btn.btn--default.btn__sm(type='button', disabled=true) Small
                            button.btn.btn--default(type='button', disabled=true) Standard
                            button.btn.btn--default.btn__lg(type='button', disabled=true) Large
                        .btn__group
                            button.btn.btn--primary.btn__lg(type='button')
                                img.icon(src="images/icons/icon.png")
                                |  Standard
                            button.btn.btn--transparent.btn__lg(type='button')
                                img.icon(src="images/icons/icon2.png")
                                |  Large
            .formsBlock
                h1 Buttons
                .row
                    .cell.cell__sm-3.cell__xs-12
                        h5 Ghost Buttons
                        ul.list--unstyled
                            li: a.btn.btn--transparent(href='#') Normal
                            li.margtop20: a.btn.btn--transparent(href='#') Hover
                            li.margtop20: a.btn.btn--transparent.active(href='#') Pressed
                            li.margtop20: button.btn.btn--transparent(type='button', disabled=true) Pressed
                    .cell.cell__sm-4
                        h5 Inputs
                        .form__group
                            +fieldInput('text', 'name', 'name', 'Grade  Kit', false)
                        .form__group
                            fieldset
                                input.form-control(type="text", disabled=true)
                                label Disabled Field
                        .form__group
                            +fieldInput('search', 'search', 'search', 'Field with Icon', false)
                        .form__group
                            +fieldInput('text', 'alert', 'alert', 'Alert Field', true)
                        h5 Dropdowns
                        .form__group
                            fieldset
                                select.select-hard.form-control
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Opened Select List
                    .cell.cell__sm-4
                        h5 Checkboxes & Radio Buttons
                        .form__group
                            +fieldCheckbox('Checkbox', 'item1', false)
                            +fieldCheckbox('Checkbox Selected', 'item2', true)
                        .form__group
                            +fieldRadio('Radio Button', 'item11', 'radio', false)
                            +fieldRadio('Radio Button Selected', 'item12', 'radio', true)
                        h5 Text Area
                            +fieldTextarea('text', 'text', '', 'Good news, everyone', 4, false)
            .formsBlock
                h1 Link Buttons
                .row
                    .cell.cell__sm-2.cell__xs-12
                        div: a.btn--link(href="#"): span  Link Button
                        div: a.btn--link.disabled(href="#"): span  Link Button
                    .cell.cell__sm-2.cell__xs-12
                        div
                            a.btn--link(href="#")
                                i.icon-left-dir
                                span Link Button with Icon
                        div
                            a.btn--link.disabled(href="#")
                                i.icon-left-dir
                                span Link Button with Icon
                    .cell.cell__sm-2.cell__xs-12
                        div: b: a.btn--link(href="#"): span  Link Bold Button
                        div: b: a.btn--link.disabled(href="#"): span  Link Bold Button
                    .cell.cell__sm-2.cell__xs-12
                        div: b: a.btn--link.text--primary(href="#"): span  Colored Link
                        div: b: a.btn--link.disabled(href="#"): span  Colored Link
                    .cell.cell__sm-2.cell__xs-12
                        div: b: a.btn--link.btn--link--sec(href="#"): span   Text Button
                        div: b: a.btn--link.btn--link--sec.disabled: span  Text Button
        section
            .row
                .cell.cell__md-6.cell__xs-12
                    h1 Tabs Menu
                    .tabs.fg-tabs
                        ul.tabs__caption.fg-tabs__caption
                            li.active Selected Tab
                            li Tab #2
                            li Tab #3
                        .tabs__content.fg-tabs__content.active
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            | sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .tabs__content.fg-tabs__content
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        .tabs__content.fg-tabs__content
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    h1 Horizontal Menu
                    ul.fg-menu.fg-menu--hor
                        li.active: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Selected Menu
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #2
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #3
                    h1 Vertical Menu With Icons
                    ul.fg-menu.fg-menu--ver
                        li.active: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Selected Menu
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #2
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #3
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #4
                        li: a(href="#")
                            i.icon.icon-23.icon--in
                            |  Menu #5
                .cell.cell__md-6.cell__xs-12
                    h1 Toggle Segments
                    .fg-accordion.accordion
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Closed Segment &nbsp;
                                span  45
                            .fg-accordion__section_content.accordion-content
                                p.text__xs Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Opened Segment &nbsp;
                                span  61
                            .fg-accordion__section_content.accordion-content
                                p.text__xs Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                ul.list--inline.text--center.margtop30
                                    li: a.btn.btn--transparent(href='#') See More
                                    li: a.btn.btn--default(href='#') Roll Up
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Closed Segment &nbsp;
                                span  30
                            .fg-accordion__section_content.accordion-content
                                p.text__xs Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                ul.list--inline.text--center.margtop30
                                    li: a.btn.btn--transparent(href='#') See More
                                    li: a.btn.btn--default(href='#') Roll Up
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title(href="#")
                                b.text__lg.text--primary Opened Segment &nbsp;
                                span  61
                            .fg-accordion__section_content.accordion-content
                                p.text__xs Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                ul.list--inline.text--center.margtop30
                                    li: a.btn.btn--transparent(href='#') See More
                                    li: a.btn.btn--default(href='#') Roll Up
                    .row
                        .cell.cell__sm-6.cell__xs-12
                            .fg-accordion--mini.accordion
                                .fg-accordion__section
                                    a.fg-accordion__section_title.accordion-title(href="#") Title #1
                                    .fg-accordion__section_content.accordion-content
                                        .row
                                            .cell.cell__md-6.cell__xs-12
                                                +fieldCheckbox('204', 'check1', false)
                                                +fieldCheckbox('235', 'check2', false)
                                                +fieldCheckbox('У 675', 'check3', false)
                                                +fieldCheckbox('Е 427', 'check4', true)
                                                +fieldCheckbox('734', 'check5', false)
                                            .cell.cell__md-6.cell__xs-12
                                                +fieldCheckbox('204', 'check6', false)
                                                +fieldCheckbox('235', 'check7', true)
                                                +fieldCheckbox('У 675', 'check8', false)
                                                +fieldCheckbox('Е 427', 'check9', false)
                                                +fieldCheckbox('734', 'check10', false)
                        .cell.cell__sm-6.cell__xs-12
                            .fg-accordion--mini.accordion
                                .fg-accordion__section
                                    a.fg-accordion__section_title.accordion-title(href="#") Title #2
                                    .fg-accordion__section_content.accordion-content
                                        .row
                                            .cell.cell__md-6.cell__xs-12
                                                +fieldCheckbox('204', 'check11', false)
                                                +fieldCheckbox('235', 'check12', false)
                                                +fieldCheckbox('У 675', 'check13', false)
                                                +fieldCheckbox('Е 427', 'check14', true)
                                                +fieldCheckbox('734', 'check15', false)
                                            .cell.cell__md-6.cell__xs-12
                                                +fieldCheckbox('204', 'check16', false)
                                                +fieldCheckbox('235', 'check17', true)
                                                +fieldCheckbox('У 675', 'check18', false)
                                                +fieldCheckbox('Е 427', 'check19', false)
                                                +fieldCheckbox('734', 'check20', false)
