main.page-main
    .container(itemscope, itemtype="http://schema.org/Article")
        include ../components/_breadcrumbs
        .this-or-this.this-or-this--mobile
            .this-or-this__this.text--left
                h1(itemprop="headline") Новое поступление от DKC
            .this-or-this__this.text--right
                ul.list--inline
                    li: b: a.btn--link(href="#")
                        i.icon-left-dir
                        span Все новости
                    li: span.line-v
                    li: b: a.btn--link(href="#")
                        i.icon.icon-23.icon--box.margleft0
                        span Архив новостей
        .fg-new
            .fg-new--img
                img(src="images/news.jpg", alt="")
            .fg-new--desc(itemprop="articleBody")
                .fg-new--date
                    span(itemprop="datePublished", content="2016-06-01") 01.06.2016
                p Самки павлинов, встречая самцов, почти не смотрят на великолепные перья в верхней части их хвостов, об этом свидетельствует эксперимент, в котором при помощи специальных видеокамер, установленных на головах птиц, ученые смогли проследить, как именно самки рассматривают павлинов-самцов и что привлекает их внимание.
                    br
                    |  Считается, что красивый хвост нужен павлинам-самцам для привлечения самок. Джессика Йоржински из  Университета Дьюка в Дареме (США) и ее коллеги выяснили, как самки на самом деле воспринимают яркую раскраску самцов. Результаты их исследования опубликованы в Journal of Experimental Biology.
                    br
                    | Биологи приучили самок к шлему с двумя камерами и небольшому рюкзачку с батареями и оборудованием для передачи видеопотока, которые им предстояло носить. Одна из камер снимала окружающую обстановку, вторая записывала движения зрачка птицы, по которым ученые уточняли данные о направлении ее взгляда, полученные с помощью первой камеры.
                    br
                    | Затем биологи поместили самок павлина в просторные клетки с двумя самцами в каждой. Самцы демонстрировали свои хвосты, а самки их разглядывали. Несмотря на все усилия самцов, самки уделяли им всего 21-27% своего внимания, а все остальное время они озирались в поисках хищников или пищи. Помахивая хвостом, самцам удавалось удержать внимание самок немного дольше, но те все равно рассматривали не роскошные перья, а нижнюю часть хвоста, редко поднимая взгляд выше.
                p Биологи считают, что верхняя часть хвоста интересует самок, когда они смотрят на самца с далекой дистанции, выискивая его среди густой травы, а вот на близком расстоянии они больше интересуются нижней частью. Возможно, по ее размерам самки определяют возраст потенциальных партнеров, предполагают ученые.
        .cell__md-11.center-block.margbot30
            .carousel-item
                - for (var x = 1; x < 7; x++)
                    a: img(src="images/slider/imgCarousel-#{x}.jpg" alt="")
        .this-or-this.margbot30.this-or-this--mobile
            .this-or-this__this.text--left
                b: a.btn--link(href="#")
                    i.icon-left-dir
                    span Все новости
            .this-or-this__this.text__md--right.text--center
                ul.pager
                    li.previous
                        a.arr(href='#')
                            i.icon-left-dir
                        a(href='#')
                            |  Следующая новость
                            i.icon-right-dir