main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar
            .this-or-this
                .this-or-this__this.text--left
                    h1 Акции
                .this-or-this__this.text--right
                    ul.list--inline
                        li: b: a.btn--link(href="#")
                            i.icon.icon-23.icon--box.margleft0
                            span  Архив акций
            .row
                aside.cell.cell__lg-3.cell__xs-12
                    .accordion.fg-filter
                        .fg-accordion__section
                            a.fg-accordion__section_title.accordion-title.accordion-title--mobile(href="#")
                                b.text__lg
                                    i.icon.icon-20.icon--filter
                                    span  Фильтры
                            .accordion-content
                                .board
                                    p Акции по бренду
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название бренда
                                .board
                                    p Категории
                                    fieldset
                                        select.select-hard.form-control
                                            option(selected)
                                            option Reka cables
                                            option Novkabel
                                            option Prysmian
                                            option Helukabel
                                        label.label-hard Название Категории
                                ul.list--inline.margtop20.clearfix
                                    li.cell__md-7.pull-left
                                        a.btn.btn--transparent.btn--full(href='#') Применить
                                    li.cell__md-5.pull-right
                                        a.btn.btn--default.btn--full(href='#') Сбросить
                section.cell.cell__lg-9.cell__xs-12
                    .index-shares
                        .row
                            - for (var x = 1; x < 3; x++)
                                .cell.cell__md-6.cell__xs-12
                                    .index-shares__item
                                        .index-shares__item--img
                                            img(src="images/shares-1.jpg", alt="")
                                        .index-shares__item--inner
                                            .index-shares__item--title
                                                h2 Подарочная карта  на 4000 руб. на покупку бытовой техники
                                            .index-shares__item--desc
                                                p.text__lg
                                                    i.icon.icon-23.icon--date
                                                    | С
                                                    b  01.06.2016
                                                    |  до
                                                    b  08.06.2016
                                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                            .text--center.margtop20
                                                a.btn.btn--transparent(href='#') Узнать больше
                                .cell.cell__md-6.cell__xs-12
                                    .index-shares__item
                                        .index-shares__item--img
                                            img(src="images/shares-2.jpg", alt="")
                                        .index-shares__item--inner
                                            .index-shares__item--title
                                                h2 Акция на испытательные коробки переходные серии ИКП
                                            .index-shares__item--desc
                                                p.text__lg
                                                    i.icon.icon-23.icon--date
                                                    | С
                                                    b  01.06.2016
                                                    |  до
                                                    b  08.06.2016
                                                p Бонусная программа - отличный способ сэкономить на покупке сувениров, если вы коллекционер и покупаете сувениры часто и много...
                                            .text--center.margtop20
                                                a.btn.btn--transparent(href='#') Узнать больше