main.page-main
    .container
        include ../components/_breadcrumbs
        .this-or-this.this-or-this--mobile
            .this-or-this__this.text--left
                h1 Новое поступление от DKC
            .this-or-this__this.text--right
                ul.list--inline
                    li: b: a.btn--link(href="#")
                        i.icon-left-dir
                        span Все акции
                    li: span.line-v
                    li: b: a.btn--link(href="#")
                        i.icon.icon-23.icon--box.margleft0
                        span Архив акций
        .fg-share
            .fg-share--img
                h1.text--uppercase дополнительная
                    br
                    | скидка 30%
                .date
                    p.text__lg Дата проведения акции:
                    p.text__lg
                        i.icon.icon-23.icon--date
                        | С
                        b  01.06.2016
                        |  до
                        b  08.06.2016
                //img(src="images/share.jpg", alt="")
            .fg-share--desc
                p.text__lg
                    b Действует на товары из категории:
                    span  Кабель и изоляционная арматура
                p Компания TDM ELECTRIC с 19 августа по 31 октября 2016 года проводит акцию на испытательные коробки переходные серии ИКП.
                p
                    span.text__lg Условия акции:
                    br
                    | При покупке испытательных коробок переходных серии ИКП в количестве 100 штук и более предоставляется дополнительная скидка 30%.
                    br
                    span.text--info Возможная скидка за предоплату составляет 3%
        h1 Товары, участвующие в акции:
        .row
            .cell.cell__lg-9.cell__xs-12
                .cards.hidden__sm.hidden__xs
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_badge-newnone--f
                .cards.visible__sm.visible__xs
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .text--center.margtop20.margbot40
                    a.btn.btn--transparent(href="#") Посмотреть еще
            .cell.cell__lg-3.cell__xs-12.visible__lg.visible__xlg
                img(src="images/banner.jpg", alt="")