main.page-main
    .container
        include ../components/_breadcrumbs
        h1= title
        h2.text--primary Каталог товаров
    .fg-sitemap
        .container
            .row
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Кабель и изоляционная арматура
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                            li: a(href="#") Кабель СИП и арматура
                            ul.fg-sitemap-inner-s
                                li: a(href="#") Муфты кабельные
                                li: a(href="#") Кабель силовой
                                li: a(href="#") Монтажные провода
                                li: a(href="#") Кабель СИП и арматура
                                li: a(href="#") Кабель слаботочный
                                ul.fg-sitemap-inner-t
                                    li: a(href="#") Кабеленесущие системы
                                    li: a(href="#") Кабель и провод
                                    li: a(href="#") Низковольтное оборудование
                                    li: a(href="#") Электроустановочные изделия
                                    li: a(href="#") Светотехника
                                    li: a(href="#") Низковольтное оборудование
                                    li: a(href="#") Электроустановочные изделия
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Низковольтное
                            br
                            | оборудование
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                    ul.fg-sitemap-parent
                        li: a(href="#") Низковольтное
                            br
                            | оборудование
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Муфты кабельные
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Кабель и изоляционная арматура
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                            li: a(href="#") Кабель СИП и арматура
                    ul.fg-sitemap-parent
                        li: a(href="#") Низковольтное
                            br
                            | оборудование
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Кабель и изоляционная арматура
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
                            li: a(href="#") Кабель СИП и арматура
                    ul.fg-sitemap-parent
                        li: a(href="#") Низковольтное
                            br
                            | оборудование
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Муфты кабельные
                            li: a(href="#") Кабель силовой
                            li: a(href="#") Монтажные провода
    .container
        h2.text--primary О компании
    .fg-sitemap
        .container
            .row
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") О компании
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Проекты
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Вакансии
                        ul.fg-sitemap-inner-f
                            li: a(href="#") Москва
                            li: a(href="#") Санкт-Петербург
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Реквизиты
    .container
        h2.text--primary Бренды
    .fg-sitemap.margbot40
        .container
            .row
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Lappkabel
                        li: a(href="#") Lappkabel
                        li: a(href="#") Lappkabel
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") ITK
                        li: a(href="#") ITK
                        li: a(href="#") ITK
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") DKC
                        li: a(href="#") DKC
                        li: a(href="#") DKC
                .cell.cell__lg-3.cell__md-3.cell__xs-12
                    ul.fg-sitemap-parent
                        li: a(href="#") Novkabel
                        li: a(href="#") Novkabel
                        li: a(href="#") Novkabel