main.page-main
    .container
        include ../components/_breadcrumbs
        h1 Типовая страница
        .fg-type
            .fg-type--img
                img(src="images/type-img.jpg", alt="")
            .fg-type--desc
                .row
                    .cell.cell__md-9.cell__xs-12
                        p Группа компаний ФОРУМ ЭЛЕКТРО основана в 1996 году. Сегодня ФОРУМ ЭЛЕКТРО — это динамично развивающийся ведущий комплексный поставщик на рынке электрооборудования в России. Является официальным дистрибьютором и представителем лучших европейских и российских производителей электро- и светотехники.
                            br
                            | В активе ФОРУМ ЭЛЕКТРО — успешные поставки на крупнейшие инфраструктурные проекты России, самые современные и сложные, знаковые строительные объекты, продвижение самых передовых инновационных продуктов на отечественном рынке электротехники, в промышленности, строительстве, транспорте, связи, энергетике. Мы предлагаем партнёрам участие в расчёте и оптимизации проектных энергоэффективных решений, совместно с производителями — лидерами электротехнической отрасли — ABB, DKC, LEGRAND, SCHNEIDER ELECTRIC, СВЕТОВЫЕ ТЕХНОЛОГИИ и др.
                            br
                            | В активе ФОРУМ ЭЛЕКТРО — успешные поставки на крупнейшие инфраструктурные проекты России, самые современные и сложные, знаковые строительные объекты, продвижение самых передовых инновационных продуктов на отечественном рынке электротехники, в промышленности, строительстве, транспорте, связи, энергетике. Мы предлагаем партнёрам участие в расчёте и оптимизации проектных энергоэффективных решений, совместно с производителями — лидерами электротехнической отрасли — ABB, DKC, LEGRAND, SCHNEIDER ELECTRIC, СВЕТОВЫЕ ТЕХНОЛОГИИ и др.
                    .cell.cell__md-3.cell__xs-12
                        img(src="images/type-img-1.jpg", alt="")
                    .cell.cell__md-6.cell__xs-12
                        h3 Основные товарные группы поставляемой продукции:
                        ul.list--bullet
                            li: span кабеленесущие системы;
                            li: span кабель и провод;
                            li: span низковольтное оборудование и компоненты;
                            li: span электроустановочные изделия;
                            li: span светотехника;
                            li: span низковольтное оборудование и компоненты;
                            li: span электроустановочные изделия;
                            li: span кабель и провод;
                            li: span низковольтное оборудование и компоненты;
                            li: span электроустановочные изделия;
                    .cell.cell__md-3.cell__xs-12
                        img(src="images/type-img-2.jpg", alt="")
                    .cell.cell__md-3.cell__xs-12
                        img(src="images/type-img-3.jpg", alt="")

        .cell__md-11.center-block.margbot30
            .carousel-item
                - for (var x = 1; x < 7; x++)
                    a: img(src="images/slider/imgCarousel-#{x}.jpg" alt="")