main.page-main
    .container
        include ../components/_breadcrumbs
        .row.with-sidebar
            include ../components/_sidebar
            section.cell.cell__lg-9.cell__xs-12
                .fg-accordion.accordion.hidden__lg.hidden__xlg
                    .fg-accordion__section
                        a.fg-accordion__section_title.accordion-title(href="#")
                            b
                                i.icon.icon-20.icon--filter
                                span  Москва
                        .fg-accordion__section_content.accordion-content
                            a.btn--link(href="#"): span Санкт-Петербург
                            br
                            a.btn--link(href="#"): span Самара
                            br
                            a.btn--link(href="#"): span Нижний новгород
                            br
                            a.btn--link(href="#"): span Краснодар
                            br
                            a.btn--link(href="#"): span Ростов-на-Дону
                            br
                            a.btn--link(href="#"): span Череповец
                            br
                            a.btn--link(href="#"): span Петрозаводск
                            br
                            a.btn--link(href="#"): span Архангельск
                            br
                            a.btn--link(href="#"): span Казань
                            br
                            a.btn--link(href="#"): span Воронеж
                            br
                            a.btn--link(href="#"): span Вся Россия
                h1 Вакансии
                .fg-vacancies
                    img(src="images/vacancies-img.jpg", alt="")
                    p «Форум Электро» — динамично развивающаяся группа компаний, один из ведущих общероссийских комплексных поставщиков на рынке электротехнической и светотехнической, кабельно-проводниковой продукции (КПП), низковольтного оборудования (НВО), официальный дистрибьютор и представитель ведущих европейских и отечественных производителей — приглашает соискателей в свой офис на нижеследующие вакантные должности.
                    br
                    p Просьба отправлять резюме на электронный почтовый ящик с адресом:
                        br
                        | recrut@forumgroup.ru
                .fg-accordion.accordion
                    .fg-accordion__section
                        a.fg-accordion__section_title.accordion-title(href="#")
                            b.text__lg.text--primary Менеджер по продажам
                        .fg-accordion__section_content.accordion-content
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Требования к соискателю:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Образование не ниже среднего (желательно высшее техническое, среднее техническое);
                                        br
                                        | Приветствуется прохождение тренингов продаж;
                                        br
                                        | Рассматриваются выпускники ВУЗов электротехнических и энергетических специальностей
                                        br
                                        | (возможно без опыта работы);
                                        br
                                        | Опыт  личных продаж от 1 года (желательно электротехнического/светотехнического;
                                        br
                                        | Низковольтного, строительного оборудования и материалов, кабельно-проводниковой продукции,
                                        br
                                        | услуг инжиниринга);
                                        br
                                        | Приветствуется опыт работы со следующими группами клиентов: строительно-монтажные организации,
                                        br
                                        | проектировщики, промышленные организации, корпоративные клиенты, оптовики электротехники;
                                        br
                                        | Навыки активного поиска клиентов;
                                        br
                                        | Личные качества: активность, ответственность, умение устанавливать контакты, упорство в достижение
                                        br
                                        | цели, клиентоориентированность, доброжелательность;
                                        br
                                        | Приветствуется знание рынка товаров, предоставляемых компанией «ФОРУМ ЭЛЕКТРО»;
                                        br
                                        | Компьютерная грамотность - уверенный пользователь офисных программам «MS OFFICE»;
                                        br
                                        | Желательно, знание 1С;
                                        br
                                        | Возраст от 22 до 45 лет, пол не имеет значения, гражданство РФ или РБ.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Должностные обязанности:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Оптовые продажи электротехнической, светотехнической и кабельно-проводниковой продукции;
                                        br
                                        | Активный поиск новых клиентов и работа с клиентами существующей базы, увеличение объёма продаж;
                                        br
                                        | Ведение переговоров, выезды к клиентам, консультирование по продукции, решение конфликтных ситуаций;
                                        br
                                        | Выполнение плана продаж продукции;
                                        br
                                        | Заключение договоров на поставку;
                                        br
                                        | Контроль отгрузок и платежей;
                                        br
                                        | Поддержание и расширение клиентской базы;
                                        br
                                        | Контроль выполнения обязательств.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Условия работы:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Компания предлагает стабильную  официальную заработную плату (фиксированный оклад (размер определяется
                                        | по результатам собеседования в зависимости от опыта работы и навыков кандидата)+проценты);
                                        br
                                        | оплачиваемый отпуск 28 календарных дней и оплачиваемые больничные;
                                        br
                                        | оплата мобильной связи;
                                        br
                                        | компенсация проезда при разъездном характере работы;
                                        br
                                        | возможность карьерного роста до ведущего менеджера по продажам;
                                        br
                                        | работа в дружном коллективе, возможность расти и развиваться в компании;
                                        br
                                        | график работы: 09:00-18:00, (суб./воск. - выходные);
                                        br
                                        | Испытательный срок 1,5-3 месяца.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Адрес:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Московская область, г. Долгопрудный, мкр. Хлебниково
                            .text--center.margtop30
                                a.btn.btn--transparent.popup-modal(href="#resume-id") Откликнуться на вакансию
                    .fg-accordion__section
                        a.fg-accordion__section_title.accordion-title(href="#")
                            b.text__lg.text--primary Электромонтажник
                        .fg-accordion__section_content.accordion-content
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Требования к соискателю:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Образование не ниже среднего (желательно высшее техническое, среднее техническое);
                                        br
                                        | Приветствуется прохождение тренингов продаж;
                                        br
                                        | Рассматриваются выпускники ВУЗов электротехнических и энергетических специальностей
                                        br
                                        | (возможно без опыта работы);
                                        br
                                        | Опыт  личных продаж от 1 года (желательно электротехнического/светотехнического;
                                        br
                                        | Низковольтного, строительного оборудования и материалов, кабельно-проводниковой продукции,
                                        br
                                        | услуг инжиниринга);
                                        br
                                        | Приветствуется опыт работы со следующими группами клиентов: строительно-монтажные организации,
                                        br
                                        | проектировщики, промышленные организации, корпоративные клиенты, оптовики электротехники;
                                        br
                                        | Навыки активного поиска клиентов;
                                        br
                                        | Личные качества: активность, ответственность, умение устанавливать контакты, упорство в достижение
                                        br
                                        | цели, клиентоориентированность, доброжелательность;
                                        br
                                        | Приветствуется знание рынка товаров, предоставляемых компанией «ФОРУМ ЭЛЕКТРО»;
                                        br
                                        | Компьютерная грамотность - уверенный пользователь офисных программам «MS OFFICE»;
                                        br
                                        | Желательно, знание 1С;
                                        br
                                        | Возраст от 22 до 45 лет, пол не имеет значения, гражданство РФ или РБ.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Должностные обязанности:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Оптовые продажи электротехнической, светотехнической и кабельно-проводниковой продукции;
                                        br
                                        | Активный поиск новых клиентов и работа с клиентами существующей базы, увеличение объёма продаж;
                                        br
                                        | Ведение переговоров, выезды к клиентам, консультирование по продукции, решение конфликтных ситуаций;
                                        br
                                        | Выполнение плана продаж продукции;
                                        br
                                        | Заключение договоров на поставку;
                                        br
                                        | Контроль отгрузок и платежей;
                                        br
                                        | Поддержание и расширение клиентской базы;
                                        br
                                        | Контроль выполнения обязательств.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Условия работы:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Компания предлагает стабильную  официальную заработную плату (фиксированный оклад (размер определяется
                                        | по результатам собеседования в зависимости от опыта работы и навыков кандидата)+проценты);
                                        br
                                        | оплачиваемый отпуск 28 календарных дней и оплачиваемые больничные;
                                        br
                                        | оплата мобильной связи;
                                        br
                                        | компенсация проезда при разъездном характере работы;
                                        br
                                        | возможность карьерного роста до ведущего менеджера по продажам;
                                        br
                                        | работа в дружном коллективе, возможность расти и развиваться в компании;
                                        br
                                        | график работы: 09:00-18:00, (суб./воск. - выходные);
                                        br
                                        | Испытательный срок 1,5-3 месяца.
                            .row
                                .cell.cell__md-2.cell__xs-12
                                    p: b Адрес:
                                .cell.cell__md-9.cell__xs-12
                                    p.text__xs Московская область, г. Долгопрудный, мкр. Хлебниково
                            .text--center.margtop30
                                a.btn.btn--transparent.popup-modal(href="#resume-id") Откликнуться на вакансию