//- mixins


//- menu
mixin menu(items)
    ul.main-nav__items(itemscope, itemtype="http://schema.org/SiteNavigationElement")
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a(href="#{item.href}", title="#{item.title}", itemprop="url")= item.title
                ul.sub-nav.main-nav__items
                    each subitem in item.subitems
                        li.main-nav__item
                            a(href="#{subitem.href}", title="#{subitem.title}")= subitem.title

//- tags
mixin tags(...items)
    .fg-tags
        ul.list--inline.margbot0
            each item in items
                li
                    .fg-tags__item= item
                        span.fg-tags--js  x
            //li
            //    .btn__icon--center.fg-tags__item
            //        i.icon.icon-30.icon--more
        a.btn--link(href="#"): span Сбросить фильтры (6)


//- form-input
mixin fieldInput(type, name, id, label, required)
    fieldset
        input.form-control(type=type, name=name, id=id, required=required)
        label(for=id) #{label}

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, required)
    label(for=id) #{label}
    textarea.form-control(name=name, id=id, placeholder=placeholder, rows=rows,  required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps
mixin maps(name)
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg
                i.icon.icon-23.icon--location
                span=name
        .fg-accordion__section_content.accordion-content.fg-contacts__map
            .clearfix
                .pull-left.cell__lg-4.cell__md-5.cell__xs-12.accordion.fg-contacts--inner
                    .fg-contacts__mark.accordion-title.active
                        span(itemprop="name") Центральный офис продаж
                            br
                            |  АО «ФОРУМ ЭЛЕКТРО»
                    .inner.accordion-content.active(style="display: block;")
                        ul.list--unstyled.text__xs.mini-contacts(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                            li
                                p
                                    span(itemprop="addressLocality") г. Москва,
                                    span(itemprop="streetAddress") ул. 8 Марта, д.1,
                                        br
                                        | стр. 12. Корпус №1
                            li
                                p(itemprop="telephone")
                                    i.icon.icon-23.icon--phone
                                    |  +7 911 123-45-67
                            li
                                p(itemprop="email")
                                    i.icon.icon-23.icon--mail
                                    |  mail@forumgroup.ru
                            li
                                p
                                    i.icon.icon-23.icon--flower
                                    |  icq:123456789
                    .fg-contacts__mark.accordion-title.active
                        span(itemprop="name") Центральный офис продаж
                            br
                            |  АО «ФОРУМ ЭЛЕКТРО»
                    .inner.accordion-content.active(style="display: block;")
                        ul.list--unstyled.text__xs.mini-contactss(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                            li
                                p
                                    span(itemprop="addressLocality") г. Москва,
                                    span(itemprop="streetAddress") ул. 8 Марта, д.1,
                                        br
                                        | стр. 12. Корпус №1
                            li
                                p(itemprop="telephone")
                                    i.icon.icon-23.icon--phone
                                    |  +7 911 123-45-67
                            li
                                p(itemprop="email")
                                    i.icon.icon-23.icon--mail
                                    |  mail@forumgroup.ru
                            li
                                p
                                    i.icon.icon-23.icon--flower
                                    |  icq:123456789
                    .fg-contacts__mark.accordion-title.active
                        span Центральный офис продаж
                            br
                            |  АО «ФОРУМ ЭЛЕКТРО»
                    .inner.accordion-content.active(style="display: block;")
                        ul.list--unstyled.text__xs.mini-contacts
                            li
                                p г. Москва, ул. 8 Марта, д.1,
                                    br
                                    | стр. 12. Корпус №1
                            li
                                p
                                    i.icon.icon-23.icon--phone
                                    |  +7 911 123-45-67
                            li
                                p
                                    i.icon.icon-23.icon--mail
                                    |  mail@forumgroup.ru
                            li
                                p
                                    i.icon.icon-23.icon--flower
                                    |  icq:123456789
                    .fg-contacts__mark.accordion-title
                        span Центральный офис продаж
                            br
                            |  АО «ФОРУМ ЭЛЕКТРО»
                    .inner.accordion-content
                        ul.list--unstyled.text__xs.mini-contacts
                            li
                                p г. Москва, ул. 8 Марта, д.1,
                                    br
                                    | стр. 12. Корпус №1
                            li
                                p
                                    i.icon.icon-23.icon--phone
                                    |  +7 911 123-45-67
                            li
                                p
                                    i.icon.icon-23.icon--mail
                                    |  mail@forumgroup.ru
                            li
                                p
                                    i.icon.icon-23.icon--flower
                                    |  icq:123456789
                    .fg-contacts__mark.accordion-title
                        span Центральный офис продаж
                            br
                            |  АО «ФОРУМ ЭЛЕКТРО»
                    .inner.accordion-content
                        ul.list--unstyled.text__xs.mini-contacts
                            li
                                p г. Москва, ул. 8 Марта, д.1,
                                    br
                                    | стр. 12. Корпус №1
                            li
                                p
                                    i.icon.icon-23.icon--phone
                                    |  +7 911 123-45-67
                            li
                                p
                                    i.icon.icon-23.icon--mail
                                    |  mail@forumgroup.ru
                            li
                                p
                                    i.icon.icon-23.icon--flower
                                    |  icq:123456789
                .pull-left.cell__lg-8.cell__md-7.cell__xs-12.fg-contacts--mapinner
                    img(src="images/map.png", alt="")
            .details
                h3 Реквизиты
                span ООО «Формум Нева»
                    br
                    | Россия, 196084, Санкт-Петербург, ул. Коли Томчака 28/1 БЦ «Гепард», оф. 312.
                    br
                    | ИНН 7810559103
                    br
                    | КПП 781001001
                    br
                    | ОГРН 1097847194983
                    br
                    | ОКПО 61083537
                    br
                    | ОКАТО 40284561000
                    br
                    | р/с 40702810494670000028
                    br
                    | к/с 30101810100000000778
                    br
                    | Северо-Западный филиал ОАО АКБ «РОСБАНК»
                    br
                    | БИК 044030778


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';
