.cards__item(itemscope, itemtype="http://schema.org/Product")
    .cards__img.cell__md-3
        img(src="images/goods-3.jpg", alt="", itemprop="image")
    .cards__desc.cell__md-9
        .cards__top
            .cards__name
                ul.list--inline-pure.margtop-5
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                span.text--warning(itemprop="name") Кабель NYM ТУ 3 х 1.5 100 м
                ul.list--counter(itemprop="description")
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
            .cards__price(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
                link(itemprop="availability", href="http://schema.org/InStock")
                .cards__counter
                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                    aria-expanded="false")
                        i.icon.icon-23.icon--locadd
                        span Нет на складе
                    include _dropdown
                .price.price--new.margtop-5
                    span(itemprop="price")  2 910 ₽
                    meta(itemprop="priceCurrency", content="RUB")
                .price.price--old 3 630 ₽
                .price.price--bonus + 10 бонусов
    .cards__desc.cell__md-9.cell__xs-12
        .cards__bottom
            ul.list--inline-pure.text--right
                li Кол-во
                    span
                    | кратно 10 м
                li(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
                li.text--right: a.btn.btn--primary.btn__lg(href="#") в корзину
                li: a.text--uppercase.text--info(href="#")
                    i.icon.icon-23.icon--change
                    |  Заменить товар в корзине