.cards__item
    .cards__desc.cards__desc--noimg
        .cards__top
            .cards__name
                ul.list--inline-pure.margtop-5
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                span.text--warning Кабель NYM ТУ 3 х 1.5 100 м
                ul.list--counter
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
            .cards__price
                .cards__counter
                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                    aria-expanded="false")
                        i.icon.icon-23.icon--locadd
                        span На складе: 1 500
                    include _dropdown
                .price.margtop-5
                    span  2 910 ₽
        .cards__bottom
            ul.list--inline.text--right
                li.text__xlg--right.text--left Кол-во
                    |  кратно 10 м
                li(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
                li: a.btn.btn--full.btn--primary.btn__lg(href="#") в корзину