.cards__item
    .cards__img.cards__img--full.margbot20
        img(src="images/goods-11.jpg", alt="")
    .cards__desc.cards__desc--noimg
        .cards__top
            .cards__name.cards__name--full
                ul.list--inline-pure.margtop-5
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                b.text--warning Кабель NYM ТУ 3 х 1.5 100 м
                ul.list--counter.margbot0
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
                ul.list--table.margbot10
                    li
                        a.btn--link.popup-modal.hidden__sm.hidden__xs.hidden__md(href="#analog-id")
                            i.icon.icon-23.icon--comparison
                            span Аналоги
                        a.btn--link.hidden__lg.hidden__xlg(href="#")
                            i.icon.icon-23.icon--comparison
                            span Аналоги
                    li.text--right
                        a.btn--link(href="#")
                            i.icon.icon-23.icon--sitemap
                            span Совместимые
            .cards__price.cards__price--full
                ul.list--table
                    li
                        .relative.margbot10
                            a.text--success.counter(href="#", data-toggle="dropdown",
                            aria-haspopup="true",
                            aria-expanded="false")
                                i.icon.icon-23.icon--locadd
                                span На складе: 1 500
                            include _dropdown
                        p Кол-во кратно 10 м
                    li.text--right
                        .price.price--full.price--new
                            span  2 910 ₽
                        .price.price--full.price--old 3 630 ₽
                        .price.price--full.price--bonus + 10 бонусов
        .cards__bottom

            ul.list--table
                li(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
                li.text--right: a.btn.btn--primary.btn__lg(href="#") в корзину