.cards__item
    .cards__name.cards__name--full.margbot10
        ul.list--inline-pure
            li Арт. 3849943
            li.text__xs.text--info Код FRM123451
        b.text--warning Кабель NYM ТУ 3 х 1.5 100 м
    .cards__img.cards__img--full.margbot20
        img(src="images/goods-11.jpg", alt="")
    .cards__desc.cards__desc--noimg
        .cards__price.cards__price--full
            ul.list--table.margbot10
                li.v-top
                    .price.price--full.price--new
                        span  2 910 000 ₽
                    .price.price--full.price--old 3 630 ₽
                    .price.price--full.price--bonus + 10 бонусов
                li.v-top(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
                    .relative.text--right
                        a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",  aria-expanded="false")
                            i.icon.icon-23.icon--locadd
                            span  1 500
                        include ../cards/_dropdown
        .cards__top
            .cards__name.cards__name--full
                ul.list--counter.margbot0
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
        .cards__bottom
            a.btn.btn--full.btn--primary.btn__lg(href="#") в корзину