h3 Совместимые товары
.fg-accordion.accordion
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg.text--primary Кабель и изоляционная арматура
            span  45
        .fg-accordion__section_content.accordion-content.pad0
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_analogs
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_analogs
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_card-mobile
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg.text--primary Кабель каналы
            span  61
        .fg-accordion__section_content.accordion-content.pad0
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_analogs
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_analogs
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_card-mobile
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg.text--primary Кабель и изоляционная арматура
            span  45
        .fg-accordion__section_content.accordion-content.pad0
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_analogs
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_analogs
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_card-mobile
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg.text--primary Металические лотки. Кабельные эстакады
            span  13
        .fg-accordion__section_content.accordion-content.pad0
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_analogs
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_analogs
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_card-mobile
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
    .fg-accordion__section
        a.fg-accordion__section_title.accordion-title(href="#")
            b.text__lg.text--primary Изделия для изоляции, крепежа и маркировки
            span  24
        .fg-accordion__section_content.accordion-content.pad0
            .hidden__sm.hidden__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_analogs
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_analogs
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть
            .visible__sm.visible__xs
                .cards
                    - for (var x = 1; x < 4; x++)
                        include ../cards/_card-mobile
                .cards
                    .hide--all(style="display:none")
                        - for (var x = 1; x < 4; x++)
                            include ../cards/_card-mobile
                ul.list--inline-pure.text--center.padtop20.padbot20
                    li.show--all: a.btn.btn--transparent(href="#") Посмотреть еще
                    li.accordion-btn: a.btn.btn--default(href="#") Свернуть