// desktop cards
.cards__item.hidden__xs.hidden__sm
    .cards__img.cell__xlg-4.cell__lg-3.cell__md-5.cell__xs-12
        .clearfix
            .pull-left.cell__xlg-9.cell__xs-12
                .slider-for.imageLink
                    div: a(href="images/card-big-1.jpg"): img(src="images/card.jpg", alt="", itemprop="image")
                    div: a(href="images/card-big-2.jpg"): img(src="images/card.jpg", alt="", itemprop="image")
            .pull-right.cell__xlg-3.cell__xs-12.hidden__md.hidden__sm.hidden__xs.text__xlg--right.text--center
                .slider-nav
                    div: img(src="images/card-nav.jpg", alt="")
                    div: img(src="images/card-nav.jpg", alt="")
    .cards__desc.cell__xlg-8.cell__lg-9.cell__md-7.cell__xs-12
        .cards__top
            .cards__name
                ul.list--inline-pure.margtop-5
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                ul.list--counter
                    li
                        span.key Серия
                        span.value 04-313
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
            .cards__price(itemprop="offers", itemscope itemtype="http://schema.org/Offer")
                link(itemprop="availability", href="http://schema.org/InStock")
                .cards__counter
                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                    aria-expanded="false")
                        i.icon.icon-23.icon--locadd
                        span На складе: 1 500
                    include _dropdown
                .price.price--new.margtop-5
                    span(itemprop="price")  2 910 ₽
                    meta(itemprop="priceCurrency", content="RUB")
                .price.price--old 3 630 ₽
                .price.price--bonus + 10 бонусов
        ul.list--inline-pure.margtop20.visible__md
            li
                a.btn--link.popup-modal.hidden__sm.hidden__xs.hidden__md(href="#analog-id")
                    i.icon.icon-cards.icon--comparison-o
                    span Товары-аналоги
                a.btn--link.hidden__lg.hidden__xlg(href="#")
                    i.icon.icon-cards.icon--comparison-o
                    span Товары-аналоги
            li
                a.btn--link(href="#")
                    i.icon.icon-cards.icon--sitemap-o
                    span Совместимые товары
    .cards__desc.cell__xlg-8.cell__lg-9.cell__xs-12
        .cards__bottom
            ul.list--table
                li.cell__xlg-4
                    .text--info Цвет:
                    .radio.radio--inline
                        input(type="radio", id="color1", name="colors", checked)
                        label(for="color1")
                            span.cards-colors(style="background-color: #eaeaea;")
                    .radio.radio--inline
                        input(type="radio", id="color2", name="colors")
                        label(for="color2")
                            span.cards-colors(style="background-color: #f4d07d;")
                    .radio.radio--inline
                        input(type="radio", id="color3", name="colors")
                        label(for="color3")
                            span.cards-colors(style="background-color: #61b46f;")
                li Кол-во
                    span.visible__md.visible__lg
                    |  кратно 10 м
                li(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
                li.text--right
                    .btn__group
                        a.btn.btn--primary.btn__lg(href='#')
                            img.icon(src="images/icons/icon.png")
                            |  в корзину
                        a.btn.btn--transparent.btn__lg.popup-modal(href='#one-click')
                            img.icon(src="images/icons/icon2.png")
                            |  купить
        ul.list--inline-pure.margtop20.hidden__md
            li
                a.btn--link.popup-modal.hidden__sm.hidden__xs.hidden__md(href="#analog-id")
                    i.icon.icon-cards.icon--comparison-o
                    span Товары-аналоги
                a.btn--link.hidden__lg.hidden__xlg(href="#")
                    i.icon.icon-cards.icon--comparison-o
                    span Товары-аналоги
            li
                a.btn--link(href="#")
                    i.icon.icon-cards.icon--sitemap-o
                    span Совместимые товары
    if title == 'Кабель NYM ТУ 3 х 1.5 100 м'
        .clearfix
        h3 Товарные предложения
// desktop cards