.dropdown-menu.dropdown-menu--md
    a.close(href="#", data-toggle="dropdown",  aria-haspopup="false", aria-expanded="false"): i.icon.icon-23.icon--close
    form.text__xs
        h4.text--success  Наличие:
        ul.list--counter
            li
                span.key Москва
                span.sec.text--warning 300 м
                span.value.text--warning Сейчас
            li
                span.key Санкт-Петербург
                span.sec.text--warning 300 м
                span.value.text--warning Сейчас
            li
                span.key Центральный склад
                span.sec.text--warning 300 м
                span.value.text--warning 2-3 дня
        ul.list--counter
            li
                span.key При отсутствии на центральном складе
                span.value.text--warning 14 + 3 дня
        p.text--warning По запросу уточняйте у Вашего менеджера