// mobile cards
.cards__item.visible__xs.visible__sm
    .cards__img
        .clearfix
            .pull-left.cell__xs-12
                .slider-for.imageLink
                    div: a(href="images/card-big-1.jpg"): img(src="images/card.jpg", alt="")
                    div: a(href="images/card-big-2.jpg"): img(src="images/card.jpg", alt="")
            .pull-right.cell__xs-12.hidden__sm.hidden__xs
                .slider-nav
                    div: img(src="images/card-nav.jpg", alt="")
                    div: img(src="images/card-nav.jpg", alt="")
    .cards__desc
        .cards__top
            .cards__name
                ul.list--inline-pure
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                ul.list--counter
                    li
                        span.key Серия
                        span.value 04-313
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
                ul.list--table
                    li.v-bottom
                        .text--info Цвет:
                        .radio.radio--inline
                            input(type="radio", id="color4", name="colorsm", checked)
                            label(for="color4")
                                span.cards-colors(style="background-color: #eaeaea;")
                        .radio.radio--inline
                            input(type="radio", id="color5", name="colorsm")
                            label(for="color5")
                                span.cards-colors(style="background-color: #f4d07d;")
                        .radio.radio--inline
                            input(type="radio", id="color6", name="colorsm")
                            label(for="color6")
                                span.cards-colors(style="background-color: #61b46f;")
                    li.v-bottom
                        .cards__counter
                            a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                            aria-expanded="false")
                                i.icon.icon-23.icon--locadd
                                span 1 500
                            include _dropdown
        .cards__bottom
            ul.list--table
                li.cards__price
                    .price.price--new
                        span  2 910 ₽
                    .price.price--old 3 630 ₽
                    .price.price--bonus + 10 бонусов
                li(style="width: 98px;")
                    .value-input
                        input(class="form-control", type="number", value="10")
        .btn__group.btn--full.text--nowrap
            a.btn.btn--primary.btn__lg.t60(href='#')
                img.icon(src="images/icons/icon.png")
                |  в корзину
            a.btn.btn--transparent.btn__lg.t40.popup-modal(href='#one-click')
                img.icon(src="images/icons/icon2.png")
                |  купить
// mobile cards