.cards__item
    .cards__img.cell__md-2
        img(src="images/goods-3.jpg", alt="")
    .cards__desc.cell__md-10
        .cards__top
            .cards__name
                ul.list--inline-pure.margtop-5
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                span.text--warning Автоматические выключатели ВА47-29
                ul.list--counter
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Производитель
                        span.value Lappkabel
                    li
                        span.key Кол-во в наборе
                        span.value 2 шт
            .cards__price
                .cards__counter
                    a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                    aria-expanded="false")
                        i.icon.icon-23.icon--locadd
                        span Нет на складе
                    include _dropdown
                .price.price--new.margtop-5
                    span  2 910 ₽
                .price.price--old 3 630 ₽
                .price.price--bonus + 10 бонусов