// mobile cards
.cards__item.visible__xs.visible__sm
    .cards__img
        .imageLink
            a(href="images/card-big-2.jpg"): img(src="images/card.jpg", alt="")
    .cards__desc
        .cards__top
            .cards__name
                ul.list--inline-pure
                    li Арт. 3849943
                    li.text__xs.text--info Код FRM123451
                p.text--warning Автоматические выключатели ВА47-29
                ul.list--counter
                    li
                        span.key Кол-во в упаковке
                        span.value 500 м
                    li
                        span.key Кол-во в упаковке
                        span.value Lappkabel
                    li
                        span.key Кол-во в наборе
                        span.value 2 шт
                ul.list--table
                    li.v-top
                        .cards__counter
                            a.text--success.counter(href="#", data-toggle="dropdown", aria-haspopup="true",
                            aria-expanded="false")
                                i.icon.icon-23.icon--locadd
                                span  На складе: 1 500
                            include _dropdown
                    li.cards__price.text--right
                        .price.price--new
                            span  2 910 ₽
                        .price.price--old 3 630 ₽
                        .price.price--bonus + 10 бонусов
// mobile cards