extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Новости'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_allnews

block siteFooter
    include partials/_footer
