extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Аналоги для Кабель NYM ТУ 3 х 1.5 100 м'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_analogues

block siteFooter
    include partials/_footer
