extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Архив новостей'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_archnews

block siteFooter
    include partials/_footer
