extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Бренды производителей'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_brands

block siteFooter
    include partials/_footer
