extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'ITK'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_brand

block siteFooter
    include partials/_footer
