extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Щитки осветительные серии ОЩВ'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card-set

block siteFooter
    include partials/_footer
