extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Сертификаты'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_certificates

block siteFooter
    include partials/_footer
