extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Кабель и изоляционная арматура'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_goods

block siteFooter
    include partials/_footer
