extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Главная'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_index

block siteFooter
    include partials/_footer
