extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Оформление заказа'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_lk-ordersimple-1

block siteFooter
    include partials/_footer
