extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Личный кабинет'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_lk-orders-list

block siteFooter
    include partials/_footer
