extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Новое поступление от DKC'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news

block siteFooter
    include partials/_footer
