extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Результаты поиска'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_search

block siteFooter
    include partials/_footer
