extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Акция на испытательные коробки переходные серии ИКП'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_share

block siteFooter
    include partials/_footer
