extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Акции'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_shares

block siteFooter
    include partials/_footer
