extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Типовая страница'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_typing

block siteFooter
    include partials/_footer
