extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Кабинет'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_main

block siteFooter
    include partials/_footer
