extends layouts/_default

block title
    title ФорумЭлектро
    - var title = 'Вакансии'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_vacancies

block siteFooter
    include partials/_footer
