//- Custom Configuration
block config
  - var baseUrl = '/'

doctype html
html(lang="en")

  include ../mixins/_mixins

  head
    include ../partials/_head

  block pageName
    -var pageName = "main"

  body(class="page-#{pageName}")
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->
    .shadow
    include ../components/_popup

    //- header
    block siteHeader
    //- main
    block siteMain
    //- footer
    block siteFooter

    block scripts
      <!--[if lt IE 9]>
      script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
      <![endif]-->
      script(src= "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
      //- build:js(.tmp) scripts/jq.js -->
      script(src='../bower_components/jquery/dist/jquery.js')
      //- endbuild -->
      //- build:js(./app/) scripts/plugins.js -->
      //- bower:js
      script(src='../bower_components/slick-carousel/slick/slick.js')
      script(src='../bower_components/select2/dist/js/select2.js')
      script(src='../bower_components/magnific-popup/dist/jquery.magnific-popup.js')
      script(src='../bower_components/nouislider/distribute/nouislider.js')
      script(src='../bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.js')
      script(src='../bower_components/sticky-kit/jquery.sticky-kit.js')
      script(src='../bower_components/pickmeup/dist/pickmeup.min.js')
      //- endbower
      script(src='scripts/plugins/jquery.maskedinput.min.js')
      script(src='scripts/plugins/bootstrap.min.js')
      script(src='../bower_components/pickmeup/js/pickmeup.js')
      script(src='../bower_components/pickmeup/js/jquery.pickmeup.twitter-bootstrap.js')
      //- endbuild -->
      //- build:js(.tmp) scripts/main.js -->
      script(src="scripts/main.js")
      //- endbuild -->